{# src/LBF/UserBundle/Resources/view/layout.html.twig #}
{% set route = app.request.attributes.get( '_route' ) %}

{% extends "::index_base.html.twig" %}

{% block body %}

  {# On affiche les messages flash que définissent les contrôleurs du bundle #}
  {# for key, message in app.session.flashbag.all() %}
    <div class="alert alert-{{ key }}">
      {{ message|trans({}, 'FOSUserBundle') }}
    </div>
  {% endfor #}

  <!-- BEGIN CONTENT -->
  <div id="page_content" class="row">

    <!-- BEGIN CONTENT -->
    <div id="fullpage" class="login_background">

      <div class="section" id="section4">

        <div id="sectionContentAjax">
          <div class="row60" id="login_section">
            <div id="login_content">    <!-- Element loading -->

                <!-- Begin Top Buttons -->
                  <!-- <a href="{{ path('lbf_main_homepage') }}" class="btn btn-log float-right top_button">
                    {{ 'user.actions.home'|trans }}
                    <i class="fa fa-sign-in"></i>
                  </a> -->
                {# if (route != 'fos_user_security_login') %}
                  <button onClick="loadContentLogin('{{ path('fos_user_security_login') }}')" class="btn btn-log float-right top_button">
                    {{ 'header.titles.login' | trans }}
                    <i class="fa fa-sign-in"></i>
                  </button>
                {% endif #}
                <!-- End Top Buttons -->

                {% if (route == 'fos_user_resetting_request') 
                    or (route == 'fos_user_resetting_reset') %}

                  <div class="row">
                    <div class="col-md-9 col-xs-9">
                      <h2>
                        {{ 'forgotPassword.titles.forgotPassword'|trans }}
                      </h2>
                    </div>
                    <div class="col-md-3 col-xs-3 right">
                      <a href="javascript:loadContentLogin('{{ path('fos_user_security_login') }}')" style="no_style_a">
                        <button class="btn btn-log">
                          {{ 'login.actions.back' | trans }}
                        </button>
                      </a>
                    </div>
                  </div>
                  <hr/>

                  <div>
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                  </div>

                {% elseif (route == 'fos_user_change_password') %}

                  <div class="row">
                    <div class="col-md-9 col-xs-9">
                      <h2>
                        {{ 'resetPassword.titles.resetPassword'|trans }}
                      </h2>
                    </div>
                    <div class="col-md-3 col-xs-3 right">
                      <a href="javascript:loadContentLogin('{{ path('fos_user_security_login') }}')" style="no_style_a">
                        <button class="btn btn-log">
                          {{ 'login.actions.back' | trans }}
                        </button>
                      </a>
                    </div>
                  </div>
                  <hr/>

                  <div>
                    <!-- BEGIN RESETTNG PASSWORD FORM -->
                    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password login-form">
                      
                      <div class="form-group">
                        {% set currentPassword_title = 'resetPassword.titles.enterOld' | trans %}
                        {% if form_errors(form.current_password) %}
                          <div class="error_message">
                            <span class="warning_word">
                              {{ 'user.warning.warning'|trans }}
                            </span>
                            <span class="warning_message">
                              {{ form_errors(form.current_password) }}
                            </span>
                          </div>
                          <br/>
                        {% endif %}
                        <div class="input-icon">
                          <i class="fa fa-pencil"></i>
                          {% set opt_currentPassword = {'attr': {'class': 'form-control placeholder-no-fix',
                            'type':'text', 'placeholder': currentPassword_title, 'id':'current_password', 
                            'name':'_current_password', 'required':'required', 'autofocus':''}} %}
                          {{ form_widget(form.current_password, opt_currentPassword) }}
                        </div>
                      </div>
                      <div class="form-group">
                        {% set new_password_title = 'resetPassword.titles.enterNew' | trans %}
                        {% if form_errors(form.plainPassword.first) %}
                          <div class="error_message">
                            <span class="warning_word">
                              {{ 'user.warning.warning'|trans }}
                            </span>
                            <span class="warning_message">
                              {{ form_errors(form.plainPassword.first) }}
                            </span>
                          </div>
                          <br/>
                        {% endif %}
                        <div class="input-icon">
                          <i class="fa fa-pencil"></i>
                          {% set opt_new_password = {'attr': {'class': 'form-control placeholder-no-fix',
                            'type':'text', 'placeholder': new_password_title, 'id':'new_password', 
                            'name':'_new_password', 'required':'required'}} %}
                          {{ form_widget(form.plainPassword.first, opt_new_password) }}
                        </div>
                      </div>
                      <div class="form-group">
                        {% set new_password_confirmation_title = 'resetPassword.titles.reEnterNew' | trans %}
                        {% if form_errors(form.plainPassword.second) %}
                          <div class="error_message">
                            <span class="warning_word">
                              {{ 'user.warning.warning'|trans }}
                            </span>
                            <span class="warning_message">
                              {{ form_errors(form.plainPassword.second) }}
                            </span>
                          </div>
                          <br/>
                        {% endif %}
                        <div class="input-icon">
                          <i class="fa fa-pencil"></i>
                          {% set opt_new_password_confirmation = {'attr': {'class': 'form-control placeholder-no-fix',
                            'type':'text', 'placeholder': new_password_confirmation_title, 'id':'new_password_confirmation', 
                            'name':'_new_password_confirmation', 'required':'required'}} %}
                          {{ form_widget(form.plainPassword.second, opt_new_password_confirmation) }}
                        </div>
                      </div>
                      <div class="form-actions">
                        <button type="submit" class="btn btn-log pull-right">
                          {{ 'resetPassword.actions.changePassword'|trans }}
                          <i class="m-icon-swapright m-icon-white"></i>
                        </button>
                      </div>
                      <!-- Et le reste du formulaire ... :) -->
                      {{ form_widget(form) }}
                    </form>
                  </div>
              <!-- END RESETTNG PASSWORD FORM -->
              


              {% elseif (route == 'fos_user_registration_register') %}

                <div class="row">
                  <div class="col-md-4 col-xs-4 center login_titles login_title_other">
                    <a href="javascript:loadContentLogin('{{ path('fos_user_security_login') }}')" class="no_style_a">
                      <h2>
                        {{ 'login.titles.loginTitle'|trans }}
                      </h2>
                    </a>
                  </div>
                  <div class="col-md-4 col-xs-4 center login_titles">
                      <h2>
                      {{ 'login.titles.or'|trans }}
                      </h2>
                  </div>
                  <div class="col-md-4 col-xs-4 center login_titles login_title_active">
                      <h2>
                        {{ 'registerUser.titles.signUp'|trans }}
                      </h2>
                  </div>
                </div>

                <div>
                  <div class="row center">
                    You are:
                    <input type="radio" name="register_form" value="user_type" id="user_type" onClick="showRegisterSelect()"/>
                    <label for="user_type">User</label>
                    <input type="radio" name="register_form" value="company_type" id="company_type" onClick="showRegisterSelect()"/>
                    <label for="company_type">Company</label>
                  </div>
                    
                    <script type="text/javascript">
                      function showRegisterSelect() {
                          if (document.getElementById('user_type').checked) {
                              document.getElementById('user_type_form').style.display = 'block';
                              document.getElementById('company_type_form').style.display = 'none';
                          }
                          else {
                              document.getElementById('user_type_form').style.display = 'none';
                              document.getElementById('company_type_form').style.display = 'block';
                          }
                        }
                    </script>

                    <div style="display:none;" id="user_type_form">

                      <!-- BEGIN REGISTRATION FORM -->
                      <form class="register-form" action="{{ path('fos_user_registration_register') }}" method="post" {{ form_enctype(form) }} >
                          
                          {% if form_errors(form) %}
                            <div class="error_message">
                              <span class="warning_word">
                                {{ 'user.warning.warning'|trans }}
                              </span>
                              <span class="warning_message">
                                {{ form_errors(form) }}
                              </span>
                            </div>
                            <br/>
                          {% endif %}


                        <div class="form-group">
                          
                          {{ form_label(form.username) }}
                          <div class="input-icon">
                            <i class="fa fa-user"></i>
                            {% set opt_username_input = {'attr': {'class': 'form-control placeholder-no-fix',
                              'type':'hidden', 'value': 'nothing', 'id':'username', 'name':'username'}} %}
                            {{ form_widget(form.username, opt_username_input) }}
                          </div>
                          <!-- <input type="hidden" value="nothing" name="username" id="username"> -->
                        </div>

                        <div class="form-group">
                          {% set email_input = 'registerUser.titles.email' | trans %}
                          {% if form_errors(form.email) %}
                            <div class="error_message">
                              <span class="warning_word">
                                {{ 'user.warning.warning'|trans }}
                              </span>
                              <span class="warning_message">
                                {{ form_errors(form.email) }}
                              </span>
                            </div>
                            <br/>
                          {% endif %}
                          {{ email_input }}
                          <div class="input-icon">
                            <i class="fa fa-envelope"></i>
                            {% set opt_email_input = {'attr': {'class': 'form-control placeholder-no-fix',
                              'type':'text', 'placeholder': email_input, 'id':'email',
                              'name':'email', 'required':'required', 'autofocus':''}} %}
                            {{ form_widget(form.email, opt_email_input) }}
                          </div>
                        </div>

                         <div class="form-group">
                          {% set password_input = 'registerUser.titles.password' | trans %}
                          {% if form_errors(form.plainPassword.first) %}
                            <div class="error_message">
                              <span class="warning_word">
                                {{ 'user.warning.warning'|trans }}
                              </span>
                              <span class="warning_message">
                                {{ form_errors(form.plainPassword.first) }}
                              </span>
                            </div>
                            <br/>
                          {% endif %}
                          {{ password_input }}
                          <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            {% set opt_password_input = {'attr': {'class': 'form-control placeholder-no-fix',
                              'type':'password', 'placeholder': password_input, 'id':'password', 'autocomplete':'off',
                              'name':'password', 'required':'required'}} %}
                            {{ form_widget(form.plainPassword.first, opt_password_input) }}
                          </div>
                        </div>

                        <div class="form-group">
                          {% set rePassword_input = 'registerUser.titles.rePassword' | trans %}
                          {% if form_errors(form.plainPassword.second) %}
                            <div class="error_message">
                              <span class="warning_word">
                                {{ 'user.warning.warning'|trans }}
                              </span>
                              <span class="warning_message">
                                {{ form_errors(form.plainPassword.second) }}
                              </span>
                            </div>
                            <br/>
                          {% endif %}
                          {{ rePassword_input }}
                          <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            {% set opt_rePassword_input = {'attr': {'class': 'form-control placeholder-no-fix',
                              'type':'password', 'placeholder': rePassword_input, 'id':'rpassword', 'autocomplete':'off',
                              'name':'rpassword', 'required':'required'}} %}
                            {{ form_widget(form.plainPassword.second, opt_rePassword_input) }}
                          </div>
                        </div>

                        <div class="form-group web_conditions_box">
                          <label for="conditions" class="checkbox">
                            <div class="checker">
                              <span>
                                <input type="checkbox" id="conditions" name="_conditions" value="on" required="required"/>
                              </span>
                            </div> 
                            {{ 'registerUser.titles.iAgreeToThe'|trans }}
                            <a href="#">
                              {{ 'registerUser.titles.TermsOfService'|trans }}
                            </a>
                            {{ 'registerUser.titles.and'|trans }}
                            <a href="#">
                              {{ 'registerUser.titles.PrivacyPolicy'|trans }}
                            </a>
                          </label>
                        </div>
                        <div class="form-actions center">
                          <button type="submit" id="register-submit-btn" class="btn btn-log">
                            {{ 'registerUser.actions.signUp'|trans }}
                            <i class="m-icon-swapright m-icon-white"></i>
                          </button>
                        </div>

                        <!-- Ce qu'il reste du formulaire ... ;) -->
                        {{ form_widget(form) }}
                      </form>
                      <!-- END REGISTRATION FORM -->
                    </div>

                    <div style="display:none;" id="company_type_form">
                      <!-- BEGIN COMPANY FORM -->
                      <form class="register-form" action="{{ path('fos_user_registration_register') }}" method="post" {{ form_enctype(form) }} >
                          
                          {% if form_errors(form) %}
                            <div class="error_message">
                              <span class="warning_word">
                                {{ 'user.warning.warning'|trans }}
                              </span>
                              <span class="warning_message">
                                {{ form_errors(form) }}
                              </span>
                            </div>
                            <br/>
                          {% endif %}


                        <div class="form-group">
                          {% set username_input = 'registerUser.titles.username' | trans %}
                          {% if form_errors(form.username) %}
                            <div class="error_message">
                              <span class="warning_word">
                                {{ 'user.warning.warning'|trans }}
                              </span>
                              <span class="warning_message">
                                {{ form_errors(form.username) }}
                              </span>
                            </div>
                            <br/>
                          {% endif %}
                          {{ form_label(form.username) }}
                          <div class="input-icon">
                            <i class="fa fa-user"></i>
                            {% set opt_username_input = {'attr': {'class': 'form-control placeholder-no-fix',
                              'type':'text', 'placeholder': username_input, 'id':'username', 
                              'name':'username', 'required':'required', 'autofocus':''}} %}
                            {{ form_widget(form.username, opt_username_input) }}
                          </div>
                        </div>

                        <div class="form-group">
                          {% set email_input = 'registerUser.titles.email' | trans %}
                          {% if form_errors(form.email) %}
                            <div class="error_message">
                              <span class="warning_word">
                                {{ 'user.warning.warning'|trans }}
                              </span>
                              <span class="warning_message">
                                {{ form_errors(form.email) }}
                              </span>
                            </div>
                            <br/>
                          {% endif %}
                          {{ email_input }}
                          <div class="input-icon">
                            <i class="fa fa-envelope"></i>
                            {% set opt_email_input = {'attr': {'class': 'form-control placeholder-no-fix',
                              'type':'text', 'placeholder': email_input, 'id':'email',
                              'name':'email', 'required':'required'}} %}
                            {{ form_widget(form.email, opt_email_input) }}
                          </div>
                        </div>

                         <div class="form-group">
                          {% set password_input = 'registerUser.titles.password' | trans %}
                          {% if form_errors(form.plainPassword.first) %}
                            <div class="error_message">
                              <span class="warning_word">
                                {{ 'user.warning.warning'|trans }}
                              </span>
                              <span class="warning_message">
                                {{ form_errors(form.plainPassword.first) }}
                              </span>
                            </div>
                            <br/>
                          {% endif %}
                          {{ password_input }}
                          <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            {% set opt_password_input = {'attr': {'class': 'form-control placeholder-no-fix',
                              'type':'password', 'placeholder': password_input, 'id':'password', 'autocomplete':'off',
                              'name':'password', 'required':'required'}} %}
                            {{ form_widget(form.plainPassword.first, opt_password_input) }}
                          </div>
                        </div>

                        <div class="form-group">
                          {% set rePassword_input = 'registerUser.titles.rePassword' | trans %}
                          {% if form_errors(form.plainPassword.second) %}
                            <div class="error_message">
                              <span class="warning_word">
                                {{ 'user.warning.warning'|trans }}
                              </span>
                              <span class="warning_message">
                                {{ form_errors(form.plainPassword.second) }}
                              </span>
                            </div>
                            <br/>
                          {% endif %}
                          {{ rePassword_input }}
                          <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            {% set opt_rePassword_input = {'attr': {'class': 'form-control placeholder-no-fix',
                              'type':'password', 'placeholder': rePassword_input, 'id':'rpassword', 'autocomplete':'off',
                              'name':'rpassword', 'required':'required'}} %}
                            {{ form_widget(form.plainPassword.second, opt_rePassword_input) }}
                          </div>
                        </div>

                        <div class="form-group web_conditions_box">
                          <label for="conditions" class="checkbox">
                            <div class="checker">
                              <span>
                                <input type="checkbox" id="conditions" name="_conditions" value="on" required="required"/>
                              </span>
                            </div> 
                            {{ 'registerUser.titles.iAgreeToThe'|trans }}
                            <a href="#">
                              {{ 'registerUser.titles.TermsOfService'|trans }}
                            </a>
                            {{ 'registerUser.titles.and'|trans }}
                            <a href="#">
                              {{ 'registerUser.titles.PrivacyPolicy'|trans }}
                            </a>
                          </label>
                        </div>
                        <div class="form-actions center">
                          <button type="submit" id="register-submit-btn" class="btn btn-log">
                            {{ 'registerUser.actions.signUp'|trans }}
                            <i class="m-icon-swapright m-icon-white"></i>
                          </button>
                        </div>

                        <!-- Ce qu'il reste du formulaire ... ;) -->
                        {{ form_widget(form) }}
                      </form>
                      <!-- END COMPANY FORM -->
                    </div>
                </div>

              {% elseif route == 'fos_user_security_login' %}
                <div class="row">
                  <div class="col-md-4 col-xs-4 center login_titles login_title_active">
                      <h2>
                        {{ 'login.titles.loginTitle'|trans }}
                      </h2>
                  </div>
                  <div class="col-md-4 col-xs-4 center login_titles">
                      <h2>
                        {{ 'login.titles.or'|trans }}
                      </h2>
                  </div>
                  <div class="col-md-4 col-xs-4 center login_titles login_title_other">
                    <a href="javascript:loadContentLogin('{{ path('fos_user_registration_register') }}')" class="no_style_a">
                      <h2>
                        {{ 'registerUser.titles.signUp'|trans }}
                      </h2>
                    </a>
                  </div>
                </div>

                <div>
                  <!-- BEGIN LOGIN FORM -->
                    <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                      
                        {% if error %}
                            <div class="error_message">
                              <span class="warning_word">
                                {{ 'user.warning.warning'|trans }}
                              </span>
                              <span class="warning_message">
                                {{ error|trans }}
                              </span>
                            </div>
                            <br/>
                        {% endif %}

                      <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9" for="username">
                          {{ 'login.titles.email'|trans }}
                        </label>
                        <div class="input-icon">
                          <i class="fa fa-user"></i>
                          <input class="form-control placeholder-no-fix" type="text" placeholder="{{ 'login.titles.email'|trans }}" value="{{ last_username }}" id="username" name="_username" required="required" autofocus>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9" for="password">
                          {{ 'login.titles.password'|trans }}
                        </label>
                        <div class="input-icon">
                          <i class="fa fa-lock"></i>
                          <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="{{ 'login.titles.password'|trans }}" id="password" name="_password" required="required">
                        </div>
                      </div>
                      <div class="form-actions remember_me_box">
                        <label for="remember_me" class="checkbox">
                          <div class="checker">
                            <span>
                              <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                            </span>
                          </div> 
                          {{ 'login.actions.remember_me'|trans }}
                        </label>
                        <button type="submit" data-loading-text="{{ 'welcome.buttons.loading' | trans }}" class="demo-loading-btn btn btn-log center">
                          {{ 'login.actions.login'|trans }}
                          <i class="fa fa-sign-in"></i>
                        </button>
                      </div>

                      <br/><br/>
                      
                      <div class="forget-password center">
                        <a href="javascript:loadContentLogin('{{ path('fos_user_resetting_request') }}')">
                          {{ 'login.titles.forgetPassword'|trans }}
                        </a>
                      </div>
                    </form>
                </div>
                <!-- END LOGIN FORM -->

              {% elseif route == 'fos_user_registration_check_email' %}
                <h2>
                  Check your emails
                </h2>
                <hr/>

                <br/><br/><br/><br/><br/><br/><br/>

                <div class="center">
                  Thank you for joining us. Please check your emails to confirm your email before using the website.
                  <br/>
                  <strong>
                    Le Buffet Francés
                  </strong>
                </div>

              {% elseif route == 'fos_user_registration_confirm' %}
                <h2>
                  Please confirm
                </h2>
                <hr/>

                <br/><br/><br/><br/><br/><br/><br/>

                <div class="center">
                  Can you please confirm ?
                  <br/>
                  <strong>
                    Le Buffet Francés
                  </strong>
                </div>

              {% elseif route == 'fos_user_resetting_send_email' 
                      or route == 'fos_user_resetting_check_email' %}
                <h2>
                  Check your emails
                </h2>
                <hr/>

                <br/><br/><br/><br/><br/><br/><br/>

                <div class="center">
                  Please check your emails to confirm your email before renewing your password. 
                  <br/>
                  <strong>
                    Le Buffet Francés
                  </strong>
                </div>

              {% elseif route == 'fos_user_registration_confirmed' %}
                <h2>
                  Done!
                </h2>
                <hr/>

                <br/><br/><br/><br/><br/><br/><br/>

                <div class="center">
                  All good ! Thank you for your that. 
                  <strong>
                    Le Buffet Francés
                  </strong>
                  <br/><br/>
                  <a href="{{ path('lbf_main_homepage') }}" class="center btn-log no_style_a">
                    Home
                  </a>
                </div>

              {% else %}
                <h2>
                  Done !
                </h2>
                <hr/>

                <br/><br/><br/><br/><br/>

                <div class="center">
                  All good ! Thank you for your that. 
                  <br/>
                  <strong>
                    Le Buffet Francés
                  </strong>
                </div>

                <br/><br/>

                <div class="center italic">
                  If you have any problem, please contact our administrations.
                  <br/><br/>
                  <a href="{{ path('lbf_presentation_contact') }}#footerSection" class="center btn-log no_style_a">
                    Contact the administration
                  </a>
                </div>
              {% endif %}

            </div>

          </div>
        </div>

      </div>

    </div>
    <!-- END CONTENT -->
  </div>
  <!-- END CONTENT -->

{% endblock body %}

