{# src/LBF/UserBundle/Resources/view/layout.html.twig #}
{% set route = app.request.attributes.get( '_route' ) %}

{% extends "::index_base.html.twig" %}

{% block body %}

  {# On affiche les messages flash que définissent les contrôleurs du bundle #}
  {# for key, message in app.session.flashbag.all() %}
    <div class="alert alert-{{ key }}">
      {{ message|trans({}, 'FOSUserBundle') }}
    </div>
  {% endfor #}

  <!-- BEGIN CONTENT -->
  <div id="page_content" class="row">

    <!-- BEGIN CONTENT -->
    <div id="fullpage" class="login_background">

      <div class="section section_login section_padding" id="section4">

        <div id="sectionContentAjax">
          <div id="login_section">
            <div id="login_content">    <!-- Element loading -->

                <script type="text/javascript">
                  // Initiate register form
                  function makeRandomFilling()
                  {
                      var text = "";
                      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789@#&é(§è!{[å¡çàø)}]°-_^ô$€¥ùÙ%£+=/;.,?~";
                      for( var i=0; i < 36; i++ )
                          text += possible.charAt(Math.floor(Math.random() * possible.length));
                      return text;
                  }
                  function showRegisterSelect() {
                      if (document.getElementById('user_type').checked) {
                          document.getElementById('register_type_company_input').value = 1;
                          $('#register_company').fadeOut('fast');
                          $('#register_address').fadeOut('fast');
                          $('#register_user').fadeIn('fast');
                          $('#register_conditions_sumit').fadeIn('fast');
                          document.getElementById('fos_user_registration_form_companyName').required = false;
                          document.getElementById('fos_user_registration_form_companyName').value = makeRandomFilling();
                          document.getElementById('fos_user_registration_form_RUCnumber').required = false;
                          document.getElementById('fos_user_registration_form_RUCnumber').value = makeRandomFilling();
                          document.getElementById('fos_user_registration_form_addressNumber').required = false;
                          document.getElementById('fos_user_registration_form_addressNumber').value = makeRandomFilling();
                          document.getElementById('fos_user_registration_form_addressStreet').required = false;
                          document.getElementById('fos_user_registration_form_addressStreet').value = makeRandomFilling();
                          document.getElementById('fos_user_registration_form_addressPostCode').required = false;
                          document.getElementById('fos_user_registration_form_addressPostCode').value = makeRandomFilling();
                          document.getElementById('fos_user_registration_form_addressCity').required = false;
                          document.getElementById('fos_user_registration_form_addressCity').value = makeRandomFilling();
                      }
                      else {
                          document.getElementById('register_type_company_input').value = 0;
                          $('#register_company').fadeIn('fast');
                          $('#register_address').fadeIn('fast');
                          $('#register_user').fadeIn('fast');
                          $('#register_conditions_sumit').fadeIn('fast');
                          document.getElementById('fos_user_registration_form_companyName').required = "required";
                          document.getElementById('fos_user_registration_form_companyName').value = "";
                          document.getElementById('fos_user_registration_form_RUCnumber').required = "required";
                          document.getElementById('fos_user_registration_form_RUCnumber').value = "";
                          document.getElementById('fos_user_registration_form_addressNumber').required = "required";
                          document.getElementById('fos_user_registration_form_addressNumber').value = "";
                          document.getElementById('fos_user_registration_form_addressStreet').required = "required";
                          document.getElementById('fos_user_registration_form_addressStreet').value = "";
                          document.getElementById('fos_user_registration_form_addressPostCode').required = "required";
                          document.getElementById('fos_user_registration_form_addressPostCode').value = "";
                          document.getElementById('fos_user_registration_form_addressCity').required = "required";
                          document.getElementById('fos_user_registration_form_addressCity').value = "";
                      }
                    }

                  var login_margin_top = window.innerHeight * 0.05;
                  $('#login_section').css({'margin-top':login_margin_top+'px'});
                </script>

                {% if (route == 'fos_user_resetting_request') 
                    or (route == 'fos_user_resetting_reset') %}

                  <div class="row">
                    <div class="col-md-9 col-xs-9">
                      <h3>
                        {{ 'forgotPassword.titles.forgotPassword'|trans }}
                      </h3>
                    </div>
                    <div class="col-md-3 col-xs-3 right">
                      <a href="javascript:loadContentLogin('{{ path('fos_user_security_login') }}')" style="no_style_a">
                        <button class="btn btn-login">
                          {{ 'login.actions.back' | trans }}
                        </button>
                      </a>
                    </div>
                  </div>
                  <hr/>

                  <div class="">
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                  </div>

                {% elseif (route == 'fos_user_change_password') %}

                  <div class="row">
                    <div class="col-md-9 col-xs-9">
                      <h3>
                        {{ 'resetPassword.titles.resetPassword'|trans }}
                      </h3>
                    </div>
                    <div class="col-md-3 col-xs-3 right">
                      <a href="{{ path('lbf_user_homepage') }}" style="no_style_a">
                        <button class="btn btn-login">
                          {{ 'login.actions.back' | trans }}
                        </button>
                      </a>
                    </div>
                  </div>
                  <hr/>

                  <div class="">
                    <!-- BEGIN RESETTNG PASSWORD FORM -->
                    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password login-form">
                      
                      <div class="form-group">
                        {% set currentPassword_title = 'resetPassword.titles.enterOld' | trans %}
                        {% if form_errors(form.current_password) %}
                          <div class="error_message">
                            <span class="warning_word">
                              {{ 'user.warning.warning'|trans }}
                            </span>
                            <span class="warning_message">
                              {{ form_errors(form.current_password) }}
                            </span>
                          </div>
                          <br/>
                        {% endif %}
                        <div class="input-icon">
                          {% set opt_currentPassword = {'attr': {'class': 'form-control placeholder-no-fix',
                            'type':'text', 'placeholder': currentPassword_title, 'id':'current_password', 
                            'name':'_current_password', 'required':'required', 'autofocus':''}} %}
                          {{ form_widget(form.current_password, opt_currentPassword) }}
                        </div>
                      </div>
                      <div class="form-group">
                        {% set new_password_title = 'resetPassword.titles.enterNew' | trans %}
                        {% if form_errors(form.new.first) %}
                          <div class="error_message">
                            <span class="warning_word">
                              {{ 'user.warning.warning'|trans }}
                            </span>
                            <span class="warning_message">
                              {{ form_errors(form.new.first) }}
                            </span>
                          </div>
                          <br/>
                        {% endif %}
                        <div class="input-icon">
                          {% set opt_new_password = {'attr': {'class': 'form-control placeholder-no-fix',
                            'type':'text', 'placeholder': new_password_title, 'id':'new_password', 
                            'name':'_new_password', 'required':'required'}} %}
                          {{ form_widget(form.new.first, opt_new_password) }}
                        </div>
                      </div>
                      <div class="form-group">
                        {% set new_password_confirmation_title = 'resetPassword.titles.reEnterNew' | trans %}
                        {% if form_errors(form.new.second) %}
                          <div class="error_message">
                            <span class="warning_word">
                              {{ 'user.warning.warning'|trans }}
                            </span>
                            <span class="warning_message">
                              {{ form_errors(form.new.second) }}
                            </span>
                          </div>
                          <br/>
                        {% endif %}
                        <div class="input-icon">
                          {% set opt_new_password_confirmation = {'attr': {'class': 'form-control placeholder-no-fix',
                            'type':'text', 'placeholder': new_password_confirmation_title, 'id':'new_password_confirmation', 
                            'name':'_new_password_confirmation', 'required':'required'}} %}
                          {{ form_widget(form.new.second, opt_new_password_confirmation) }}
                        </div>
                      </div>
                      <div class="form-actions center">
                        <button type="submit" class="btn btn-login">
                          {{ 'resetPassword.actions.changePassword'|trans }}
                        </button>
                      </div>
                      <!-- Et le reste du formulaire ... :) -->
                      {{ form_widget(form) }}
                    </form>
                  </div>
              <!-- END RESETTNG PASSWORD FORM -->
              


              {% elseif (route == 'fos_user_registration_register') %}

                <div class="row">
                  <div class="col-md-4 col-xs-4 center login_titles login_title_other">
                    <a href="javascript:loadContentLogin('{{ path('fos_user_security_login') }}')" class="no_style_a">
                      <h3>
                        {{ 'login.titles.loginTitle'|trans }}
                      </h3>
                    </a>
                  </div>
                  <div class="col-md-4 col-xs-4 center login_titles">
                      <h3>
                      {{ 'login.titles.or'|trans }}
                      </h3>
                  </div>
                  <div class="col-md-4 col-xs-4 center login_titles login_title_active">
                      <h3>
                        {{ 'registerUser.titles.signUp'|trans }}
                      </h3>
                  </div>
                </div>

                <div class="">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 left border_bottom_white_dotted">
                      <div class="row">
                        <div class="col-md-4">
                          {{ 'registerUser.content.youAre'|trans }}
                        </div>
                        <div class="col-md-4">
                          <input type="radio" name="register_form" value="user_type" id="user_type" onClick="showRegisterSelect()"/>
                          <label for="user_type">
                            {{ 'registerUser.content.user'|trans }}
                          </label>
                        </div>
                        <div class="col-md-4">
                          <input type="radio" name="register_form" value="company_type" id="company_type" onClick="showRegisterSelect()"/>
                          <label for="company_type">
                            {{ 'registerUser.content.company'|trans }}
                          </label>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-2"></div>
                  </div>

                      <!-- BEGIN REGISTRATION FORM -->
                      <form class="register-form" action="{{ path('fos_user_registration_register') }}" method="post" {{ form_enctype(form) }} >

                          {% if form_errors(form) %}
                            <div class="error_message">
                              <span class="warning_word">
                                {{ 'user.warning.warning'|trans }}
                              </span>
                              <span class="warning_message">
                                {{ form_errors(form) }}
                              </span>
                            </div>
                            <br/>
                          {% endif %}


                            <div style="display:none;" id="register_username">
                              <div class="input-icon">
                                {{ form_widget(form.username, {'type':'hidden', 'value':'nothing'}) }}
                              </div>
                            </div>

                            <div style="display:none;" id="register_type_company">
                              <div class="input-icon">
                                {{ form_widget(form.type, {'type':'hidden', 'id':'register_type_company_input'}) }}
                              </div>
                            </div>



                            {% if form_errors(form.email) or form_errors(form.plainPassword.first) or form_errors(form.plainPassword.second) %}
                              <div class="error_message">
                                <span class="warning_word">
                                  {{ 'user.warning.warning'|trans }}
                                </span>
                                <span class="warning_message">
                                  {{ form_errors(form.email) }}
                                  {{ form_errors(form.plainPassword.first) }}
                                  {{ form_errors(form.plainPassword.second) }}
                                </span>
                              </div>
                              <br/>
                            {% endif %}
                            <div  style="display:none;" class="row" id="register_user">
                              <div class="form-group col-md-12 col-xs-12">
                                {% set enterDetails_input = 'registerUser.titles.enterDetails' | trans %}
                                    {{ enterDetails_input }}
                                {% set email_input = 'registerUser.titles.email' | trans %}
                                <div class="input-icon">
                                  {% set opt_email_input = {'attr': {'class': 'form-control placeholder-no-fix',
                                    'type':'email', 'placeholder': email_input, 'id':'email',
                                    'name':'email', 'required':'required', 'autofocus':''}} %}
                                  {{ form_widget(form.email, opt_email_input) }}
                                </div>
                              </div>

                               <div class="form-group col-md-12 col-xs-12">
                                {% set password_input = 'registerUser.titles.password' | trans %}
                                <div class="input-icon">
                                  {% set opt_password_input = {'attr': {'class': 'form-control placeholder-no-fix',
                                    'type':'password', 'placeholder': password_input, 'id':'password', 'autocomplete':'off',
                                    'name':'password', 'required':'required'}} %}
                                  {{ form_widget(form.plainPassword.first, opt_password_input) }}
                                </div>
                              </div>

                              <div class="form-group col-md-12 col-xs-12">
                                {% set rePassword_input = 'registerUser.titles.rePassword' | trans %}
                                <div class="input-icon">
                                  {% set opt_rePassword_input = {'attr': {'class': 'form-control placeholder-no-fix',
                                    'type':'password', 'placeholder': rePassword_input, 'id':'rpassword', 'autocomplete':'off',
                                    'name':'rpassword', 'required':'required'}} %}
                                  {{ form_widget(form.plainPassword.second, opt_rePassword_input) }}
                                </div>
                              </div>
                            </div>

                            <div style="display:none;" class="row border_top_dotted" id="register_company">
                              {% if form_errors(form.companyName) or form_errors(form.RUCnumber) or form_errors(form.addressNumber) or form_errors(form.addressStreet) or form_errors(form.addressCity) or form_errors(form.addressPostCode) or form_errors(form.addressCountry) %}
                                <div class="error_message">
                                  <span class="warning_word">
                                    {{ 'user.warning.warning'|trans }}
                                  </span>
                                  <span class="warning_message">
                                    {{ form_errors(form.companyName) }}
                                    {{ form_errors(form.RUCnumber) }}
                                    {{ form_errors(form.addressNumber) }}
                                    {{ form_errors(form.addressStreet) }}
                                    {{ form_errors(form.addressCity) }}
                                    {{ form_errors(form.addressPostCode) }}
                                    {{ form_errors(form.addressCountry) }}
                                  </span>
                                </div>
                                <br/>
                              {% endif %}

                              <div class="col-md-12 col-xs-12"> 
                                <div class="form-group" id="register_companyName">
                                  {% set company_input = 'registerUser.titles.company' | trans %}
                                    {{ company_input }}
                                  {% set companyName_label = 'registerUser.titles.companyName' | trans %}
                                  <div class="input-icon">
                                    {% set opt_companyName_input = {'attr': {'class': 'form-control placeholder-no-fix',
                                      'type':'text', 'placeholder': companyName_label, 'id':'companyName',
                                      'name':'companyName'}} %}
                                    {{ form_widget(form.companyName, opt_companyName_input) }}
                                  </div>
                                </div>

                                <div class="form-group" id="register_RUC">
                                  {% set RUC_label = 'registerUser.titles.RUC' | trans %}
                                  <div class="input-icon">
                                    {% set opt_RUC_input = {'attr': {'class': 'form-control placeholder-no-fix',
                                      'type':'text', 'placeholder': RUC_label, 'id':'RUCnumber',
                                      'name':'RUC'}} %}
                                    {{ form_widget(form.RUCnumber, opt_RUC_input) }}
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div style="display:none;" class="row border_top_dotted" id="register_address">
                              <div class="row">
                                <div class="col-md-12 col-xs-12 left">
                                  {% set address_input = 'registerUser.titles.address' | trans %}
                                  {{ address_input }}
                                  {% set addressNumber_label = 'registerUser.titles.addressNumber' | trans %}
                                </div>
                                <div class="form-group col-md-3 col-xs-3">
                                  <div class="input-icon">
                                    {% set opt_addressNumber = {'attr': {'class': 'form-control placeholder-no-fix',
                                      'type':'text', 'placeholder':addressNumber_label, 'id':'addressNumber', 
                                      'name':'_addressNumber'}} %}
                                    {{ form_widget(form.addressNumber, opt_addressNumber) }}
                                  </div>
                                </div>

                                <div class="form-group  col-md-9 col-xs-9">
                                  <div class="input-icon">
                                    {% set addressStreet_label = 'registerUser.titles.addressStreet' | trans %}
                                    {% set opt_addressStreet = {'attr': {'class': 'form-control placeholder-no-fix',
                                      'type':'text', 'placeholder':addressStreet_label, 'id':'addressStreet', 
                                      'name':'_addressStreet'}} %}
                                    {{ form_widget(form.addressStreet, opt_addressStreet) }}
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="form-group col-md-7 col-xs-7">
                                  <div class="input-icon">
                                    {% set addressCity_label = 'registerUser.titles.addressCity' | trans %}
                                    {% set opt_addressCity = {'attr': {'class': 'form-control placeholder-no-fix',
                                      'type':'text', 'placeholder':addressCity_label, 'id':'addressCity', 
                                      'name':'_addressCity'}} %}
                                    {{ form_widget(form.addressCity, opt_addressCity) }}
                                  </div>
                                </div>

                                <div class="form-group col-md-5 col-xs-5">
                                  <div class="input-icon">
                                    {% set addressPostCode_label = 'registerUser.titles.addressPostCode' | trans %}
                                    {% set opt_addressPostCode = {'attr': {'class': 'form-control placeholder-no-fix',
                                      'type':'text', 'placeholder':addressPostCode_label, 'id':'addressPostCode', 
                                      'name':'_addressPostCode'}} %}
                                    {{ form_widget(form.addressPostCode, opt_addressPostCode) }}
                                  </div>
                                </div>
                              </div>

                              <div class="form-group col-md-12 col-xs-12">
                                <div class="input-icon">
                                {% set addressCountry_label = 'registerUser.titles.addressCountry' | trans %}
                                {% set opt_country = {'attr': {'class': 'form-control select2',
                                      'type':'text', 'placeholder':addressCountry_label, 'id':'addressCountry', 'name':'_addressCountry'}} %}
                                  {{ form_widget(form.addressCountry, opt_country) }}
                                </div>
                              </div>
                            </div>

                            <div style="display:none;" class="row"  id="register_conditions_sumit">
                              <div class="form-group web_conditions_box">
                                <label for="conditions" class="checkbox">
                                  <div class="checker">
                                    <span>
                                      <input type="checkbox" id="conditions" name="_conditions" value="on" required="required"/>
                                    </span>
                                  </div> 
                                  {{ 'registerUser.titles.iAgreeToThe'|trans }}
                                  <strong>
                                    <a href="#">
                                      {{ 'registerUser.titles.TermsOfService'|trans }}
                                    </a>
                                  </strong>
                                  {{ 'registerUser.titles.and'|trans }}
                                  <strong>
                                    <a href="#">
                                      {{ 'registerUser.titles.PrivacyPolicy'|trans }}
                                    </a>
                                  </strong>
                                </label>
                              </div>
                              <div class="form-actions center">
                                <button type="submit" id="register-submit-btn" class="btn btn-login">
                                  {{ 'registerUser.actions.signUp'|trans }}
                                </button>
                              </div>

                              <!-- Ce qu'il reste du formulaire ... ;) -->
                              {{ form_widget(form) }}
                            </div>


                      
                      </form>
                      <!-- END REGISTRATION FORM -->

                    </div>
                </div>

              {% elseif route == 'fos_user_security_login' %}
                <div class="row">
                  <div class="col-md-4 col-xs-4 center login_titles login_title_active">
                      <h3>
                        {{ 'login.titles.loginTitle'|trans }}
                      </h3>
                  </div>
                  <div class="col-md-4 col-xs-4 center login_titles">
                      <h3>
                        {{ 'login.titles.or'|trans }}
                      </h3>
                  </div>
                  <div class="col-md-4 col-xs-4 center login_titles login_title_other">
                    <a href="javascript:loadContentLogin('{{ path('fos_user_registration_register') }}')" class="no_style_a">
                      <h3>
                        {{ 'registerUser.titles.signUp'|trans }}
                      </h3>
                    </a>
                  </div>
                </div>

                <div class="row ">
                  <!-- BEGIN LOGIN FORM -->
                    <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                      
                        {% if error %}
                            <div class="error_message">
                              <span class="warning_word">
                                {{ 'user.warning.warning'|trans }}
                              </span>
                              <span class="warning_message">
                                {{ error|trans }}
                              </span>
                            </div>
                            <br/>
                        {% endif %}

                      <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9" for="username">
                          {{ 'login.titles.email'|trans }}
                        </label>
                        <div class="input-icon">
                          <input class="form-control placeholder-no-fix" type="text" placeholder="john.diggle@gmail.com" value="{{ last_username }}" id="username" name="_username" required="required" autofocus>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9" for="password">
                          {{ 'login.titles.password'|trans }}
                        </label>
                        <div class="input-icon">
                          <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="*********" id="password" name="_password" required="required">
                        </div>
                      </div>
                      <div class="form-actions remember_me_box">
                        <label for="remember_me" class="checkbox">
                          <div class="checker">
                            <span>
                              <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                            </span>
                          </div> 
                          {{ 'login.actions.remember_me'|trans }}
                        </label>
                      </div>
                      <div class="center">
                        <button type="submit" class="btn btn-login center">
                          {{ 'login.actions.login'|trans }}
                        </button>
                      </div>

                      <br/><br/>
                      
                      <div class="center">
                        <a href="javascript:loadContentLogin('{{ path('fos_user_resetting_request') }}')">
                          {{ 'login.titles.forgetPassword'|trans }}
                        </a>
                      </div>
                    </form>
                </div>
                <!-- END LOGIN FORM -->

              {% elseif route == 'fos_user_registration_check_email' %}
                <h3>
                  {{ 'check.registration.checkEmail' | trans }}
                </h3>
                <hr/>

                <br/><br/><br/><br/>

                <div class="row center ">
                  {{ 'check.registration.checkEmailFirst' | trans }}
                  <br/>
                  <strong>
                    Le Buffet Francés
                  </strong>
                </div>

              {% elseif route == 'fos_user_registration_confirm' %}
                <h3>
                  {{ 'check.registration.confirm' | trans }}
                </h3>
                <hr/>

                <br/><br/><br/><br/>

                <div class="row center ">
                  {{ 'check.registration.canYou' | trans }}
                  <br/>
                  <strong>
                    Le Buffet Francés
                  </strong>
                </div>

              {% elseif route == 'fos_user_resetting_send_email' 
                      or route == 'fos_user_resetting_check_email' %}
                <h3>
                  {{ 'check.passwordNew.checkEmail' | trans }}
                </h3>
                <hr/>

                <br/><br/><br/><br/>

                <div class="row center ">
                  {{ 'check.passwordNew.checkEmailFirst' | trans }}
                  <br/>
                  <strong>
                    Le Buffet Francés
                  </strong>
                </div>

              {% elseif route == 'fos_user_registration_confirmed' %}
                <h3>
                  {{ 'check.registration.thankYou' | trans }}
                </h3>
                <hr/>

                <br/><br/><br/><br/>

                <div class="row center ">
                  {{ 'check.registration.allGood' | trans }}
                  <br/><br/>
                  {{ 'check.registration.access' | trans }}
                  <br/><br/><br/>
                  <strong>
                    Le Buffet Francés
                  </strong>
                  <br/><br/>
                  <div class="row uppercase">
                    <a href="{{ path('lbf_main_homepage') }}" class="center btn-login no_style_a float-left">
                      <img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_right_arrow"/>
                      {{ 'check.actions.home' | trans }}
                    </a>
                    <a href="{{ path('lbf_main_cart') }}" class="center btn-login no_style_a float-right">
                      {{ 'check.actions.order' | trans }} 
                      <img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
                    </a>
                  </div>
                </div>

              {% else %}
                <h3>
                  {{ 'check.general.thankYou' | trans }}
                </h3>
                <hr/>

                <br/><br/><br/><br/>

                <div class="row center ">
                  {{ 'check.general.allGood' | trans }}
                  <br/>
                  <strong>
                    Le Buffet Francés
                  </strong>
                </div>

                <br/><br/>

                <div class="center italic">
                  {{ 'check.problem.ifAny' | trans }}
                  <br/><br/>
                  <a href="{{ path('lbf_main_homepage') }}#footerSection" class="center btn-login no_style_a">
                    {{ 'check.problem.contact' | trans }}
                  </a>
                </div>
              {% endif %}

            </div>

            <br/><br/><br/>

          </div>
        </div>

      </div>

    </div>
    <!-- END CONTENT -->
  </div>
  <!-- END CONTENT -->

{% endblock body %}

