<!-- BEGIN FOOTER -->
<div class="footer center section" id="section3">
	<br/><br/>
	<div class="row80">
		<h3>
			Contact
		</h3>

		<form id="contact_form" method="post">
	        <div id="" class="row">
	        	<div class="form-group">
	        		<div class="col-md-2">
		            	<label class="control-label" for="senderContact">
		            		Expéditeur
		            	</label>
	        		</div>
					<div class="input-icon col-md-4">
						<input type="sender" name="senderContact" id="senderContact" placeholder="John Diggle" class="form-control placeholder-no-fix"/>
			        </div>
			        <div class="col-md-2">
		            	<label class="control-label" for="emailContact">
		            		Email
		            	</label>
	        		</div>
					<div class="input-icon col-md-4">
						<input type="email" name="emailContact" id="emailContact" placeholder="john.diggle@gmail.com" class="form-control placeholder-no-fix"/>
			        </div>
				</div>
				<br/>
	            <div class="form-group">
	            	<script type="text/javascript">
	                  function showOrderNumber() {
	                      if (document.getElementById('SM0').selected || document.getElementById('SM1').selected || document.getElementById('SM2').selected) { 
	                        document.getElementById('corpsOrder_label').style.display = 'block';
	                        document.getElementById('corpsOrder_input').style.display = 'block';
	                      }
	                      else {
	                      	document.getElementById('corpsOrder_label').style.display = 'none';
	                        document.getElementById('corpsOrder_input').style.display = 'none';
	                      }
	                    }
	                </script>
	            	<div class="col-md-2">
		                <label class="control-label" for="sujetMail">Objet</label>
	            	</div>
	            	<div class="input-icon col-md-4">
		                <select name="sujetMail" id="objet" class="form-control placeholder-no-fix" onClick="showOrderNumber()">
		                    <option value="" selected>
		                    	Sélectionner l'objet de votre demande
		                    </option>
		                    <option value="SM0" id="SM0">
		                    	Commande non validée
		                    </option>
							<option value="SM1" id="SM1">
								Commande vide
							</option>
							<option value="SM2" id="SM2">
								Commande refusée
							</option>
							<option value="SM3">
								Compte utilisateur défaillant
							</option>
							<option value="SM4">
								Erreur de site web
							</option>
							<option value="SM5">
								Demande de renseignements
							</option>
							<option value="SM6">
								Nouveaux produits
							</option>
						</select>
	            	</div>
					<div class="col-md-2"  style="display:none;" id="corpsOrder_label">
		                <label class="control-label" for="corpsOrder">Commande n°</label>
	            	</div>
	                <div class="input-icon col-md-4"  style="display:none;" id="corpsOrder_input">
	                	<input type="integer" name="corpsOrder" id="corpsOrder" placeholder="5603" class="form-control placeholder-no-fix"/>
	                </div>
	          	</div> 	
				<br/>
	            <div class="form-group">
	            	<div class="col-md-2">
		                <label class="control-label" for="corpsMail">Message</label>
	            	</div>
	                <div class="input-icon col-md-10">
	                	<textarea class="form-control placeholder-no-fix" name="corpsMail" id="corpsMail" placeholder="Message"></textarea>
	                </div>
	            </div>
	        </div>
            <br/>
	        <input type="submit" value="Envoyer" class="btn btn-log" title="Envoyer">
	    </form>
	</div>
	<br/>
	<div class="row border_white_top multiple_lists footer_part">
		<div class="col-md-4 col-xs-4">
			<h4>
				{{ 'footer.titles.receiveOurNewsletter' | trans }}
			</h4>
			{{ 'footer.content.receiveOurNewsletter' | trans }}
			<br/>
			<br/>
			<form method="post" action="{{ path('lbf_main_newsletterEmail', {'path': app.request.attributes.get( '_route' )}) }}">
				<div class="row">
				    <div class="input-group">
				      <input id="newsletterEmail" name="newsletterEmail" type="text" class="form-control" placeholder="{{ 'footer.actions.enterEmail' | trans }}"/>
				      <span class="input-group-btn">
				        <button type="submit" class="btn btn-default" type="button">
				        	{{ 'footer.actions.send' | trans }}
				        </button>
				      </span>
				    </div>
				</div>
			</form>
		</div>
		<div class="col-md-4 col-xs-4">
	 		<a href="/temoignages">
		 	<h4>
		 		{{ 'footer.titles.witnesses' | trans }}
		 	</h4>
		 	{{ 'footer.content.witnesses' | trans }}
		 	<div class="center">
			 	<img alt="Comment" src="{{ asset('img/system/icons/comment.png') }}" class="icon_presentation_2"/>
		 	</div>
		 	</a>
		</div>
		<div class="col-md-4 col-xs-4">
		 	<h4>
		 		{{ 'footer.titles.clientService' | trans }}
		 	</h4>
		 	{{ 'footer.content.clientService' | trans }}
		 	<br/>
		 	<a href="tel:">
		 		+51 4 50 30 40 30
		 	</a>
		 	<div class="center">
			 	<img alt="Payment" src="{{ asset('img/system/icons/payment.png') }}" class="icon_presentation_2"/>
		 	</div>
		</div>
	</div>
	<div class="row left border_white_top multiple_lists footer_part footer_bottom">
		 <div class="col-md-3 col-xs-3">
			 <h4>
			 	{{ 'footer.titles.aboutUs' | trans }}
			 </h4>
				<a href="/contact">
					{{ 'footer.content.contact' | trans }}
				</a><br />
				<a href="/remerciements">
					{{ 'footer.content.thanks' | trans }}
				</a><br />
				<a href="/mentions-legales">
					{{ 'footer.content.legalMentions' | trans }}
				</a><br />
		 </div>
		 <div class="col-md-3 col-xs-3"> 
			 <h4>
			 	{{ 'footer.titles.needHelp' | trans }}
			 </h4>
				<a href="/">
					{{ 'footer.content.moreInfo' | trans }}
				</a><br />
				<a href="/">
					{{ 'footer.content.delivery' | trans }}
				</a><br />
				<a href="/">
					{{ 'footer.content.ourWork' | trans }}
				</a><br />
				<a href="/">
					{{ 'footer.content.questions' | trans }}
				</a><br />
		 </div>
		  <div class="col-md-3 col-xs-3">
		  <h4>
		  	{{ 'footer.titles.meatPanel' | trans }}
		  </h4>
			<a href="/">Saucissons</a><br />
			<a href="/">Patés</a><br />
			<a href="/">Chorizo</a><br />
			<a href="/">Merguez</a><br />
			<a href="/">Chippolata</a>
		 </div>
		 <div class="col-md-3 col-xs-3">
		  <h4>
		  	{{ 'footer.titles.blog' | trans }}
		  </h4>
			<a href="/">
				{{ 'footer.content.entireBlog' | trans }}
			</a><br />
			<a href="/">
				{{ 'footer.content.cookingRecipe' | trans }}
			</a><br />
			<a href="/">
				{{ 'footer.content.news' | trans }}
			</a>
		 </div>
	</div>
	<div class="row center margin_top_10 margin_right_30 font10">
		<br/><br/>
		Le Buffet Francés - {{ 'footer.bottom.allRightsReserved' | trans }} © 2015
	</div>
</div>
<!-- END FOOTER -->