<!-- BEGIN FOOTER -->
<div class="footer center section" id="section3">
	<br/>
	<div class="row80">
		<h2 class="h2_footer">
			Contact
		</h2>
		<form id="contact_form" method="post">
	        <div id="" class="row">
	        	<div class="form-group row">
					<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<input type="sender" name="senderContact" id="senderContact" placeholder="Expéditeur" class="form-control placeholder-no-fix"/>
			        </div>
					<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<input type="email" name="emailContact" id="emailContact" placeholder="Email" class="form-control placeholder-no-fix"/>
			        </div>
				</div>
				<br/>
	            <div class="form-group row">
	            	<script type="text/javascript">
	                  function showOrderNumber() {
	                      if (document.getElementById('SM0').selected || document.getElementById('SM1').selected || document.getElementById('SM2').selected) { 
	                        document.getElementById('corpsOrder_input').style.display = 'block';
	                      }
	                      else {
	                        document.getElementById('corpsOrder_input').style.display = 'none';
	                      }
	                    }
	                </script>
	            	<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
		                <select name="sujetMail" id="objet" class="form-control placeholder-no-fix" onClick="showOrderNumber()">
		                    <option value="" selected>
		                    	Sélectionner l'objet de votre demande
		                    </option>
		                    <option value="SM0" id="SM0">
		                    	Commande non validée
		                    </option>
							<option value="SM1" id="SM1">
								Commande vide
							</option>
							<option value="SM2" id="SM2">
								Commande refusée
							</option>
							<option value="SM3">
								Compte utilisateur défaillant
							</option>
							<option value="SM4">
								Erreur de site web
							</option>
							<option value="SM5">
								Demande de renseignements
							</option>
							<option value="SM6">
								Nouveaux produits
							</option>
						</select>
	            	</div>
	                <div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12"  style="display:none;" id="corpsOrder_input">
	                	<input type="integer" name="corpsOrder" id="corpsOrder" placeholder="Commande n°" class="form-control placeholder-no-fix"/>
	                </div>
	          	</div> 	
				<br/>
	            <div class="form-group row">
	                <div class="input-icon col-md-12">
	                	<textarea class="form-control placeholder-no-fix" name="corpsMail" id="corpsMail" placeholder="Message"></textarea>
	                </div>
	            </div>
	        </div>
	        <input type="submit" value="ENVOYER" class="btn btn-log submit_send_footer" title="Envoyer le message">
	    </form>
	</div>
	<div class="row border_white_top footer_part hidden-xs">
		<div class="col-lg-4 col-md-4 col-sm-4">
			<h4>
				{{ 'footer.titles.receiveOurNewsletter' | trans }}
			</h4>
			{{ 'footer.content.receiveOurNewsletter' | trans }}
			<br/>
			<form method="post" action="{{ path('lbf_main_newsletterEmail', {'path': app.request.attributes.get( '_route' )}) }}">
				<div class="row">
				    <div class="input-group">
				      <input id="newsletterEmail" name="newsletterEmail" type="text" class="form-control" placeholder="{{ 'footer.actions.enterEmail' | trans }}"/>
				      <span class="input-group-btn">
				        <button type="submit" class="btn btn-default" type="button">
				        	{{ 'footer.actions.send' | trans }}
				        </button>
				      </span>
				    </div>
				</div>
			</form>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
	 		<a href="/temoignages">
		 	<h4>
		 		{{ 'footer.titles.witnesses' | trans }}
		 	</h4>
		 	{{ 'footer.content.witnesses' | trans }}
		 	<div class="center">
			 	<img alt="Comment" src="{{ asset('img/system/icons/comment.png') }}" class="icon_presentation_footer"/>
		 	</div>
		 	</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
		 	<h4>
		 		{{ 'footer.titles.clientService' | trans }}
		 	</h4>
		 	{{ 'footer.content.clientService' | trans }}
		 	<br/>
		 	<a href="tel:">
		 		+51 4 50 30 40 30
		 	</a>
		 	<div class="center">
			 	<img alt="Payment" src="{{ asset('img/system/icons/payment.png') }}" class="icon_presentation_footer"/>
		 	</div>
		</div>
	</div>
	<div class="row left border_white_top multiple_list footer_part footer_bottom">
		<div class="row">
			
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<h4>
				 	{{ 'footer.titles.aboutUs' | trans }}
				</h4>
				<ul class="list_no_style_li">
					<li>
						<a href="/contact">
							{{ 'footer.content.contact' | trans }}
						</a>
					</li>
					<li>
						<a href="/remerciements">
							{{ 'footer.content.thanks' | trans }}
						</a>
					</li>
					<li>
						<a href="/mentions-legales">
							{{ 'footer.content.legalMentions' | trans }}
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"> 
				<h4>
				 	{{ 'footer.titles.needHelp' | trans }}
				</h4>
				<ul class="list_no_style_li">
					<li>
						<a href="/">
							{{ 'footer.content.moreInfo' | trans }}
						</a>
					</li>
					<li>
						<a href="/">
							{{ 'footer.content.delivery' | trans }}
						</a>
					</li>
					<li>
						<a href="/">
							{{ 'footer.content.ourWork' | trans }}
						</a>
					</li>
					<li>
						<a href="/">
							{{ 'footer.content.questions' | trans }}
						</a>
					</li> 	
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
			  	<h4>
			  		{{ 'footer.titles.meatPanel' | trans }}
			  	</h4>
			  	<ul class="list_no_style_li">
					<li>
						<a href="/">Saucissons</a>
					</li>
					<li>
						<a href="/">Patés</a>
					</li>
					<li>
						<a href="/">Chorizo</a>
					</li>
					<li>
						<a href="/">Merguez</a>
					</li>
					<li>
						<a href="/">Chippolata</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row center">
			Le Buffet Francés - {{ 'footer.bottom.allRightsReserved' | trans }} © 2015
		</div>
	</div>
</div>
<!-- END FOOTER -->