<!-- BEGIN FOOTER -->
<div class="footer center section" id="section3">
	<br/><br/>
	<div class="row80">
		<div class="center italic">
			" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis excepturi, in dolor tenetur ipsam. Expedita deleniti veritatis nesciunt autem, voluptas doloremque eius animi dolorum perspiciatis labore. Recusandae, voluptate doloremque totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis excepturi, in dolor tenetur ipsam. Expedita deleniti veritatis nesciunt autem, voluptas doloremque eius animi dolorum perspiciatis labore. Recusandae, voluptate doloremque totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis excepturi, in dolor tenetur ipsam. Expedita deleniti veritatis nesciunt autem, voluptas doloremque eius animi dolorum perspiciatis labore. Recusandae, voluptate doloremque totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. "
		</div>
		<div class="right bold">
			- Someone important
		</div>
	</div>
	<br/>
	<div class="row border_white_top multiple_lists footer_part">
		<div class="col-md-4 col-xs-4">
			<h4>
				{{ 'footer.titles.receiveOurNewsletter' | trans }}
			</h4>
			{{ 'footer.content.receiveOurNewsletter' | trans }}
			<br/>
			<br/>
			<form method="post">
				<div class="row">
				    <div class="input-group">
				      <input id="newsletter" name="newsletter_bas" type="text" class="form-control" placeholder="{{ 'footer.actions.enterEmail' | trans }}">
				      <span class="input-group-btn">
				        <button type="submit" class="btn btn-default" type="button">
				        	{{ 'footer.actions.send' | trans }}
				        </button>
				      </span>
				    </div>
				</div>
			</form>
		</div>
		<div class="col-md-4 col-xs-4">
	 		<a href="/temoignages">
		 	<h4>
		 		{{ 'footer.titles.witnesses' | trans }}
		 	</h4>
		 	{{ 'footer.content.witnesses' | trans }}
		 	<div class="center">
			 	<img alt="Comment" src="{{ asset('img/system/icons/comment.png') }}" class="icon_presentation_2"/>
		 	</div>
		 	</a>
		</div>
		<div class="col-md-4 col-xs-4">
		 	<h4>
		 		{{ 'footer.titles.clientService' | trans }}
		 	</h4>
		 	{{ 'footer.content.clientService' | trans }}
		 	<br/>
		 	<a href="tel:">
		 		+51 4 50 30 40 30
		 	</a>
		 	<div class="center">
			 	<img alt="Payment" src="{{ asset('img/system/icons/payment.png') }}" class="icon_presentation_2"/>
		 	</div>
		</div>
	</div>
	<div class="row left border_white_top multiple_lists footer_part footer_bottom">
		 <div class="col-md-3 col-xs-3">
			 <h4>
			 	{{ 'footer.titles.aboutUs' | trans }}
			 </h4>
				<a href="/contact">
					{{ 'footer.content.contact' | trans }}
				</a><br />
				<a href="/remerciements">
					{{ 'footer.content.thanks' | trans }}
				</a><br />
				<a href="/mentions-legales">
					{{ 'footer.content.legalMentions' | trans }}
				</a><br />
		 </div>
		 <div class="col-md-3 col-xs-3"> 
			 <h4>
			 	{{ 'footer.titles.needHelp' | trans }}
			 </h4>
				<a href="/">
					{{ 'footer.content.moreInfo' | trans }}
				</a><br />
				<a href="/">
					{{ 'footer.content.delivery' | trans }}
				</a><br />
				<a href="/">
					{{ 'footer.content.ourWork' | trans }}
				</a><br />
				<a href="/">
					{{ 'footer.content.questions' | trans }}
				</a><br />
		 </div>
		  <div class="col-md-3 col-xs-3">
		  <h4>
		  	{{ 'footer.titles.meatPanel' | trans }}
		  </h4>
			<a href="/">Saucissons</a><br />
			<a href="/">Patés</a><br />
			<a href="/">Chorizo</a><br />
			<a href="/">Merguez</a><br />
			<a href="/">Chippolata</a>
		 </div>
		 <div class="col-md-3 col-xs-3">
		  <h4>
		  	{{ 'footer.titles.blog' | trans }}
		  </h4>
			<a href="/">
				{{ 'footer.content.entireBlog' | trans }}
			</a><br />
			<a href="/">
				{{ 'footer.content.cookingRecipe' | trans }}
			</a><br />
			<a href="/">
				{{ 'footer.content.news' | trans }}
			</a>
		 </div>
	</div>
	<div class="row center margin_top_10 margin_right_30 font10">
		<br/><br/>
		Le Buffet Francés - {{ 'footer.bottom.allRightsReserved' | trans }} © 2015
	</div>
</div>
<!-- END FOOTER -->