<!-- BEGIN FOOTER -->
<div class="footer section_padding center section" id="footerSection">
	<br/>
	<div class="row80">
		<h2 class="h2_footer">
			Contact
		</h2>
		<form id="contact_form" method="post" action="{{ path('lbf_main_footer_contact') }}">
	        <div id="" class="row">

				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	        	<div class="hidden">
					<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<input type="hidden" name="senderContact" id="senderContact" class="form-control placeholder-no-fix"
							value="{% if app.user.firstName|length > 0 %}{{ app.user.firstName }}{% endif %}"/>
			        </div>
					<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<input type="hidden" name="emailContact" id="emailContact" class="form-control placeholder-no-fix" 
							value="{{ app.user.email }}"/>
			        </div>
				</div>
				{% else %}
				<div class="form-group row">
					<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<input type="text" name="senderContact" id="senderContact" placeholder="{{ 'footer.contact.senderName' | trans }}" class="form-control placeholder-no-fix"/>
			        </div>
					<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<input type="email" name="emailContact" id="emailContact" placeholder="{{ 'footer.contact.senderEmail' | trans }}" class="form-control placeholder-no-fix"/>
			        </div>
				</div>
				<br/>
				{% endif %}
	            <div class="form-group row">
	            	<script type="text/javascript">
	                  	function showOrderNumber() {
	                      if (document.getElementById('SM0').selected || document.getElementById('SM1').selected || document.getElementById('SM2').selected) { 
	                        document.getElementById('corpsOrder_input').style.display = 'block';
	                      }
	                      else {
	                        document.getElementById('corpsOrder_input').style.display = 'none';
	                      }
	                    }
	                </script>
	            	<div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12">
		                <select name="sujetMail" id="objet" class="form-control placeholder-no-fix" onClick="showOrderNumber()">
		                    <option value="" selected>
		                    	{{ 'footer.contact.selectObject' | trans }}
		                    </option>
		                    <option value="OBJ1: {{ 'footer.contact.object1' | trans }}" id="SM0">
		                    	{{ 'footer.contact.object1' | trans }}
		                    </option>
							<option value="OBJ2: {{ 'footer.contact.object2' | trans }}" id="SM1">
								{{ 'footer.contact.object2' | trans }}
							</option>
							<option value="OBJ3: {{ 'footer.contact.object3' | trans }}" id="SM2">
								{{ 'footer.contact.object3' | trans }}
							</option>
							<option value="OBJ4: {{ 'footer.contact.object4' | trans }}">
								{{ 'footer.contact.object4' | trans }}
							</option>
							<option value="OBJ5: {{ 'footer.contact.object5' | trans }}">
								{{ 'footer.contact.object5' | trans }}
							</option>
							<option value="OBJ6: {{ 'footer.contact.object6' | trans }}">
								{{ 'footer.contact.object6' | trans }}
							</option>
							<option value="OBJ7: {{ 'footer.contact.object7' | trans }}">
								{{ 'footer.contact.object7' | trans }}
							</option>
						</select>
	            	</div>
	                <div class="input-icon col-lg-6 col-md-6 col-sm-6 col-xs-12"  style="display:none;" id="corpsOrder_input">
	                	<input type="integer" name="orderNumber" id="orderNumber" placeholder="{{ 'footer.contact.orderNumber' | trans }}" class="form-control placeholder-no-fix"/>
	                </div>
	          	</div> 	
				<br/>
	            <div class="form-group row">
	                <div class="input-icon col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                	<textarea class="form-control placeholder-no-fix" name="corpsMail" id="corpsMail" placeholder="{{ 'footer.contact.message' | trans }}"></textarea>
	                </div>
	            </div>
	        </div>
	        <input type="submit" value="{{ 'footer.contact.send' | trans }}" class="btn btn-footer submit_send_footer">
	    </form>
	</div>
	<div class="row border_white_top footer_part">
		<div class="col-lg-4 col-md-4 col-sm-4 col-sm-12">
			<h4>
				{{ 'footer.titles.receiveOurNewsletter' | trans }}
			</h4>
			{{ 'footer.content.receiveOurNewsletter' | trans }}

			<br/>

			<div class="row" id="newsletterForm">
				<form method="post" action="{{ path('lbf_main_newsletterEmail', {'path': app.request.attributes.get( '_route' )}) }}" >
					<div class="row">

		                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			              <input type="radio" name="newsletterType" value="user" id="user_type" onClick="showNewsletterSelect()"/>
			              <label for="user_type">
			                {{ 'footer.newsletter.user'|trans }}
			              </label>
			            </div>
			            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			              <input type="radio" name="newsletterType" value="company" id="company_type" onClick="showNewsletterSelect()"/>
			              <label for="company_type">
			                {{ 'footer.newsletter.company'|trans }}
			              </label>
			            </div>		

					    <div class="row" style="display:none;" id="newsletter_email_input">
						    <div class="input-group">
						      <input id="newsletterEmail" name="newsletterEmail" type="text" class="form-control" placeholder="{{ 'footer.actions.enterEmail' | trans }}"/>
						      <span class="input-group-btn">
						        <button type="submit" class="btn btn-default" type="button" id="submitNewsletterButton">
						        	{{ 'footer.actions.send' | trans }}
						        </button>
						      </span>
						    </div>
					    </div>
					</div>
				</form>
			</div>
		</div>
		<div class="hidden-lg hidden-md hidden-sm col-xs-12 sep_presentation_footer"></div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-sm-12">
	 		<a data-toggle="modal" data-target="#testimoniesModal">
		 	<h4>
		 		{{ 'footer.titles.testimonies' | trans }}
		 	</h4>
		 	{{ 'footer.content.testimonies' | trans }}
		 	<div class="center">
			 	<img alt="Comment" src="{{ asset('img/system/icons/comment.png') }}" class="icon_presentation_footer"/>
		 	</div>
		 	</a>

		 	<!-- Modal 10. Témoignages -->
			<div class="modal bs-example-modal-lg fade" id="testimoniesModal" tabindex="-1" role="dialog" aria-labelledby="testimoniesModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h2 class="modal-title center" id="testimoniesModalLabel">
			          {{ 'modal.testimoniesModal.title' | trans }}
			        </h2>
			      </div>
			      <div class="modal-body">
			      	{% if testimonies|length > 0 %}
				        {% for testimony in testimonies %}
				          <div class="row">
				            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 left">
				              {{ testimony.content }}
				            </div>
				            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 right">
				              {% set numberStars = testimony.rate %}
				              {% set numberEmptyStars = 5 - numberStars %}
				              {% for star in 1..numberStars %}
				                <div class="glyphicon glyphicon-star"></div>
				              {% endfor %}
				              {% if numberEmptyStars > 0 %}
				                {% for starEmpty in 1..numberEmptyStars %}
				                  <div class="glyphicon glyphicon-star-empty"></div>
				                {% endfor %}
				              {% endif %}
				            </div>
				          </div>
				          <div class="row">
				            <div class="col-lg-2 col-md-1 col-md-1 hidden-xs"></div>
				            <div class="col-lg-8 col-md-9 col-md-10 col-xs-12">
				              <h5 class="right">
				                — {{ testimony.author }}
				              </h5>
				            </div>
				            <div class="col-lg-2 col-md-2 col-md-1 hidden-xs"></div>
				          </div>

				          <br/>
				          <hr/>
				          <br/>
				        {% endfor %}
				    {% else %}
				    	<br/><br/><br/>
				    	<p class="center">
					    	{{ 'modal.testimoniesModal.nothingHere' | trans }}
				    	</p>
				    	<br/><br/><br/>
				    {% endif %}
			      </div>
			      <div class="modal-footer">
			      	<div class="float-left">
				        <a href="{{ path('lbf_main_testimony_new') }}" class="btn btn-modal no_style_a">
				          {{ 'modal.actions.newTestimony' | trans }}
				        </a>
			      	</div>
			      	<div class="right">
				        <button type="button" class="btn btn-modal" data-dismiss="modal">
				          {{ 'modal.actions.close' | trans }}
				        </button>
			      	</div>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
		<div class="hidden-lg hidden-md hidden-sm col-xs-12 sep_presentation_footer"></div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-sm-12">
		 	<h4>
		 		{{ 'footer.titles.clientService' | trans }}
		 	</h4>
		 	{{ 'footer.content.clientService' | trans }}
		 	<br/>
		 	<a href="tel:+51984060620">
		 		+51 984 06 06 20
		 	</a>
		 	<!-- <div class="center">
			 	<img alt="Payment" src="{{ asset('img/system/icons/payment.png') }}" class="icon_presentation_footer"/>
		 	</div> -->
		</div>
	</div>
	<div class="row left border_white_top multiple_list footer_part footer_bottom">
		<div class="row">
			
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<h4>
				 	{{ 'footer.titles.aboutUs' | trans }}
				</h4>
				<ul class="list_no_style_li">
					<li>
						<a href="#aboutUs">
							{{ 'footer.content.whoWeAre' | trans }}
						</a>
					</li>
					<li>
						<a data-toggle="modal" data-target="#shopsModal">
							{{ 'footer.content.shops' | trans }}
						</a>
					</li>
					<li>
						<a data-toggle="modal" data-target="#CGVModal">
							{{ 'footer.content.sellingConditions' | trans }}
						</a>
					</li>
					<li>
						<a data-toggle="modal" data-target="#legalMentionsModal">
							{{ 'footer.content.legalMentions' | trans }}
						</a>
					</li>
				</ul>

				<br/>
				
				<div class="hidden-lg hidden-md hidden-sm col-xs-12 sep_presentation_footer"></div>

				<br/>
				
				<h4>
				 	{{ 'footer.titles.needHelp' | trans }}
				</h4>
				<ul class="list_no_style_li">
					<li>
						<a data-toggle="modal" data-target="#deliveryModal">
							{{ 'footer.content.delivery' | trans }}
						</a>
					</li>
					<li>
						<a href="#ourProducts">
							{{ 'footer.content.ourProducts' | trans }}
						</a>
					</li>
					<li>
						<a data-toggle="modal" data-target="#ourWorkModal">
							{{ 'footer.content.ourWork' | trans }}
						</a>
					</li>
					<li>
						<a data-toggle="modal" data-target="#FAQModal">
							{{ 'footer.content.questions' | trans }}
						</a>
					</li> 	
				</ul>
			</div>
			<div class="hidden-lg hidden-md hidden-sm col-xs-12 sep_presentation_footer"></div>
		  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	        	<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.0289476897924!2d-71.90520600000005!3d-13.533814999999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTPCsDMyJzAxLjciUyA3McKwNTQnMTguNyJX!5e0!3m2!1sfr!2sfr!4v1425744003816"></iframe>
				</div>
	        </div>
		</div>
		<div class="hidden-lg hidden-md hidden-sm col-xs-12 sep_presentation_footer"></div>

		<br/>

		<div class="row center">
			Le Buffet Francés - {{ 'footer.bottom.allRightsReserved' | trans }} © 2015
		</div>
	</div>
</div>
<!-- END FOOTER -->