<!-- Modals for "more info" -->

<script type="text/javascript">
  

  function goToWithoutModal(path) {
    $('#qualityModal').modal('hide');
    window.location = path;
  }
</script>

<!-- 1. Quality -->
<div class="modal bs-example-modal-lg fade" id="qualityModal" tabindex="-1" role="dialog" aria-labelledby="qualityModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="qualityModalLabel">
          {{ 'main.titles.qualityProduct' | trans }}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          {{ 'modal.modalQuality.intro' | trans }}
          <ul>
            <li>
              {{ 'modal.modalQuality.quote1' | trans }}
            </li>
            <li>
              {{ 'modal.modalQuality.quote2' | trans }}
            </li>
            <li>
              {{ 'modal.modalQuality.quote3' | trans }}
            </li>
          </ul>
          {{ 'modal.modalQuality.dontWait' | trans }} <a href="javascript:goToWithoutModal('{{ path('lbf_main_homepage') }}#ourProducts')" ><strong> 
          {{ 'modal.modalQuality.products' | trans }} </strong></a> 
          {{ 'modal.modalQuality.thanksTo' | trans }} <a href="javascript:goToWithoutModal('{{ path('lbf_main_homepage') }}#ourRecipes')" ><strong> {{ 'modal.modalQuality.recipes' | trans }} </strong></a> 
          {{ 'modal.modalQuality.tested' | trans }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- 2. Reservation -->
<div class="modal bs-example-modal-lg fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="reservationModalLabel">
          {{ 'main.titles.reservation' | trans }}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          {{ 'modal.modalReservation.intro' | trans }}
          <ol>
            <li>
              {{ 'modal.modalReservation.quote1' | trans }}
            </li>
            <li>
              {{ 'modal.modalReservation.quote2' | trans }} *
            </li>
            <li>
              {{ 'modal.modalReservation.quote3' | trans }}
            </li>
            <li>
              {{ 'modal.modalReservation.quote4' | trans }}
            </li>
            <li>
              {{ 'modal.modalReservation.quote5' | trans }}
            </li>
            <li>
              {{ 'modal.modalReservation.quote6' | trans }}
              <br/>
              <br class="hidden-xs"/>
              <div class="address_box">
                <span style="font-size:1.2em;">
                  <strong>Le Buffet Francés</strong> 
                </span>
                <br/>
                <span style="font-size:0.9em;">
                  Avenida Las Sauces <br/>
                  Larapa, San Sebastian, Cusco <br/>
                  <strong>
                    Perú
                  </strong>
                </span>
              </div>
            </li>
          </ol>

          <strong>
            * 
            {{ 'modal.modalReservation.remark' | trans }}
          </strong>
          {{ 'modal.modalReservation.remarkContent' | trans }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- 3. Recette en question -->
<div class="modal bs-example-modal-lg fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="recipeModalTitle"></h2>
      </div>
      <div class="modal-body" id="recipeModalContent">
        <div class="modal-body-inner row">
          
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="recipeModalContent_LeftPart">
              <div class="recipe_border">
                <div class="left">
                  <span>
                    <strong>
                      {{ 'modal.modalRecipe.origin' | trans }}
                    </strong>
                  </span> 
                  <span id="recipeModalContent_Origin"></span> <br/>
                  <span>
                    <strong>
                      {{ 'modal.modalRecipe.forHowMany' | trans }}
                    </strong>
                  </span> 
                  <span id="recipeModalContent_ForHowMany"></span> 
                  <span>
                    {{ 'modal.modalRecipe.people' | trans }}
                  </span> 
                  <br/>
                  <span>
                    <strong>
                      {{ 'modal.modalRecipe.duration' | trans }}
                    </strong>
                  </span> 
                  <span id="recipeModalContent_Duration"></span> 
                  <span>
                    {{ 'modal.modalRecipe.min' | trans }}
                  </span> 
                  <br/>
                  <span>
                    <strong>
                      {{ 'modal.modalRecipe.cooking' | trans }}
                    </strong>
                  </span> 
                  <span id="recipeModalContent_Cooking"></span> 
                  <span>
                    {{ 'modal.modalRecipe.min' | trans }}
                  </span>
                  <hr/>
                  <strong class="text-decoration:underline;">
                    {{ 'modal.modalRecipe.ingredients' | trans }}
                  </strong>
                  <div id="recipeModalContent_Ingredients">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="recipeModalContent_RightPart">
              <div class="recipe_border">
                <strong class="text-decoration:underline;">
                  {{ 'modal.modalRecipe.preparation' | trans }}
                </strong>
                <div class="left" id="recipeModalContent_Preparation">
                  
                </div>
              </div>
            </div>
          </div>

          <br/><br/>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
              <div class="center">
                <span>
                  {{ 'modal.modalRecipe.lastEdit' | trans }}
                </span> 
                <span id="recipeModalContent_UpdatedAt_date"></span> 
                {{ 'modal.modalRecipe.atTime' | trans }}
                <span id="recipeModalContent_UpdatedAt_time"></span>
              </div>
              <div id="recipeModalContent_PhotoRecipe" class="recipe_img_lg" style="width: 100%; background-size: cover; background-position: 50%;">
                <script type="text/javascript">
                  var recipe_height_lg = $('.recipe_img_lg').width() * 0.8;
                  $('.recipe_img_lg').css({'height':recipe_height_lg+'px'});
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- 4. Nos magasins -->
<div class="modal bs-example-modal-lg fade" id="shopsModal" tabindex="-1" role="dialog" aria-labelledby="shopsModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="shopsModalLabel">
          {{ 'main.titles.ourShops' | trans }}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          <div class="row">
            {{ 'cart.orderContent.requisites2' | trans }} 
            <ol>
              <li>
                {{ 'cart.orderContent.conditions1' | trans }}
              </li>
              <li>
                {{ 'cart.orderContent.conditions2' | trans }}
                <br/>
                <br class="hidden-xs"/>
                <div class="address_box">
                  <span style="font-size:1.2em; font-weight: 500;">
                    <strong>Le Buffet Francés</strong> 
                  </span>
                  <br/>
                  <span style="font-size:0.9em; font-weight: 200;">
                    Avenida Las Sauces <br/>
                    Larapa, San Sebastian, Cusco <br/>
                        <strong>
                          Perú
                        </strong>
                  </span>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- 5. CGV -->
<div class="modal bs-example-modal-lg fade" id="CGVModal" tabindex="-1" role="dialog" aria-labelledby="CGVModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="CGVModalLabel">
          Condiciones Generales de Venta
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          <h5>
            Condiciones generales de venta de <strong>Le Buffet Francés</strong>
          </h5>

          <p class="left">
            La venta de productos del Vendedor se regula por las presentes Condiciones Generales de Venta. 
          </p>
          <p class="left">
            Estas Condiciones Generales de Venta se consideran aceptadas sin reservas por el Comprador. Asimismo, las presentes Condiciones Generales de Venta serán de aplicación prioritaria sobre las condiciones generales del comprador.
          </p>
          <p class="left">
            El Vendedor se reserva el derecho de actualizar y/o modificar el contenido de las presentes Condiciones Generales de Venta en cualquier momento sin previo aviso, por lo que se recomienda al Comprador su periódica verificación.
          </p>

          <br/>

          <h4>
            1. Elección del Producto
          </h4>
          <p class="left">
            El Comprador es el único responsable de la elección del producto objeto de la compraventa, así como del uso o función a que el mismo se destina. Por consiguiente, y en consonancia con lo referido en sus catálogos, tarifas y/o informaciones generales sobre el producto, el Vendedor no se hace responsable ni garantiza que el producto sea el adecuado para las aplicaciones técnicas pretendidas por el Comprador, ni para alcanzar, en todo o en parte, los objetivos previstos por éste al efectuar su compra de los productos.
          </p>

          <br/>

          <h4>
            2. Transferencia de riesgos
          </h4>
          <p class="left">
            Salvo que los términos de la factura indiquen otra cosa, el riesgo se transfiere al Comprador en el momento de la llegada de las mercancías al destino indicado por él para la entrega o en el momento en que las mismas sean puestas a disposición de aquel en las instalaciones del Vendedor para su recogida por parte o por cuenta del Comprador. El riesgo se transfiere incluso si el Comprador decide retrasar su recogida.
          </p>

          <p class="left">
            Las posibles reclamaciones en contra del transportista, en el caso de que se constaten a la llegada de las mercancías, bien por diferencias en la cantidad, bien por taras debidas al transporte deberán: 
            <ul>  
              <li>
                realizarse de forma inmediata en los documentos de entrega mismos que estén en posesión del transportista.
              </li>
              <li>
                ser confirmadas al transportista por carta certificada con acuse de recibo en los tres días laborables siguientes a la fecha de entrega.
              </li>
            </ul>
          </p>

          <br/>

          <h4>
            3. Plazos de entrega
          </h4>

          <p class="left">
            Los plazos de expedición y entrega se contarán desde la aceptación del pedido y son meramente indicativos. El Comprador no tendrá derecho a indemnización alguna por eventuales retrasos en la entrega.
          </p>
          <p class="left">
            En el caso de que la recogida de la mercancía incumba al Comprador y éste no la recoja tras su puesta a disposición, el Vendedor tendrá derecho a almacenar la mercancía o, después de interpelar al Comprador, proceder a su entrega o venta compensatoria por cuenta y riesgo de este. En el caso de entregas sucesivas, si el Comprador persiste en no recoger las mercancías, el Vendedor podrá resolver el contrato anulando en consecuencia aquella parte del pedido pendiente de servir.
          </p>
          <p class="left">
            Las causas internas del Vendedor que supongan un paro, una suspensión o una reducción pasajera de la producción, dan derecho a prórrogas por el tiempo equivalente a su duración, pero no podrán ser invocadas por las partes como causa de anulación de los pedidos, salvo caso de fuerza mayor. 
          </p>

          <br/>

          <h4>
            4. Fuerza Mayor
          </h4>
          <p class="left">
            En supuestos de fuerza mayor que obstaculicen la fabricación o entrega de las mercancías, el Vendedor tendrá derecho de retrasarla, y en caso de que las causas persistan durante más de un mes, a anular los pedidos, sin obligación de indemnización en ningún caso. Serán considerados supuestos de fuerza mayor, entre otros, huelgas, falta de transporte, accidentes en las fábricas, incendios y, en general, toda causa independiente de la voluntad del Vendedor.
          </p>

          <br/>

          <h4>
            5. Reclamaciones
          </h4>
          <p class="left">
            Sólo las reclamaciones recibidas por correo electrónico, carta o fax serán admitidas. El plazo para reclamar será: 
            <ul>
              <li>
                de cinco días desde la llegada de la mercancía al destino indicado por el Comprador, en caso de no conformidad patente entre la entrega y el pedido en cuanto a calidad o cantidad.
              </li>
              <li>
                antes de su utilización y como muy tarde, dentro de los diez días siguientes a la llegada de la mercancía al destino indicado por el Comprador, si el defecto o irregularidad no pueden ser detectados mediante un simple examen o verificación elemental.
              </li>
              <li>
                sin demora y como muy tarde dentro de los seis meses siguientes a la llegada de la mercancía a su lugar de destino, en los casos en que el defecto o la irregularidad sólo puedan ser detectados recurriendo a un examen en profundidad, una prueba o la puesta normal en la máquina de la mercancía adquirida.
              </li>
            </ul>
          </p>
          <p class="left">
            Después de notificada una reclamación dentro del plazo oportuno, la transformación de la mercancía objeto de la reclamación sólo podrá realizarse con el acuerdo del Vendedor.
          </p>
          <p class="left">
            La parte ya transformada de la mercancía entregada no podrá ser objeto de una reclamación. En todo caso, al menos el 90% de la cantidad de papel objeto de la reclamación debe estar disponible, intacto y ser perfectamente identificable. La constatación de un defecto que afecte solamente a una parte de la mercancía entregada, no da derecho al Comprador para no cumplir su obligación de pagar dentro del plazo la totalidad de la mercancía, ni para rechazar totalmente a la misma.
          </p>

          <br/>

          <h4>
            6. Precio y pago
          </h4> 
          <p class="left">
            Los precios no incluyen los impuestos que le son de aplicación en cada momento de conformidad con la legislación fiscal vigente.
          </p>
          <p class="left">
            Salvo acuerdo escrito de las partes en otro sentido: 
            <ul>
              <li>
                las mercancías son facturadas al precio de la tarifa del día de la entrega y pueden ser modificados en cualquier momento sin preaviso.
              </li>
              <li>
                los precios que constan en la tarifa son antes de impuestos y están limitados a las cantidades disponibles en almacén en el momento de la recepción del pedido.
              </li>
              <li>
                el pago al contado se realizará contra entrega de las mercancías.
              </li>
              <li>
                el lugar de pago al contado será el domicilio del Vendedor.
              </li>
            </ul>
          </p>
          <p class="left">
            No se aplicará el descuento por pronto pago a los pedidos que se paguen mediante tarjeta de crédito.
          </p>

          <br/>

          <h5>
            6.1. Plazo de pago            
          </h5>
          <p class="left">
            Los precios de la tarifa están previstos para pagos al contado. En caso de pago a plazos, la falta de pago de un solo plazo fijado contractualmente conllevará el vencimiento anticipado de toda la deuda.
          </p>
          <p class="left">
            Asimismo, en el caso de pagos y entregas escalonados, el impago de una entrega conlleva a que el Vendedor tenga el derecho de retención sobre las entregas futuras.
          </p>
          <p class="left">
            En estos supuestos de pagos fraccionados, la renuncia al primer pago efectuado por el Comprador no le faculta a retractarse de su pedido. No obstante, en caso de anulación del pedido por motivos personales, cualquier anticipo efectuado queda en propiedad del Vendedor como indemnización por daños y perjuicios causados.
          </p>
          <p class="left">
            La declaración de concurso o la liquidación judicial o extrajudicial del Comprador o, de un modo general, cualquier modificación de su estatuto jurídico que afecte su solvencia, conllevará a que el Vendedor pueda exigir de forma inmediata todos los créditos por todas las mercancías entregadas y no pagadas por el Comprador.
          </p>

          <br/>

          <h5>
            6.2. Retrasos en el pago y deterioro del crédito del Comprador
          </h5>
          <p class="left">
            El impago de una factura a su vencimiento, comportará intereses de demora al tipo legal de interés aplicable a las deudas comerciales publicado en el Boletín Oficial del Estado.
          </p>
          <p class="left">
            En el caso de que el impago del Comprador persista ocho días después de ser requerido formalmente de pago por el Vendedor, éste podrá exigir el pago inmediato de todas las facturas no vencidas, así como el pago anticipado de todas las entregas no efectuadas hasta la fecha y correspondientes a pedidos confirmados.
          </p>
          <p class="left">
            En el caso de empeoramiento del crédito del Comprador y/o de su solvencia, y retrasos en el pago, el Vendedor podrá igualmente exigir la prestación de una garantía real o personal, o exigir el pago por anticipado de los pedidos. En todo caso, si se trata de pedidos de papel que hayan de ser fabricados, el Vendedor podrá supeditar la puesta en marcha o ejecución de estos pedidos a la prestación de una garantía real o personal o, en su defecto, al pago por anticipado de la mercancía.
          </p>
          <p class="left">
            El incumplimiento por el Comprador de las disposiciones antes expuestas otorgan al Vendedor el derecho de renunciar al pedido y a resolver el contrato, así como a reclamar daños y perjuicios.
          </p>

          <br/>

          <h5>
            6.3. Condiciones de descuento
          </h5>
          <p class="left">
            En supuestos de pagos en fechas anteriores a las resultantes de la aplicación de las condiciones particulares que hayan sido previa y expresamente acordadas con el Vendedor, el tipo aplicable de descuento será por lo menos el equivalente al tipo de interés legal del dinero publicado en el Boletín Oficial del Estado el día de pago.
          </p>

          <br/>

          <h4>
            7. Gestión medioambiental de envases y de residuos de envases
          </h4>
          <p class="left">
            El poseedor final en Perú del residuo de envase o envase usado, es el responsable de su entrega para una correcta gestión ambiental, de conformidad con la Ley 11/1997, el Real Decreto 782/1998, el Real Decreto 252/2006 y legislación concordante. El poseedor final en cualquier otro estado miembro de la Unión Europea de residuos de envases o envase usado es el responsable de su correcta gestión ambiental de conformidad con las Directivas 1994/62 CEE de 20 de diciembre y 2004/12 CEE de 11 de febrero y normativa estatal aplicable.
          </p>

          <br/>

          <h4>
            8. Reserva de dominio
          </h4>
          <p class="left">
            El Vendedor se reserva el derecho a la plena propiedad de los bienes vendidos hasta al pago total y efectivo por el Comprador del precio e importes facturados.
          </p>
          <p class="left">
            El Comprador está obligado a informar al Vendedor sobre todas las medidas adoptadas por terceros que afecten a las mercancías mientras sean propiedad del Vendedor. Asimismo, el Comprador se obliga a designar al Vendedor como beneficiario de las correspondientes pólizas de seguro respecto de la mercancía sobre la que exista reserva de dominio.
          </p>
          <p class="left">
            El Comprador podrá transformar o revender dichas mercancías en el marco de una normal gestión comercial. La transformación de las mercancías objeto de esta reserva de dominio no transfiere la propiedad de las mismas al Comprador. En el caso de que en el momento la transformación se incorporen también otros productos no pertenecientes al Comprador, ello implica la existencia de una copropiedad sobre la cosa nueva, en la que participa el Vendedor en la medida del valor de la mercancía sobre la cual existe reserva de dominio.
          </p>
          <p class="left">
            El Comprador cede al Vendedor los créditos resultantes de la reventa de las mercancías transformadas o no sometidas en todo o en parte a la reserva de dominio. A petición del Vendedor, el Comprador debe notificar esta cesión a sus propios compradores.
          </p>
          <p class="left">
            El importe de los créditos cedidos y cobrados por el Vendedor en tales supuestos se aplicará, en primer lugar, al pago de los intereses de demora convenidos y a las sanciones convencionales pactadas. Las cantidades restantes, en su caso se aplicarán al importe de las facturas.
          </p>
          <p class="left">
            Asimismo, se acuerda que los pagos parciales no supondrán un obstáculo a una eventual acción reivindicatoria del Vendedor basada en la reserva de dominio pactada.
          </p>
          <p class="left">
            El Vendedor podrá resolver la venta y recuperar las mercancías transformadas o no, objeto de esta cláusula de reserva de dominio, en el caso de producirse alguno de los supuestos previstos en la cláusula relativa a los pagos de estas condiciones generales de venta. En el caso de que el Vendedor recupere las mercancías después de que éstas hayan sido transformadas por el Comprador y vendidas a un tercero, deberá devolver al Comprador la diferencia del precio de venta de las mercancías antes y después de su transformación.
          </p>
          <p class="left">
            Se acuerda que el Comprador no podrá, bajo sanción de una reclamación por daños y perjuicios por resistencia abusiva, sustraerse a la restitución de las mercancías al primer requerimiento presentado por el Vendedor en aplicación de esta reserva de dominio. En caso de desacuerdo en cuanto al modo de restitución de las mercancías, la misma se solicitará judicialmente ante los Tribunales de la ciudad de Barcelona, los del domicilio del Comprador o de aquellos en que se encuentren las mercancías, a elección del Vendedor.
          </p>
          <p class="left">
            Las mercancías así recuperadas serán objeto de peritación para determinar su valor y se aplicarán para pago de las deudas pendientes, incluyendo intereses, más todos los gastos que la recuperación de esa mercancía lleve aparejados, incluso su peritación, y sin perjuicio de eventuales daños y perjuicios que pudieran ser debidos por el Comprador en concepto de reparación del perjuicio sufrido por el Vendedor por el hecho de la resolución de la venta por el impago del precio.
          </p>

          <br/>

          <h4>
            9. Cláusula penal
          </h4>
          <p class="left">
            En el caso de impago a su vencimiento de las correspondientes facturas y después que la reclamación al Comprador por parte del Vendedor haya sido infructuosa, el Comprador deberá, además del importe principal de la deuda, de los intereses de demora acordados y referidos más arriba, pagar al vendedor en concepto de cláusula penal un importe correspondiente al 15% de las sumas adeudadas.
          </p>

          <br/>

          <h4>
            10. Cumplimiento del Código Ético
          </h4>
          <p class="left">
            El Comprador declara conocer y aceptar los términos y condiciones del Código Ético adoptado por <strong>Le Buffet Francés</strong>,  y se obliga, también en nombre de sus empleados, a atenerse rigurosamente a su contenido.
          </p>
          <p class="left">
            El Código Etico está disponible en el sitio Internet de <strong>Le Buffet Francés</strong> <a href="www.lebuffetfrances.com" target="_blank">www.lebuffetfrances.com</a>, aunque el Comprador podrá también, en todo momento, solicitar una copia en papel.
          </p>
          <p class="left">
            El incumplimiento por parte del Comprador de una cualquiera de las disposiciones del mencionado Código Ético, implicará un incumplimiento grave de las obligaciones derivadas de la relación comercial existente y facultará a <strongLe Buffet Francés</strong>,  a suspender posteriores suministros, sin perjuicio de la indemnización por los daños o perjuicios que pudiesen ocasionarse a <strong>Le Buffet Francés</strong>.
          </p>

          <br/>

          <h4>
            11. Tolerancias de producto
          </h4>
          <p class="left">
            Serán aplicables a los productos vendidos las tolerancias previstas en las condiciones generales de venta aprobadas por la Confederación Europea de la Industria de Papel. Copia de las mismas puede obtenerse contactando directamente con la CEPI, 250, Av. Louise, B-1050 Bruselas, Bélgica.
          </p>

          <br/>

          <h4>
            12. Política de privacidad
          </h4>
          <p class="left">
            El Vendedor incorporará los datos de carácter personal que el Comprador le proporcione a través de formularios, de solicitudes on-line, de pedidos de productos o servicios o a través de cualquier otra forma en el fichero de Clientes y así como los datos del Comprador que se obtengan a través de ficheros comunes de morosidad y solvencia patrimonial o cualquier otro medio legítimo.
          </p>
          <p class="left">
            Esta compañía garantiza la adopción de las medidas necesarias para asegurar el tratamiento confidencial de dichos datos y para evitar su alteración, pérdida, tratamiento o acceso no autorizado con arreglo a lo establecido en la legislación vigente. El Comprador que tenga datos registrados en el fichero de Clientes del Vendedor podrá en cualquier momento ejercer el derecho a acceder, rectificar y en su caso, cancelar los datos de carácter personal suministrados al Vendedor mediante comunicación escrita dirigida a <strong>Le Buffet Francés</strong> , Departamento de Marketing, Llull 331, 08019 Barcelona, España o a través de esta misma página Web utilizando el formulario "Contactar"
          </p>
          <p class="left">
            Esta información recabada podrá ser usada para comunicar vía e-mail, incidencias, ofertas o novedades al Comprador. En el momento que el Comprador facilite por primera vez su dirección de e-mail al Vendedor, tiene la posibilidad de declarar que no desea recibir este tipo de información. El Vendedor incluirá también en sus mensajes de e-mail, instrucciones de cómo des-inscribirse si el Comprador decide posteriormente que no desea recibir más e-mails o contactos comerciales.
          </p>
          <p class="left">
            El Comprador autoriza expresamente a la entidad la cesión, de los datos incluidos en el mencionado fichero, a las entidades del grupo para el cumplimiento de fines directamente relacionados con las funciones para los que fueron solicitados. Del mismo modo, autoriza la cesión de sus datos personales a asociaciones que presten servicios de información sobre solvencia patrimonial y crédito, a aseguradores de crédito contratadas por la compañía, así como a incluir dentro del mencionado tratamiento, datos financieros obtenidos de entidades emisoras de informes financieros, con la finalidad de efectuar una adecuada gestión del crédito otorgado al Comprador por <strongLe Buffet Francés</strong>,  La razón social y dirección de estas entidades puede consultarse en Entidades o mediante comunicación escrita dirigida a <strong>Le Buffet Francés</strong> , Departamento de Administración Comercial, Llull 331, 08019 Barcelona, España.
          </p>

          <br/>

          <h4>
            13. Jurisdicción competente
          </h4>
          <p class="left">
            Las partes acuerdan mutuamente que todo litigio, independiente de su naturaleza, relativo a la presente venta, su cumplimiento, ejecución e interpretación será de la competencia exclusiva de los Tribunales del lugar del domicilio social del Vendedor, es decir, la ciudad de Barcelona.
          </p>

          <br/>

          <h4>
            14. Anexo
          </h4>
          <p class="left">
            Serán aplicables los siguientes recargos por transporte y/o certificación en las entregas de almacén:
          </p>

          <br/>

          <h5>
            14.1. Entregas unitarias inferiores a 70€
          </h5>
          <p class="left">
            Las entregas correspondientes a pedidos cuyo valor no alcance los 70€ soportarán un cargo de transporte de 10€.
          </p>

          <br/>

          <h5>
            14.2. Retiradas por causas ajenas al Vendedor
          </h5>
          <p class="left">
            Las retiradas de productos solicitadas por el Comprador por causas ajenas al Vendedor soportarán un cargo por transporte de 35€/tonelada, con un importe fijo mínimo de 35€ en cada retirada.
          </p>

          <br/>

          <h5>
            14.3. Pedidos certificados FSC® o PEFC™
          </h5>
          <p class="left">
            Los pedidos que se soliciten con certificación FSC® o PEFC™ llevarán un suplemento de 20€/tonelada sobre los precios vigentes en cada momento.
          </p>

          <br/>

          <h5>
            14.4. Entregas de productos de reprografía a terceros
          </h5>
          <p class="left">
            Las entregas de productos de reprografía (Office Papers) realizadas a terceros soportarán un cargo de 8€ por entrega.
          </p>

          <br/><br/>
            Estos recargos estarán sujetos a posibles modificaciones que pudieran realizarse en el tiempo.
          <br/><br/> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>



<!-- 6. Mentions légales -->
<div class="modal bs-example-modal-lg fade" id="legalMentionsModal" tabindex="-1" role="dialog" aria-labelledby="legalMentionsModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="legalMentionsModalLabel">
          Menciónes legales
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          <p class="left">
            La Sociedad <strong>Le Buffet Francés</strong> (denominada a continuación « <strong>Le Buffet Francés</strong> ») se dedica a la concepción, al desarrollo, a la edición, a la distribución y al mantenimiento de programas de « geometría dinámica », fundados en la tecnología Cabri y destinados a la enseñanza y a la formación.
          </p>
          <p class="left">
            <strong>Le Buffet Francés</strong> es dueña de su sitio web <a href="www.lebuffetfrances.com" target="_blank">www.lebuffetfrances.com</a>, denominado a continuación el Sitio.
          </p>
          <p class="left">
            El objetivo del Sitio es presentar al usuario los productos y servicios comercializados por <strong>Le Buffet Francés</strong>, proponiendo su venta a distancia.
          </p>
          <p class="left">
            El acceso y la utilización de este Sitio quedan sometidos a las siguientes condiciones, y a las disposiciones legales vigentes. Al acceder al Sitio, el usuario acepta, sin limitación ni reservas, estas condiciones.
          </p>

          <br/>

          <h5>
            Identificación de la sociedad <strong>Le Buffet Francés</strong> <br/>
          </h5>
          <p class="left">
            <strong>Domicilio social:</strong> C-19, calle las Orquideas, Larapa, San Jeronimo, Cusco <br/>
            <strong>Forma jurídica:</strong> Empresa ? <br/>
            <strong>Dirección postal:</strong> Igual a la del domicilio social.  <br/>
            <strong>Tel.:</strong> +51 984 06 06 20 <br/>
            <strong>E-mail:</strong> antoine@lebuffetfrances.com <br/>
            <strong>RUC:</strong> 20 600 220 463
          </p>

          <br/>

          <h5>
            Limitación de responsabilidad
          </h5>
          <p class="left">
            <ul>
              <li>
                <strong>Le Buffet Francés</strong> no garantiza la disponibilidad o accesibilidad del Sitio, ni la ausencia de virus. 
              </li>
              <li>
                <strong>Le Buffet Francés</strong> tampoco se responsabiliza de los daños que resulten de una intrusión fraudulenta de un tercero, que acarree una modificación de las informaciones difundidas en el Sitio.
              </li>
              <li>
                El Sitio se facilita en su estado, sin otra garantía. Por consiguiente, <strong>Le Buffet Francés</strong> no garantiza el valor comercial del Sitio, la satisfacción del usuario o su capacidad a satisfacer una utilización particular. 
              </li>
              <li>
                <strong>Le Buffet Francés</strong> no se podrá responsabilizar de los daños temporales o permanentes provocados en el sistema informático del usuario, ni de las posibles pérdidas o daños (incluyendo, a título meramente enunciativo, la pérdida de datos o de beneficios) consecutivos al acceso o a la navegación en el Sitio, o a la explotación de las informaciones contenidas en el Sitio. 
              </li>
              <li>
                Las informaciones relativas a los precios y a la disponibilidad de los productos y servicios que aparecen en el Sitio pueden ser objeto de modificaciones, y sólo se facilitan a título de indicación.
              </li>
            </ul>
            
          </p>

          <br/>

          <h5>
            Enlaces hacia otros sitios Web
          </h5>
          <p class="left">
            El Sitio propone enlaces hacia otros sitios. <strong>Le Buffet Francés</strong> no ejerce ningún tipo de control sobre dichos sitios y sus acciones, y declina toda responsabilidad en cuanto a su contenido.
          </p>

          <br/>

          <h5>
            Informática y libertades
          </h5>
          <p class="left">
            La consulta del Sitio es libre y se puede realizar sin identificación previa. Las informaciones nominativas que pueda recoger <strong>Le Buffet Francés</strong> son los datos facilitados en caso de solicitud de informaciones generales, comerciales o técnicas. Conforme con lo dispuesto en la Ley No. 1978-17 del 6 de enero sobre Informática, Ficheros y Libertad, el usuario del Sitio dispone de un derecho de acceso, rectificación y supresión de los datos que le atañen. Para ejercer este derecho o para oponerse a la comunicación de estos datos a un tercero, el usuario del Sitio puede escribir a <strong>Le Buffet Francés</strong> (por correo, fax, o e-mail).
          </p>

          <br/>

          <h5>
            Cláusula de atribución de competencia y ley aplicable
          </h5>
          <p class="left">
            Las condiciones de utilización del Sitio se rigen por el Derecho francés. 
          </p>
          <p class="left">
            Cualquier discrepancia relativa al Sitio web de <strong>Le Buffet Francés</strong> (incluso en caso de litigio, denuncia o de pluralidad de demandados) será sometida exclusivamente al Tribunal de Comercio de Grenoble (38, Francia).
          </p>

          <br/>

          <h5>
            Propiedad intelectual
          </h5>
          <p class="left">
            Los elementos y la estructura del Sitio son protegidos por el derecho de los dibujos y modelos, el derecho de autor y el derecho de las marcas. Por consiguiente, queda estrictamente prohibido, salvo previa autorización escrita de <strong>Le Buffet Francés</strong>:
            <ol>
              <li>
                descargar o modificar el Sitio, parcialmente o en totalidad, 
              </li>
              <li>
                utilizar para la venta o para cualquier otro uso, mercantil o no, el presente Sitio o su contenido (Productos enumerados, descripciones, precios, descarga o copia de las informaciones por cuenta de otro comerciante, utilización de datos, programas, extractos sonoros, grafismos, imágenes, textos, fotos o herramientas),
              </li>
              <li>
                reproducir, copiar, vender o explotar con motivos comerciales la totalidad o una parte del Sitio,
              </li>
              <li>
                utilizar técnicas que permitan copiar una marca, un logotipo o cualquier otra información (y en particular imágenes, texto, maquetas), 
              </li>
              <li>
                utilizar los “meta tags” o cualquier otro texto « enmascarado » que contenga el nombre, las marcas o el logotipo del Vendedor,
              </li>
            </ol>
          </p>

          <br/>

          <p class="left">
            CABRI GEOMETRE, CABRI, CABRILOG son marcas depositadas por <strong>Le Buffet Francés</strong>. El uso de dichas marcas por terceros sin previo acuerdo escrito de <strong>Le Buffet Francés</strong> queda estrictamente prohibido. Los nombres de productos, servicios y sociedades que aparecen en el Sitio pueden ser marcas registradas que pertenezcan a terceros, y protegidos por esta razón por el Derecho de la Propiedad Intelectual.            
          </p>

          <p class="left">
            Todos los derechos no concedidos de modo expreso son reservados por <strong>Le Buffet Francés</strong>.
          </p>

          <p class="center">
            Copyright 2007 Le Buffet Francés
          </p>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- 7. La livraison -->
<div class="modal bs-example-modal-lg fade" id="deliveryModal" tabindex="-1" role="dialog" aria-labelledby="deliveryModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="deliveryModalLabel">
          {{ 'main.titles.delivery' | trans }}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          <p class="left">
            {{ 'modal.modalDelivery.pleaseBeAware' | trans }}
          </p>
          <p class="left">
            {{ 'modal.modalDelivery.cantDeliver' | trans }}
          </p>
          <p class="left">
            {{ 'modal.modalDelivery.deliveryTime' | trans }} <strong>{{ 'modal.modalDelivery.deliveryTime2' | trans }}</strong>
          </p>
          <p class="center">
            <br class="hidden-xs"/>
            <div class="address_box">
              <span style="font-size:1.2em; font-weight: 500;">
                <strong>Le Buffet Francés</strong> 
              </span>
              <br/>
              <span style="font-size:0.9em; font-weight: 200;">
                Avenida Las Sauces <br/>
                Larapa, San Sebastian, Cusco <br/>
                    <strong>
                      Perú
                    </strong>
              </span>
            </div>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- 8. Notre travail -->
<div class="modal bs-example-modal-lg fade" id="ourWorkModal" tabindex="-1" role="dialog" aria-labelledby="ourWorkModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="ourWorkModalLabel">
          {{ 'modal.ourWorkModal.title' | trans }}
        </h2>
      </div>
      <div class="modal-body">
        <p class="left">
          {{ 'modal.ourWorkModal.why' | trans }}
          <ul>
            <li>
              {{ 'modal.ourWorkModal.ethic1' | trans }}
            </li>
            <li>
              {{ 'modal.ourWorkModal.ethic2' | trans }}
            </li>
            <li>
              {{ 'modal.ourWorkModal.ethic3' | trans }}
            </li>
          </ul>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 9. FAQ -->
<div class="modal bs-example-modal-lg fade" id="FAQModal" tabindex="-1" role="dialog" aria-labelledby="FAQModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="FAQModalLabel">
          {{ 'modal.FAQModal.title' | trans }}
        </h2>
      </div>
      <div class="modal-body">
        <h4 class="left">
          1. {{ 'modal.FAQModal.question1' | trans }}
        </h4>
        <p class="left">
          {{ 'modal.FAQModal.answer1' | trans }} <strong><a href="mailto:{{ 'modal.FAQModal.answer1bis' | trans }}">{{ 'modal.FAQModal.answer1bis' | trans }}</a></strong>
        </p>

        <br/>

        <h4 class="left">
          2. {{ 'modal.FAQModal.question2' | trans }}
        </h4>
        <p class="left">
          {{ 'modal.FAQModal.answer2' | trans }}
        </p>

        <br/>

        <h4 class="left">
          3. {{ 'modal.FAQModal.question3' | trans }}
        </h4>
        <p class="left">
          {{ 'modal.FAQModal.answer3' | trans }}
        </p>

        <br/>

        <h4 class="left">
          4. {{ 'modal.FAQModal.question4' | trans }}
        </h4>
        <p class="left">
          {{ 'modal.FAQModal.answer4' | trans }} <strong><a href="mailto:{{ 'modal.FAQModal.answer1bis' | trans }}">{{ 'modal.FAQModal.answer1bis' | trans }}</a></strong>
        </p>

        <br/>

        <h4 class="left">
          5. {{ 'modal.FAQModal.question5' | trans }}
        </h4>
        <p class="left">
          {{ 'modal.FAQModal.answer5' | trans }} <strong><a href="mailto:{{ 'modal.FAQModal.answer1bis' | trans }}">{{ 'modal.FAQModal.answer1bis' | trans }}</a></strong>
        </p>

        <br/>

        <h4 class="left">
          6. {{ 'modal.FAQModal.question6' | trans }}
        </h4>
        <p class="left">
          {{ 'modal.FAQModal.answer6' | trans }}
        </p>

        <br/>

        <h4 class="left">
          7. {{ 'modal.FAQModal.question7' | trans }}
        </h4>
        <p class="left">
          {{ 'modal.FAQModal.answer7' | trans }}
        </p>

        <br/>

        <h4 class="left">
          8. {{ 'modal.FAQModal.question8' | trans }}
        </h4>
        <p class="left">
          {{ 'modal.FAQModal.answer8' | trans }} <strong><a href="mailto:{{ 'modal.FAQModal.answer1bis' | trans }}">{{ 'modal.FAQModal.answer1bis' | trans }}</a></strong>, <strong><a href="tel:{{ 'modal.FAQModal.answer8bis' | trans }}">{{ 'modal.FAQModal.answer8bis' | trans }}</a></strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>