<!-- Modals for "more info" -->

{% set current_language = '' %}
{% if (app.request.get('_route_params')) != null %}
  {% if (app.request.get('_route_params')._locale == 'fr') %}
    {% set current_language = 'fr' %}
  {% elseif (app.request.get('_route_params')._locale == 'en') %}
    {% set current_language = 'en' %}
  {% else %}
    {% set current_language = 'es' %}
  {% endif %}
{% endif %}


<script type="text/javascript">
  

  function goToWithoutModal(path) {
    $('#qualityModal').modal('hide');
    window.location = path;
  }
</script>

<!-- 1. Quality -->
<div class="modal bs-example-modal-lg fade" id="qualityModal" tabindex="-1" role="dialog" aria-labelledby="qualityModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center">
          {% set pageQualite = '' %}
          {% if pages|length > 0 %}
            {% for page in pages %}
              {% if page.dataBaseName == 'Qualite_Principal' %}
                {% set pageQualite = page %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if current_language %}
            {% if current_language == 'fr' and pageQualite.headerFr|length > 0 %}
              {{ pageQualite.headerFr }}
            {% elseif current_language == 'en' and pageQualite.headerEn|length > 0 %}
              {{ pageQualite.headerEn }} 
            {% else %}
              {{ pageQualite.headerEs }}
            {% endif %}
          {% else %}
            {{ pageQualite.headerEs }}
          {% endif %}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          {% if current_language %}
            {% if current_language == 'fr' and pageQualite.contentFr|length > 0 %}
              {{ pageQualite.contentFr|raw }}
            {% elseif current_language == 'en' and pageQualite.contentEn|length > 0 %}
              {{ pageQualite.contentEn|raw }} 
            {% else %}
              {{ pageQualite.contentEs|raw }}
            {% endif %}
          {% else %}
            {{ pageQualite.contentEs|raw }}
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- 2. Reservation -->
<div class="modal bs-example-modal-lg fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center">
          {% set pageReservation = '' %}
          {% if pages|length > 0 %}
            {% for page in pages %}
              {% if page.dataBaseName == 'Reservation_Principal' %}
                {% set pageReservation = page %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if current_language %}
            {% if current_language == 'fr' and pageReservation.headerFr|length > 0 %}
              {{ pageReservation.headerFr }}
            {% elseif current_language == 'en' and pageReservation.headerEn|length > 0 %}
              {{ pageReservation.headerEn }} 
            {% else %}
              {{ pageReservation.headerEs }}
            {% endif %}
          {% else %}
            {{ pageReservation.headerEs }}
          {% endif %}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          {% if current_language %}
            {% if current_language == 'fr' and pageReservation.contentFr|length > 0 %}
              {{ pageReservation.contentFr|raw }}
            {% elseif current_language == 'en' and pageReservation.contentEn|length > 0 %}
              {{ pageReservation.contentEn|raw }} 
            {% else %}
              {{ pageReservation.contentEs|raw }}
            {% endif %}
          {% else %}
            {{ pageReservation.contentEs|raw }}
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>



<!-- 4. Nos magasins -->
<div class="modal bs-example-modal-lg fade" id="shopsModal" tabindex="-1" role="dialog" aria-labelledby="shopsModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center">
          {% set pageFooterMagasins = '' %}
          {% if pages|length > 0 %}
            {% for page in pages %}
              {% if page.dataBaseName == 'Footer_Nos_Magasins' %}
                {% set pageFooterMagasins = page %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if current_language %}
            {% if current_language == 'fr' and pageFooterMagasins.headerFr|length > 0 %}
              {{ pageFooterMagasins.headerFr }}
            {% elseif current_language == 'en' and pageFooterMagasins.headerEn|length > 0 %}
              {{ pageFooterMagasins.headerEn }} 
            {% else %}
              {{ pageFooterMagasins.headerEs }}
            {% endif %}
          {% else %}
            {{ pageFooterMagasins.headerEs }}
          {% endif %}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          {% if current_language %}
            {% if current_language == 'fr' and pageFooterMagasins.contentFr|length > 0 %}
              {{ pageFooterMagasins.contentFr|raw }}
            {% elseif current_language == 'en' and pageFooterMagasins.contentEn|length > 0 %}
              {{ pageFooterMagasins.contentEn|raw }} 
            {% else %}
              {{ pageFooterMagasins.contentEs|raw }}
            {% endif %}
          {% else %}
            {{ pageFooterMagasins.contentEs|raw }}
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- 5. CGV -->
<div class="modal bs-example-modal-lg fade" id="CGVModal" tabindex="-1" role="dialog" aria-labelledby="CGVModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center">
          {% set pageFooterCGV = '' %}
          {% if pages|length > 0 %}
            {% for page in pages %}
              {% if page.dataBaseName == 'Footer_Conditions_Vente' %}
                {% set pageFooterCGV = page %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if current_language %}
            {% if current_language == 'fr' and pageFooterCGV.headerFr|length > 0 %}
              {{ pageFooterCGV.headerFr }}
            {% elseif current_language == 'en' and pageFooterCGV.headerEn|length > 0 %}
              {{ pageFooterCGV.headerEn }} 
            {% else %}
              {{ pageFooterCGV.headerEs }}
            {% endif %}
          {% else %}
            {{ pageFooterCGV.headerEs }}
          {% endif %}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          {% if current_language %}
            {% if current_language == 'fr' and pageFooterCGV.contentFr|length > 0 %}
              {{ pageFooterCGV.contentFr|raw }}
            {% elseif current_language == 'en' and pageFooterCGV.contentEn|length > 0 %}
              {{ pageFooterCGV.contentEn|raw }} 
            {% else %}
              {{ pageFooterCGV.contentEs|raw }}
            {% endif %}
          {% else %}
            {{ pageFooterCGV.contentEs|raw }}
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>



<!-- 6. Mentions légales -->
<div class="modal bs-example-modal-lg fade" id="legalMentionsModal" tabindex="-1" role="dialog" aria-labelledby="legalMentionsModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center">
          {% set pageFooterMentionsLegales = '' %}
          {% if pages|length > 0 %}
            {% for page in pages %}
              {% if page.dataBaseName == 'Footer_Mentions_Legales' %}
                {% set pageFooterMentionsLegales = page %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if current_language %}
            {% if current_language == 'fr' and pageFooterMentionsLegales.headerFr|length > 0 %}
              {{ pageFooterMentionsLegales.headerFr }}
            {% elseif current_language == 'en' and pageFooterMentionsLegales.headerEn|length > 0 %}
              {{ pageFooterMentionsLegales.headerEn }} 
            {% else %}
              {{ pageFooterMentionsLegales.headerEs }}
            {% endif %}
          {% else %}
            {{ pageFooterMentionsLegales.headerEs }}
          {% endif %}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          {% if current_language %}
            {% if current_language == 'fr' and pageFooterMentionsLegales.contentFr|length > 0 %}
              {{ pageFooterMentionsLegales.contentFr|raw }}
            {% elseif current_language == 'en' and pageFooterMentionsLegales.contentEn|length > 0 %}
              {{ pageFooterMentionsLegales.contentEn|raw }} 
            {% else %}
              {{ pageFooterMentionsLegales.contentEs|raw }}
            {% endif %}
          {% else %}
            {{ pageFooterMentionsLegales.contentEs|raw }}
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- 7. La livraison -->
<div class="modal bs-example-modal-lg fade" id="deliveryModal" tabindex="-1" role="dialog" aria-labelledby="deliveryModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center">
          {% set pageFooterLivraison = '' %}
          {% if pages|length > 0 %}
            {% for page in pages %}
              {% if page.dataBaseName == 'Footer_Livraison' %}
                {% set pageFooterLivraison = page %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if current_language %}
            {% if current_language == 'fr' and pageFooterLivraison.headerFr|length > 0 %}
              {{ pageFooterLivraison.headerFr }}
            {% elseif current_language == 'en' and pageFooterLivraison.headerEn|length > 0 %}
              {{ pageFooterLivraison.headerEn }} 
            {% else %}
              {{ pageFooterLivraison.headerEs }}
            {% endif %}
          {% else %}
            {{ pageFooterLivraison.headerEs }}
          {% endif %}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          {% if current_language %}
            {% if current_language == 'fr' and pageFooterLivraison.contentFr|length > 0 %}
              {{ pageFooterLivraison.contentFr|raw }}
            {% elseif current_language == 'en' and pageFooterLivraison.contentEn|length > 0 %}
              {{ pageFooterLivraison.contentEn|raw }} 
            {% else %}
              {{ pageFooterLivraison.contentEs|raw }}
            {% endif %}
          {% else %}
            {{ pageFooterLivraison.contentEs|raw }}
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- 8. Notre travail -->
<div class="modal bs-example-modal-lg fade" id="ourWorkModal" tabindex="-1" role="dialog" aria-labelledby="ourWorkModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center">
          {% set pageFooterTravail = '' %}
          {% if pages|length > 0 %}
            {% for page in pages %}
              {% if page.dataBaseName == 'Footer_Notre_Travail' %}
                {% set pageFooterTravail = page %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if current_language %}
            {% if current_language == 'fr' and pageFooterTravail.headerFr|length > 0 %}
              {{ pageFooterTravail.headerFr }}
            {% elseif current_language == 'en' and pageFooterTravail.headerEn|length > 0 %}
              {{ pageFooterTravail.headerEn }} 
            {% else %}
              {{ pageFooterTravail.headerEs }}
            {% endif %}
          {% else %}
            {{ pageFooterTravail.headerEs }}
          {% endif %}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          {% if current_language %}
            {% if current_language == 'fr' and pageFooterTravail.contentFr|length > 0 %}
              {{ pageFooterTravail.contentFr|raw }}
            {% elseif current_language == 'en' and pageFooterTravail.contentEn|length > 0 %}
              {{ pageFooterTravail.contentEn|raw }} 
            {% else %}
              {{ pageFooterTravail.contentEs|raw }}
            {% endif %}
          {% else %}
            {{ pageFooterTravail.contentEs|raw }}
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 9. FAQ -->
<div class="modal bs-example-modal-lg fade" id="FAQModal" tabindex="-1" role="dialog" aria-labelledby="FAQModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center">
          {% set pageFooterFAQ = '' %}
          {% if pages|length > 0 %}
            {% for page in pages %}
              {% if page.dataBaseName == 'Footer_FAQ' %}
                {% set pageFooterFAQ = page %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if current_language %}
            {% if current_language == 'fr' and pageFooterFAQ.headerFr|length > 0 %}
              {{ pageFooterFAQ.headerFr }}
            {% elseif current_language == 'en' and pageFooterFAQ.headerEn|length > 0 %}
              {{ pageFooterFAQ.headerEn }} 
            {% else %}
              {{ pageFooterFAQ.headerEs }}
            {% endif %}
          {% else %}
            {{ pageFooterFAQ.headerEs }}
          {% endif %}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          {% if current_language %}
            {% if current_language == 'fr' and pageFooterFAQ.contentFr|length > 0 %}
              {{ pageFooterFAQ.contentFr|raw }}
            {% elseif current_language == 'en' and pageFooterFAQ.contentEn|length > 0 %}
              {{ pageFooterFAQ.contentEn|raw }} 
            {% else %}
              {{ pageFooterFAQ.contentEs|raw }}
            {% endif %}
          {% else %}
            {{ pageFooterFAQ.contentEs|raw }}
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>