<!-- Modals for "more info" -->

<script type="text/javascript">
  

  function goToWithoutModal(path) {
    $('#qualityModal').modal('hide');
    window.location = path;
  }
</script>

<!-- 1. Quality -->
<div class="modal bs-example-modal-lg fade" id="qualityModal" tabindex="-1" role="dialog" aria-labelledby="qualityModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="qualityModalLabel">
          {{ 'main.titles.qualityProduct' | trans }}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          {{ 'modal.modalQuality.intro' | trans }}
          <ul>
            <li>
              {{ 'modal.modalQuality.quote1' | trans }}
            </li>
            <li>
              {{ 'modal.modalQuality.quote2' | trans }}
            </li>
            <li>
              {{ 'modal.modalQuality.quote3' | trans }}
            </li>
          </ul>
          {{ 'modal.modalQuality.dontWait' | trans }} <a href="javascript:goToWithoutModal('{{ path('lbf_main_homepage') }}#ourProducts')" ><strong> 
          {{ 'modal.modalQuality.products' | trans }} </strong></a> 
          {{ 'modal.modalQuality.thanksTo' | trans }} <a href="javascript:goToWithoutModal('{{ path('lbf_main_homepage') }}#ourRecipes')" ><strong> {{ 'modal.modalQuality.recipes' | trans }} </strong></a> 
          {{ 'modal.modalQuality.tested' | trans }}
        </div>
      </div>
      <div class="modal-footer padding0">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- 2. Reservation -->
<div class="modal bs-example-modal-lg fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="reservationModalLabel">
          {{ 'main.titles.reservation' | trans }}
        </h2>
      </div>
      <div class="modal-body">
        <div class="modal-body-inner">
          {{ 'modal.modalReservation.intro' | trans }}
          <ol>
            <li>
              {{ 'modal.modalReservation.quote1' | trans }}
            </li>
            <li>
              {{ 'modal.modalReservation.quote2' | trans }} *
            </li>
            <li>
              {{ 'modal.modalReservation.quote3' | trans }}
            </li>
            <li>
              {{ 'modal.modalReservation.quote4' | trans }}
            </li>
            <li>
              {{ 'modal.modalReservation.quote5' | trans }}
            </li>
            <li>
              {{ 'modal.modalReservation.quote6' | trans }}
              <br/>
              <br class="hidden-xs"/>
              <div class="address_box">
                <span style="font-size:1.2em;">
                  <strong>Le Buffet Francés</strong> 
                </span>
                <br/>
                <span style="font-size:0.9em;">
                  Avenida Las Sauces <br/>
                  Larapa, San Sebastian, Cusco <br/>
                  <strong>
                    Perú
                  </strong>
                </span>
              </div>
            </li>
          </ol>

          <strong>
            * 
            {{ 'modal.modalReservation.remark' | trans }}
          </strong>
          {{ 'modal.modalReservation.remarkContent' | trans }}
        </div>
      </div>
      <div class="modal-footer padding0">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- 3. Recette en question -->
<div class="modal bs-example-modal-lg fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="recipeModalTitle"></h2>
      </div>
      <div class="modal-body" id="recipeModalContent">
        <div class="modal-body-inner row">
          
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="recipeModalContent_LeftPart">
              <div class="recipe_border">
                <div class="left">
                  <span>
                    <strong>
                      {{ 'modal.modalRecipe.origin' | trans }}
                    </strong>
                  </span> 
                  <span id="recipeModalContent_Origin"></span> <br/>
                  <span>
                    <strong>
                      {{ 'modal.modalRecipe.forHowMany' | trans }}
                    </strong>
                  </span> 
                  <span id="recipeModalContent_ForHowMany"></span> 
                  <span>
                    {{ 'modal.modalRecipe.people' | trans }}
                  </span> 
                  <br/>
                  <span>
                    <strong>
                      {{ 'modal.modalRecipe.duration' | trans }}
                    </strong>
                  </span> 
                  <span id="recipeModalContent_Duration"></span> 
                  <span>
                    {{ 'modal.modalRecipe.min' | trans }}
                  </span> 
                  <br/>
                  <span>
                    <strong>
                      {{ 'modal.modalRecipe.cooking' | trans }}
                    </strong>
                  </span> 
                  <span id="recipeModalContent_Cooking"></span> 
                  <span>
                    {{ 'modal.modalRecipe.min' | trans }}
                  </span>
                  <hr/>
                  <strong class="text-decoration:underline;">
                    {{ 'modal.modalRecipe.ingredients' | trans }}
                  </strong>
                  <div id="recipeModalContent_Ingredients">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="recipeModalContent_RightPart">
              <div class="recipe_border">
                <strong class="text-decoration:underline;">
                  {{ 'modal.modalRecipe.preparation' | trans }}
                </strong>
                <div class="left" id="recipeModalContent_Preparation">
                  
                </div>
              </div>
            </div>
          </div>

          <br/><br/>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
              <div class="center">
                <span>
                  {{ 'modal.modalRecipe.lastEdit' | trans }}
                </span> 
                <span id="recipeModalContent_UpdatedAt_date"></span> 
                {{ 'modal.modalRecipe.atTime' | trans }}
                <span id="recipeModalContent_UpdatedAt_time"></span>
              </div>
              <div id="recipeModalContent_PhotoRecipe" class="recipe_img_lg" style="width: 100%; background-size: cover; background-position: 50%;">
                <script type="text/javascript">
                  var recipe_height_lg = $('.recipe_img_lg').width() * 0.8;
                  $('.recipe_img_lg').css({'height':recipe_height_lg+'px'});
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer padding0">
        <button type="button" class="btn btn-modal" data-dismiss="modal">
          {{ 'modal.actions.close' | trans }}
        </button>
      </div>
    </div>
  </div>
</div>