<!-- Language selection  -->

<div id="social_media">  
    <a href="https://www.facebook.com/" target="_blank">
      <div class="social social_fb"></div>
    </a>
    <br/>
    <a href="https://twitter.com/" target="_blank" rel="external">
      <div class="social social_tw"></div>
    </a>
    <br/>

    <a href="http://www.pinterest.com/" target="_blank" rel="external">
      <div class="social social_pti"></div>
    </a>
    <br/>
    <a href="http://instagram.com/" target="_blank" rel="external">
      <div class="social social_nst"></div>
    </a>
    <br/>
    <a href="#">
      <div class="social social_mail"></div>
    </a>
</div>


<!-- Modal button -->
<!-- <button type="button" data-toggle="modal" data-target="#cartModal" id="button_login_a" class="btn btn-log">
</button>
 -->
<!-- Modal connexion -->
<div class="modal fade" id="cartModal"  tabindex="-1" role="dialog" aria-labelledby="cartModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"btn  aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <input onClick="emptyCart()" class="float-left delete_buttons_cart" type="button" value="Empty cart" title="Empty cart"/>
          <h3 class="modal-title center">
            {{ 'header.titles.myCart' | trans }}
          </h3>
        </div>
        <div class="modal-body">
          {% set cart = app.session.get('cart') %}
          {% if cart|length > 0 %}
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      Item
                    </th>
                    <th class="center">
                      Quantity
                    </th>
                    <th class="center">
                      Weight
                    </th>
                    <th class="center">
                      Price
                    </th>
                    <th class="center">
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% set total_weight_general = 0 %}
                  {% set total_price_general = 0 %}
                  {% for item_array in cart %}
                    {% set item = item_array['item'] %}
                    {% set qty = item_array['qty'] %}
                    <tr>
                      <th>
                        {{ item.name }}
                      </th>
                      <td class="center">
                        {{ qty }}
                      </td>
                      <td class="center">
                        {% set total_weight = qty * item.weight %}
                        {% set total_weight_general = total_weight_general + total_weight %}
                        {% if total_weight > 999 %}
                          {{ (total_weight / 1000) | number_format(1, '.', ',') }} kg
                        {% else %}
                          {{ total_weight }} g
                        {% endif %}
                      </td>
                      <td class="center">
                        {% set total_price = qty * item.price %}
                        {% set total_price_general = total_price_general + total_price %}
                        {{ total_price }} S/.
                      </td>
                      <td class="center">
                        <input onClick="addOneToCart('{{ item.type }}')" class="add_buttons_cart" type="button" value="+" title="Add one more"/>
                        <input onClick="deleteOneFromCart('{{ item.type }}')" class="add_buttons_cart" type="button" value="-" title="Delete one"/>
                        <input onClick="deleteTotalFromCart('{{ item.type }}')" class="delete_buttons_cart" type="button" value="Delete" title="Delete total"/>
                      </td>
                    </tr>
                  {% endfor %}

                  <script type="text/javascript">
                    function addOneToCart(type_c) {
                      var pos = 0;
                      for (var i = 0; i < div_types.length; i++) {
                        pos = i;
                        if (div_types[i] == type_c) {
                          break;
                        }
                      }
                      var counter_j = div_counter_values[pos];
                      var weight_j = div_weights_values[pos];
                      var weight_final_j = div_finalWeight[pos];
                      var price_j = div_prices_values[pos];
                      var cart_to_add_j = div_cart_values[pos];
                      if (counter_j < div_maxs[pos]) {
                        counter_j = counter_j + 1;
                        div_counter_values[pos] = counter_j ;
                        weight_final_j = counter_j * weight_j;
                        div_finalWeight[pos] = weight_final_j ;
                        cart_to_add_j = counter_j * price_j;
                        div_cart_values[pos] = cart_to_add_j ;

                        var route = '{{ path('lbf_main_add_to_cart', {'type':'TYPETOREPLACE', 'quantity':'0000'}) }}';
                        var path_chosen_j = route.replace('TYPETOREPLACE',type_c).replace('0000', counter_j);

                        div_paths_addCart[pos] = path_chosen_j ;

                        document.getElementById(div_counter).innerHTML = counter_j;
                        document.getElementById(div_weight).innerHTML = weight_final_j;
                        document.getElementById(div_price).innerHTML = cart_to_add_j;

                      }
                      else {
                        alert("You've reached the maximum availability.")
                      }
                    }
                    function deleteOneFromCart(type_c) {
                      var pos = 0;
                      for (var i = 0; i < div_types.length; i++) {
                        pos = i;
                        if (div_types[i] == type_c) {
                          break;
                        }
                      }
                      var counter_j = div_counter_values[pos];
                      var weight_j = div_weights_values[pos];
                      var weight_final_j = div_finalWeight[pos];
                      var price_j = div_prices_values[pos];
                      var cart_to_add_j = div_cart_values[pos];
                      if (counter_j > 0) {
                        counter_j = counter_j - 1;
                        div_counter_values[pos] = counter_j ;
                      }
                      else {
                        counter_j = 0;
                        div_counter_values[pos] = 0;
                      }
                      weight_final_j = counter_j * weight_j;
                      div_finalWeight[pos] = weight_final_j ;
                      cart_to_add_j = counter_j * price_j;
                      div_cart_values[pos] = cart_to_add_j ;

                      var route = '{{ path('lbf_main_add_to_cart', {'type':'TYPETOREPLACE', 'quantity':'0000'}) }}';
                      var path_chosen_j = route.replace('TYPETOREPLACE',type_c).replace('0000', counter_j);

                      div_paths_addCart[pos] = path_chosen_j ;

                      document.getElementById(div_counter).innerHTML = counter_j;
                      document.getElementById(div_weight).innerHTML = weight_final_j;
                      document.getElementById(div_price).innerHTML = cart_to_add_j;
                    }

                    function deleteTotalFromCart(type_c) {
                      if (confirm("Are you sure you want to delete ?")) {
                        alert('Done');
                      }
                    }

                    function emptyCart() {
                      if (confirm('Are you sure you want to empty your cart ? All orders will be lost.')) {
                        window.location = "{{ path('lbf_main_empty_cart') }}";
                      }
                    }

                  </script>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-4 col-xs-4"></div>
              <div class="col-md-4 col-xs-4 modal_price">
                <div class="row">
                  <div class="inline_div left col-md-4 col-xs-4">
                    TOTAL:
                  </div>
                  <div class="inline_div center col-md-4 col-xs-4">
                    {% if total_weight_general > 999 %}
                      {{ (total_weight_general / 1000) | number_format(1, '.', ',') }} kg
                    {% else %}
                      {{ total_weight_general }} g
                    {% endif %}
                  </div>
                  <div class="inline_div right col-md-4 col-xs-4">
                    {{ total_price_general }} S/.
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xs-4"></div>
            </div>
          {% else %}
            <div class="row center">
              Sorry, nothing here for now ...
            </div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-modal float-left" data-dismiss="modal">
            Continue shopping ...
          </button>
          <button type="button" class="btn btn-modal float-right">
            <img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
            {{ 'ourProducts.actions.order' | trans }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>