{# src/LBF/MainBundle/Resources/Main/cart.html.twig #}

{% extends "LBFMainBundle::main_general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block LBF_Main_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section" id="section5">
				<br/><br/>

				<script type="text/javascript">
					// script for the login - Loaded in advance to avoid ajax problems
                  function showRegisterSelect() {
                      if (document.getElementById('user_type').checked) {
                          document.getElementById('register_company').style.display = 'none';
                          document.getElementById('register_user').style.display = 'block';
                          document.getElementById('register_conditions_sumit').style.display = 'block';
                          document.getElementById('register_type_company_input').value = 1;
                      }
                      else {
                          document.getElementById('register_company').style.display = 'block';
                          document.getElementById('register_user').style.display = 'block';
                          document.getElementById('register_conditions_sumit').style.display = 'block';
                          document.getElementById('register_type_company_input').value = 0;
                          document.getElementById('companyName_input').required = "required";
                          document.getElementById('RUC_input').required = "required";
                          document.getElementById('addressNumber_input').required = "required";
                          document.getElementById('addressStreet_input').required = "required";
                          document.getElementById('addressPostCode_input').required = "required";
                          document.getElementById('addressCity_input').required = "required";
                          document.getElementById('country_input').required = "required";
                      }
                    }
                </script>

		        <div id="breadcrumb" class="center row80">
			        <div class="row">
		              	<h3>
		                  	{{ 'header.titles.myCart' | trans }}
		              	</h3>
		            </div>
		            <div class="row">
	                  	<div class="inline_div breadcrumb_active">
	                    	1. {{ 'cart.titles.content' | trans }}
	                  	</div>
	                  	<div class="inline_div ">
	                    	2. {{ 'cart.titles.order' | trans }}
	                  	</div>
	                  	<div class="inline_div">
	                    	3. {{ 'cart.titles.confirm' | trans }}
	                  	</div>
		            </div>
	              	<hr/>
              	</div>
              	

				<div id="sectionContentAjax">

					<div id="sessionFlash" class="sessionFlash">
					</div>
					
		        	<!-- Varying numbers -->
					<script type="text/javascript">
						var div_types = [];
						// var div_maxs = [];
						var div_counter_values = [];
						var div_weights_values = [];
						var div_finalWeight = [];
						var div_prices_values = [];
						var div_cart_values = [];
					</script>
					{% for product in allProducts %}
						<script type="text/javascript">
							div_types[div_types.length] = "{{ product.type }}";
							// div_maxs[div_maxs.length] = eval('{{ product.quantity }}');
							div_counter_values[div_counter_values.length] = 0;
							div_weights_values[div_weights_values.length] = eval('{{ product.weight }}');
							div_finalWeight[div_finalWeight.length] = 0;
							div_prices_values[div_prices_values.length] = eval('{{ product.price }}');
							div_cart_values[div_cart_values.length] = 0;
						</script>
					{% endfor %}

			        <script type="text/javascript">
			        	// To read the cart:
			            // var sessionCart = JSON.parse($.cookie("sessionCart"));
		            	// if (sessionCart.length > 0) {
		            	// 	var add_it = true;
		            	// 	for (var i = 0; i < sessionCart.length; i++) {
		            	// 		var pos = 0;
				           //    	for (var j = 0; j < div_types.length; j++) {
				           //      	pos = j;
				           //      	if (sessionCart[i].type == div_types[pos]) {
				           //        		break;
				           //      	}
				           //    	}
				           //    	div_counter_values[pos] = sessionCart[i].qty;
		            	// 	}
		            	// }

			            function addOneToCart(type_c) {
			              	var pos = 0;
			              	for (var i = 0; i < div_types.length; i++) {
			                	pos = i;
			                	if (div_types[i] == type_c) {
			                  		break;
			                	}
			              	}
			              	var counter_j = div_counter_values[pos];

			                counter_j = counter_j + 1;
			                div_counter_values[pos] = counter_j ;

			                var div_counter = 'counter_value_'+type_c;
			                var div_weight = 'weight_value_'+type_c;
			                var div_price = 'price_value_'+type_c;
			                document.getElementById(div_counter).innerHTML = counter_j;
			                document.getElementById(div_weight).className = "opacity05";
			                document.getElementById(div_price).className = "opacity05";
			                
			                document.getElementById('refresh_button').style.display = "block";
			                // Flash message
							document.getElementById("sessionFlash").style.display = "block";
							document.getElementById("sessionFlash").innerHTML = '\
							<div class="alert alert-warning alert-dismissible fade in" role="alert">\
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>\
						      	<strong>{{ "alert.titles.careful" | trans }}</strong> {{ "alert.content.pleaseRefresh" | trans }} \
						    </div>';
						    setTimeout(function() {
						    	$('.alert').fadeOut('fast');
						    	document.getElementById("sessionFlash").style.display = "none";
						    },8000);
			            }

			            function deleteOneFromCart(type_c) {
			              	var pos = 0;
			              	for (var i = 0; i < div_types.length; i++) {
			                	pos = i;
			                	if (div_types[i] == type_c) {
			                  		break;
			                	}
			              	}
			              	var counter_j = div_counter_values[pos];
			              	if (counter_j > 0) {
			                	counter_j = counter_j - 1;
			                	div_counter_values[pos] = counter_j ;
			              	}
			              	else {
			                	counter_j = 0;
			                	div_counter_values[pos] = 0;
			              	}

			              	var div_counter = 'counter_value_'+type_c;
			                var div_weight = 'weight_value_'+type_c;
			                var div_price = 'price_value_'+type_c;
			                document.getElementById(div_counter).innerHTML = counter_j;
			                document.getElementById(div_weight).className = "opacity05";
			                document.getElementById(div_price).className = "opacity05";

			              	document.getElementById('refresh_button').style.display = "block";
			              	// Flash message
							document.getElementById("sessionFlash").style.display = "block";
							document.getElementById("sessionFlash").innerHTML = '\
							<div class="alert alert-warning alert-dismissible fade in" role="alert">\
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>\
						      	<strong>{{ "alert.titles.careful" | trans }}</strong> {{ "alert.content.pleaseRefresh" | trans }} \
						    </div>';
						    setTimeout(function() {
						    	$('.alert').fadeOut('fast');
						    	document.getElementById("sessionFlash").style.display = "none";
						    },8000);
			            }

			            function deleteTotalFromCart(type_c) {
			              if (confirm("{{ 'cart.alert.sureDelete' | trans }}")) {
			              	var sessionCart = $.cookie("sessionCart");
			              	// var sessionCart = JSON.parse($.cookie("sessionCart"));
		              		for (var i = 0; i < sessionCart.length; i++) {
		            			if (sessionCart[i].type == type_c) {
		            				sessionCart.splice(i, 1);
		            				break;
		            			}
		            		}
							if (sessionCart.length == 0) {
								window.location = "{{ path('lbf_main_empty_cart') }}";
							}
							else {
								var path_route = "{{ path('lbf_main_delete_fromCart', {'type':'TYPETOREPLACE'}) }}"
								window.location = path_route.replace('TYPETOREPLACE', type_c);	
							}

			                // Flash message
			                document.getElementById("sessionFlash").style.display = "block";
			                document.getElementById("sessionFlash").innerHTML = '\
			                <div class="alert alert-warning alert-dismissible fade in" role="alert">\
			                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>\
			                  {{ "alert.content.elementDeleted" | trans }}\
			                </div>';
			                setTimeout(function() {
			                  $('.alert').fadeOut('fast');
			                  document.getElementById("sessionFlash").style.display = "none";
			                },4000);
			              }
			            }

			            function emptyCart() {
			              if (confirm("{{ 'cart.alert.sureDeleteAll' | trans }}")) {
			                $.cookie("sessionCart", null);
			                // Flash message
			                document.getElementById("sessionFlash").style.display = "block";
			                document.getElementById("sessionFlash").innerHTML = '\
			                <div class="alert alert-success alert-dismissible fade in" role="alert">\
			                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>\
			                  {{ "alert.content.cartEmptied" | trans }}\
			                </div>';
			                setTimeout(function() {
			                  $('.alert').fadeOut('fast');
			                  document.getElementById("sessionFlash").style.display = "none";
			                },4000);
			                window.location = "{{ path('lbf_main_empty_cart') }}";
			              }
			            }

			            function refreshCart() {
				            // To read the cart:
			            	var sessionCart = $.cookie("sessionCart");

			            	var pos = 0;
			              	for (var j = 0; j < div_types.length; j++) {
			                	pos = j;
			                	if (sessionCart[i].type == div_types[pos]) {
				                	sessionCart[i] = {type: div_types[pos], qty: div_counter_values[pos]};
			                	}
			              	}

				            // To write the cart:
				            $.cookie("sessionCart", sessionCart);

			              	if (sessionCart.length > 0) {
			                	window.location = '{{ path('lbf_main_add_to_cart') }}';
			              	}
			              	else {
			                	// Flash message
			                	document.getElementById("sessionFlash").style.display = "block";
			                	document.getElementById("sessionFlash").innerHTML = '\
			                	<div class="alert alert-warning alert-dismissible fade in" role="alert">\
			                  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>\
			                  		<strong>{{ "alert.titles.careful" | trans }}</strong> {{ "alert.content.noChangeMade" | trans }}\
			                	</div>';
			                	setTimeout(function() {
			                  		$('.alert').fadeOut('fast');
			                  		document.getElementById("sessionFlash").style.display = "none";
			                	},4000);
			              	}
			              	return false;
			            }

			        </script>

			        <br/>

			        <div class="row80 cart_content">
			        	<div class="col-md-4">
					        <button onClick="emptyCart()" class="no_style_button float-left delete_buttons_cart" type="button" value="Empty cart">
					            {{ 'cart.actions.emptyCart' | trans }}
					            <span class="glyphicon glyphicon-trash bin_icon" aria-hidden="true"></span>
					        </button>
			        	</div>
			        	<div class="col-md-4">
			        	</div>
			        	<div class="col-md-4">
			        		<div id="refresh_button" style="display:none;">
				        		<button onClick="refreshCart()" class="no_style_button float-right delete_buttons_cart" type="button" value="Refresh cart">
				        			{{ 'cart.actions.refreshCart' | trans }}
						        </button>
			        		</div>
			        	</div>

			        	<br/><br/>
			        	
		                {% set cart = app.session.get('cart') %}
		                {% if cart|length > 0 %}
		                    <div class="table-responsive">
		                      <table class="table">
		                        <thead>
		                          <tr>
		                            <th>
		                            	{{ 'cart.tableTitles.item' | trans }}
		                            </th>
		                            <th class="center">
		                            	{{ 'cart.tableTitles.quantity' | trans }}
		                            </th>
		                            <th class="center">
		                            	{{ 'cart.tableTitles.weight' | trans }}
		                            </th>
		                            <th class="center">
		                            	{{ 'cart.tableTitles.price' | trans }}
		                            </th>
		                            <th class="center">
		                            	{{ 'cart.tableTitles.action' | trans }}
		                            </th>
		                          </tr>
		                        </thead>
		                        <tbody>
		                          {% set total_weight_general = 0 %}
		                          {% set total_price_general = 0 %}
		                          {% for item_array in cart %}
		                            {% set item = item_array['item'] %}
		                            {% set qty = item_array['qty'] %}
		                            <tr>
		                              <th>
		                                {{ item.name }}
		                              </th>
		                              <td class="center">
		                              	<div id="counter_value_{{ item.type }}">
			                                {{ qty }}
										</div>
		                              </td>
		                              <td class="center">
		                              	<div id="weight_value_{{ item.type }}" style="opacity1">
			                                {% set total_weight = qty * item.weight %}
			                                {% set total_weight_general = total_weight_general + total_weight %}
			                                {% if total_weight > 999 %}
			                                  {{ (total_weight / 1000) | number_format(1, '.', ',') }} kg
			                                {% else %}
			                                  {{ total_weight }} g
			                                {% endif %}
		                              	</div>
		                              </td>
		                              <td class="center">
		                              	<div id="price_value_{{ item.type }}" style="opacity1">
			                                {% set total_price = qty * item.price %}
			                                {% set total_price_general = total_price_general + total_price %}
			                                S/. {{ total_price }}
		                            	</div>
		                              </td>
		                              <td class="center">
		                                <!-- <input onClick="addOneToCart('{{ item.type }}')" class="add_buttons_cart" type="button" value="+" title="Add one more"/>
		                                <input onClick="deleteOneFromCart('{{ item.type }}')" class="add_buttons_cart" type="button" value="-" title="Delete one"/> -->
		                                <input onClick="deleteTotalFromCart('{{ item.type }}')" class="delete_buttons_cart" type="button" value="{{ 'cart.actions.delete' | trans }}" title="{{ 'cart.actionTitles.deleteElement' | trans }}"/>
		                              </td>
		                            </tr>
		                          {% endfor %}
		                        </tbody>
		                      </table>
		                    </div>
		                    <div class="row">
		                      <div class="col-md-4 col-xs-4"></div>
		                      <div class="col-md-4 col-xs-4 cart_price">
		                        <div class="row">
		                          <div class="inline_div left col-md-4 col-xs-4">
		                          	{{ 'cart.titles.total' | trans }}
		                          </div>
		                          <div class="inline_div center col-md-4 col-xs-4">
		                            {% if total_weight_general > 999 %}
		                              {{ (total_weight_general / 1000) | number_format(1, '.', ',') }} kg
		                            {% else %}
		                              {{ total_weight_general }} g
		                            {% endif %}
		                          </div>
		                          <div class="inline_div right col-md-4 col-xs-4">
		                            S/. {{ total_price_general }} 
		                          </div>
		                        </div>
		                      </div>
		                      <div class="col-md-4 col-xs-4"></div>
		                    </div>
		                {% else %}
		                    <div class="row center">
		                    	{{ 'cart.errors.nothingHere' | trans }}
		                    </div>
		                {% endif %}

		                <br/><br/>
			        
	                	<a href="{{ path('lbf_main_homepage') }}#ourProducts" class="no_style_a btn btn-login float-left">
	                		<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_right_arrow"/> 
	                		{{ 'cart.actions.continueShopping' | trans }}
				        </a>
				        <button type="button" class="btn btn-login float-right" onClick="
				        	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
								javascript:loadContentCart('{{ path('lbf_main_order') }}')
							{% else %}
				        		javascript:loadContentCart('{{ path('fos_user_security_login') }}')
							{% endif %}
			        		">
				            {{ 'ourProducts.actions.order' | trans }} 
				            <img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
				        </button>

				        <br/><br/><br/><br/>
	                </div>
				</div>
			</div>

		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Main_body %}