{# src/LBF/MainBundle/Resources/Main/confirm.html.twig #}

{% extends "LBFMainBundle::main_general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block LBF_Main_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section" id="section7">
				<br/><br/>

		        <div id="breadcrumb" class="center row80">
			        <div class="row">
		              	<h2>
		                  	{{ 'header.titles.myCart' | trans }}
		              	</h2>
		            </div>
		            <div class="row">
	                  	<div class="inline_div">
	                    	1. {{ 'cart.titles.content' | trans }}
	                  	</div>
	                  	<div class="inline_div ">
	                    	2. {{ 'cart.titles.order' | trans }}
	                  	</div>
	                  	<div class="inline_div breadcrumb_active">
	                    	3. {{ 'cart.titles.confirm' | trans }}
	                  	</div>
		            </div>
	              	<hr/>
              	</div>


				<div id="sectionContentAjax" onLoad="emptySessionCart()">

					<div id="sessionFlash" class="sessionFlash">
					</div>

					<br/><br/><br/>
					<script type="text/javascript">
						function emptySessionCart() {
							$.cookie("sessionCart", null);
			            }
			        </script>
		        	<p class="center">
		        		{{ 'cart.titles.thankYou' | trans }}
		        	</p>
		    	</div>
			</div>

			<!-- BEGIN FOOTER -->
              {% include 'includes/footer.html.twig' %}
            <!-- END FOOTER -->
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Main_body %}