{# src/LBF/MainBundle/Resources/Main/indexMain.html.twig #}

{% extends "LBFMainBundle::main_general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block LBF_Main_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section row" id="mainSection">
				<div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
			      <div class="logo_welcome">
			        <img src="{{ asset('img/system/logo/final_site.png') }}" alt="Logo" class="logo_welcome_img"/>
			      </div>
			    </div>

			    {% set current_language = '' %}
		        {% if (app.request.get('_route_params')) != null %}
		          {% if (app.request.get('_route_params')._locale == 'fr') %}
		            {% set current_language = 'fr' %}
		          {% elseif (app.request.get('_route_params')._locale == 'en') %}
		            {% set current_language = 'en' %}
		          {% else %}
		            {% set current_language = 'es' %}
		          {% endif %}
		        {% endif %}

				<div class="presentation_photos row">

					<div class="content_presentation row">

						<div class="hidden-lg hidden-md hidden-sm height_top">
						</div>
						
	    				<script>
					        jssor_slider1_starter = function (containerId) {
					        	var _SlideshowTransitions = [
					            //Fade
					            { $Duration: 1400, $Opacity: 2 }
					            ];

					            var options = {
					                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
					                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
					                $AutoPlayInterval: 3000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
					                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1
					                $SlideDuration: 3000,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
					                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
					                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

					                $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
					                    $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
					                    $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
					                    $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
					                }
					            };

					            var jssor_slider1 = new $JssorSlider$(containerId, options);

					            //responsive code begin
					            //you can remove responsive code if you don't want the slider scales while window resizes
					            function ScaleSlider() {
					                var bodyWidth = document.body.clientWidth;
					                if (bodyWidth)
					                    jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
					                else
					                    $Jssor$.$Delay(ScaleSlider, 30);
					            }

					            ScaleSlider();
					            $Jssor$.$AddEvent(window, "load", ScaleSlider);

					            $Jssor$.$AddEvent(window, "resize", $Jssor$.$WindowResizeFilter(window, ScaleSlider));
					            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
					            //responsive code end
								// var slider_width = $('#page_container_gen').innerWidth();
								// var slider_height = window.innerHeight * 0.45;
								// $('#slider1_container').css({'width':slider_width+'px !important', 'height':slider_height+'px'});
								// $('#slider1_container_content').css({'width':slider_width+'px !important', 'height':slider_height+'px'});
								// $(window).resize(function() {
								// 	var slider_width = $('#page_container_gen').innerWidth();
								// 	var slider_height = window.innerHeight * 0.45;
								// 	$('#slider1_container').css({'width':slider_width+'px !important', 'height':slider_height+'px'});
								// 	$('#slider1_container_content').css({'width':slider_width+'px !important', 'height':slider_height+'px'});
								// });
					        };
					    </script>
					    <!-- Jssor Slider Begin -->
					    <!-- You can move inline styles to css file or css block. -->
					    <div id="slider1_container" style="position: relative; margin: 0 auto;
					        top: 0px; left: 0px; width: 1200px; height: 340px; overflow: hidden; opacity: 1 !important; z-index: 1;">
					        <!-- Loading Screen -->
					        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
					            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
					                top: 0px; left: 0px; width: 100%; height: 100%;">
					            </div>
					            <div style="position: absolute; display: block; background: url("{{ asset('img/system/slideshow/loader2.gif') }}") no-repeat center center;
					                top: 0px; left: 0px; width: 100%; height: 100%;">
					            </div>
					        </div>
					        <!-- Slides Container -->
					        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1200px;
					            height: 340px; overflow: hidden;">
					            {% for image in homePhotos %}
									<div>
										<img u=image src="{{ asset(image.webPath) }}" />
									</div>
								{% endfor %}
					        </div>
					    </div>
					    <!-- Trigger -->
					    <script>
					        jssor_slider1_starter('slider1_container');
					    </script>
					    <!-- Jssor Slider End -->

	    				
					</div>

					<div class="presentation_texte row">

						<div class="row center title_div">
							<div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
			        		<div class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
								<h2>
									{% set pagePrincipale = '' %}
									{% if pages|length > 0 %}
										{% for page in pages %}
											{% if page.dataBaseName == 'Page_Principale' %}
												{% set pagePrincipale = page %}
											{% endif %}
										{% endfor %}
									{% endif %}
									{% if current_language %}
										{% if current_language == 'fr' and pagePrincipale.headerFr|length > 0 %}
											{{ pagePrincipale.headerFr }}
										{% elseif current_language == 'en' and pagePrincipale.headerEn|length > 0 %}
											{{ pagePrincipale.headerEn }} 
										{% else %}
											{{ pagePrincipale.headerEs }}
										{% endif %}
									{% else %}
										{{ pagePrincipale.headerEs }}
									{% endif %}
									<br/>
									<span>
										{% if current_language %}
											{% if current_language == 'fr' and pagePrincipale.descriptionFr|length > 0 %}
												{{ pagePrincipale.descriptionFr }}
											{% elseif current_language == 'en' and pagePrincipale.descriptionEn|length > 0 %}
												{{ pagePrincipale.descriptionEn }} 
											{% else %}
												{{ pagePrincipale.descriptionEs }}
											{% endif %}
										{% else %}
											{{ pagePrincipale.descriptionEs }}
										{% endif %}
									</span>
								</h2>
			        		</div>
							<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs right" >
								<a href="#ourProducts" class="no_style_a">
						          	<button class="btn btn-login uppercase">
										{{ 'main.actions.buy' | trans }}
						          		<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
						          	</button>
						        </a>
							</div>
							<div class="hidden-lg hidden-md hidden-sm col-xs-12 center" >
								<a href="#ourProducts" class="no_style_a">
						          	<button class="btn btn-login uppercase">
										{{ 'main.actions.buy' | trans }}
						          		<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
						          	</button>
						        </a>
							</div>
						</div>

						<div class="row">

							<div class="hidden-lg hidden-md hidden-sm col-xs-12 sep_presentation"></div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
								<button class="no_style_button pres_a" type="button" data-toggle="modal" data-target="#qualityModal">
									{% set pageQuality = '' %}
									{% if pages|length > 0 %}
										{% for page in pages %}
											{% if page.dataBaseName == 'Qualite_Principal' %}
												{% set pageQuality = page %}
											{% endif %}
										{% endfor %}
									{% endif %}
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										{% if pageQuality.url|length > 0 and pageQuality.alt|length > 0 %}
											<img alt="Quality" src="{{ asset(pageQuality.webPath) }}" class="icon_presentation"/>
										{% else %}
											<img alt="Quality" src="{{ asset('img/system/icons/quality.png') }}" class="icon_presentation"/>
										{% endif %}
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h3> 
											{% if current_language %}
												{% if current_language == 'fr' and pageQuality.headerFr|length > 0 %}
													{{ pageQuality.headerFr }}
												{% elseif current_language == 'en' and pageQuality.headerEn|length > 0 %}
													{{ pageQuality.headerEn }} 
												{% else %}
													{{ pageQuality.headerEs }}
												{% endif %}
											{% else %}
												{{ pageQuality.headerEs }}
											{% endif %}
										</h3>
										<p>
											{% if current_language %}
												{% if current_language == 'fr' and pageQuality.descriptionFr|length > 0 %}
													{{ pageQuality.descriptionFr }}
												{% elseif current_language == 'en' and pageQuality.descriptionEn|length > 0 %}
													{{ pageQuality.descriptionEn }} 
												{% else %}
													{{ pageQuality.descriptionEs }}
												{% endif %}
											{% else %}
												{{ pageQuality.descriptionEs }}
											{% endif %}

											<!-- Button trigger modal -->
											<span class="read-more" >
												{{ 'main.actions.learnMore' | trans }}
											</span> >
										</p>
									</div>
								</button>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
						        <a href="#ourProducts" class="no_style_a pres_a">
						        	{% set pageProducts = '' %}
									{% if pages|length > 0 %}
										{% for page in pages %}
											{% if page.dataBaseName == 'Produits_Principal' %}
												{% set pageProducts = page %}
											{% endif %}
										{% endfor %}
									{% endif %}
						        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						        		{% if pageProducts.url|length > 0 and pageProducts.alt|length > 0 %}
											<img alt="Products" src="{{ asset(pageProducts.webPath) }}" class="icon_presentation"/>
										{% else %}
											<img alt="Products" src="{{ asset('img/system/icons/products.png') }}" class="icon_presentation"/>
										{% endif %}
						        	</div>
						        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h3> 
											{% if current_language %}
												{% if current_language == 'fr' and pageProducts.headerFr|length > 0 %}
													{{ pageProducts.headerFr }}
												{% elseif current_language == 'en' and pageProducts.headerEn|length > 0 %}
													{{ pageProducts.headerEn }} 
												{% else %}
													{{ pageProducts.headerEs }}
												{% endif %}
											{% else %}
												{{ pageProducts.headerEs }}
											{% endif %}
										</h3>
										<p>
											{% if current_language %}
												{% if current_language == 'fr' and pageProducts.descriptionFr|length > 0 %}
													{{ pageProducts.descriptionFr }}
												{% elseif current_language == 'en' and pageProducts.descriptionEn|length > 0 %}
													{{ pageProducts.descriptionEn }} 
												{% else %}
													{{ pageProducts.descriptionEs }}
												{% endif %}
											{% else %}
												{{ pageProducts.descriptionEs }}
											{% endif %}

								          	<span class="read-more" >
												{{ 'main.actions.discover' | trans }}
								          	</span> >
										</p>
						        	</div>
						        </a>
							</div>
							<div class="hidden-lg hidden-md hidden-sm col-xs-12 sep_presentation"></div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
								<a href="#ourRecipes" class="no_style_a pres_a">
									{% set pageRecettes = '' %}
									{% if pages|length > 0 %}
										{% for page in pages %}
											{% if page.dataBaseName == 'Recettes_Principal' %}
												{% set pageRecettes = page %}
											{% endif %}
										{% endfor %}
									{% endif %}
						        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						        		{% if pageRecettes.url|length > 0 and pageRecettes.alt|length > 0 %}
											<img alt="Products" src="{{ asset(pageRecettes.webPath) }}" class="icon_presentation"/>
										{% else %}
											<img alt="Recipe" src="{{ asset('img/system/icons/recipe.png') }}" class="icon_presentation"/>
										{% endif %}
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h3> 
											{% if current_language %}
												{% if current_language == 'fr' and pageRecettes.headerFr|length > 0 %}
													{{ pageRecettes.headerFr }}
												{% elseif current_language == 'en' and pageRecettes.headerEn|length > 0 %}
													{{ pageRecettes.headerEn }} 
												{% else %}
													{{ pageRecettes.headerEs }}
												{% endif %}
											{% else %}
												{{ pageRecettes.headerEs }}
											{% endif %}
										</h3>
										<p>
											{% if current_language %}
												{% if current_language == 'fr' and pageRecettes.descriptionFr|length > 0 %}
													{{ pageRecettes.descriptionFr }}
												{% elseif current_language == 'en' and pageRecettes.descriptionEn|length > 0 %}
													{{ pageRecettes.descriptionEn }} 
												{% else %}
													{{ pageRecettes.descriptionEs }}
												{% endif %}
											{% else %}
												{{ pageRecettes.descriptionEs }}
											{% endif %}

											<!-- Button trigger modal -->
											<span class="read-more" >
												{{ 'main.actions.discover' | trans }}
											</span> >
										</p>
									</div>
								</a>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
								<button type="button" class="no_style_button pres_a" data-toggle="modal" data-target="#reservationModal">
									{% set pageReservation = '' %}
									{% if pages|length > 0 %}
										{% for page in pages %}
											{% if page.dataBaseName == 'Reservation_Principal' %}
												{% set pageReservation = page %}
											{% endif %}
										{% endfor %}
									{% endif %}
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										{% if pageReservation.url|length > 0 and pageReservation.alt|length > 0 %}
											<img alt="Quality" src="{{ asset(pageReservation.webPath) }}" class="icon_presentation"/>
										{% else %}
											<img alt="Reservation" src="{{ asset('img/system/icons/reservation.png') }}" class="icon_presentation"/>
										{% endif %}
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h3> 
											{% if current_language %}
												{% if current_language == 'fr' and pageReservation.headerFr|length > 0 %}
													{{ pageReservation.headerFr }}
												{% elseif current_language == 'en' and pageReservation.headerEn|length > 0 %}
													{{ pageReservation.headerEn }} 
												{% else %}
													{{ pageReservation.headerEs }}
												{% endif %}
											{% else %}
												{{ pageReservation.headerEs }}
											{% endif %}
										</h3>
										<p>
											{% if current_language %}
												{% if current_language == 'fr' and pageReservation.descriptionFr|length > 0 %}
													{{ pageReservation.descriptionFr }}
												{% elseif current_language == 'en' and pageReservation.descriptionEn|length > 0 %}
													{{ pageReservation.descriptionEn }} 
												{% else %}
													{{ pageReservation.descriptionEs }}
												{% endif %}
											{% else %}
												{{ pageReservation.descriptionEs }}
											{% endif %}

											<!-- Button trigger modal -->
											<span class="read-more" >
												{{ 'main.actions.learnMore' | trans }}
											</span> >
										</p>
									</div>
								</button>
							</div>
						</div>
					</div>

				</div>

				<br/><br/><br/>
			</div>


			<div class="section section_padding row" id="ourProducts">
				<div class="presentation_texte row">
		        	<div class="row center">
		        		<div class="col-lg-2 col-md-2 col-sm-3 hidden-xs" data-menuanchor="ourRecipes">
		        			<a href="#ourRecipes" class="btn btn-login" id="btn_section3">
								<img src="{{ asset('img/system/defaults/down_arrow.png') }}" alt="" class="btn_right_arrow"/>
								{{ 'ourProducts.titles.recipes' | trans }}
							</a>
		        		</div>
		        		<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
							<h2>
								{{ 'ourProducts.titles.title_ourProducts' | trans }}
							</h2>
		        		</div>
						<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
							<button class="btn btn-login" onClick="addToSessionCart(); addToSessionCartXS();">
								{{ 'header.titles.myCart' | trans }}
								<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
							</button>
						</div>
					</div>
					<br/>

					<div class="row90">
						
						<!-- Product content -->
						{% if allProducts|length > 0 %}
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<ul class="nav nav-tabs nav-justified">
									{% set index_general = 1 %}
									{% for category in allCategories %}
										{% set productsArray = allSortedProducts[index_general] %}
										<li class="{% if index_general == 1 %} active {% endif %}">
											<a href="" data-target="#tab_{{ index_general }}" data-toggle="tab">
												{% if category == 1 %}
													{{ 'main.second_titles.category_1' | trans }}
												{% elseif category == 2 %}
													{{ 'main.second_titles.category_2' | trans }}
												{% elseif category == 3 %}
													{{ 'main.second_titles.category_3' | trans }}
												{% elseif category == 4 %}
													{{ 'main.second_titles.category_4' | trans }}
												{% elseif category == 5 %}
													{{ 'main.second_titles.category_5' | trans }}
												{% endif %}
												<span class="hidden-xs">
													({{ productsArray|length }})
												</span>
												{% set showLogo = 'no' %}
												{% for product in productsArray %}
													{% if product.active == "new" %}
														{% set showLogo = 'yes' %}
													{% endif %}
												{% endfor %}
												{% if showLogo == "yes" %}
													<div class="float-right">
														<img src="{{ asset('img/system/defaults/new_ES.png') }}" alt="" class="btn_right_arrow_spe"/>
													</div>
												{% endif %}
											</a>
										</li>
										{% set index_general = index_general + 1 %}
									{% endfor %}
								</ul>
							</div>
							<br class="hidden-xs"/>
							<div class="hidden-lg hidden-md hidden-sm col-xs-12 sep_presentation"></div>

							<!-- Varying numbers -->
							<script>
								var div_types = [];
								// var div_maxs = [];
								var div_counter_values = [];
								var div_weights_values = [];
								var div_finalWeight = [];
								var div_prices_values = [];
								var div_cart_values = [];
							</script>
							{% for product in allProducts %}
								<script>
									div_types[div_types.length] = "{{ product.type }}";
									// div_maxs[div_maxs.length] = eval('{{ product.quantity }}');
									div_counter_values[div_counter_values.length] = 0;
									div_weights_values[div_weights_values.length] = eval('{{ product.weight }}');
									div_finalWeight[div_finalWeight.length] = 0;
									div_prices_values[div_prices_values.length] = eval('{{ product.price }}');
									div_cart_values[div_cart_values.length] = 0;
								</script>
							{% endfor %}
							<script>
								function addOne(type_c, div_counter, div_weight, div_price) {
									var pos = 0;
									for (var i = 0; i < div_types.length; i++) {
										pos = i;
										if (div_types[i] == type_c) {
											break;
										}
									}
									var counter_j = div_counter_values[pos];
									var weight_j = div_weights_values[pos];
									var weight_final_j = div_finalWeight[pos];
									var price_j = div_prices_values[pos];
									var cart_to_add_j = div_cart_values[pos];
									// if (counter_j < div_maxs[pos]) {
										counter_j = counter_j + 1;
										div_counter_values[pos] = counter_j ;
										weight_final_j = counter_j * weight_j;
										div_finalWeight[pos] = weight_final_j ;
										cart_to_add_j = counter_j * price_j;
										div_cart_values[pos] = cart_to_add_j ;

										document.getElementById(div_counter).innerHTML = counter_j;
										document.getElementById(div_weight).innerHTML = weight_final_j;
										document.getElementById(div_price).innerHTML = cart_to_add_j;

									// }
									// else {
									// 	// Flash message
									// 	document.getElementById("sessionFlash").style.display = "block";
									// 	document.getElementById("sessionFlash").innerHTML = '\
									// 	<div class="alert alert-danger alert-dismissible fade in" role="alert">\
									//       <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>\
									//       <strong>Careful!</strong> You\'ve reached the maximum availability.\
									//     </div>';
									//     setTimeout(function() {
									//     	$('.alert').fadeOut('fast');
									//     	document.getElementById("sessionFlash").style.display = "none";
									//     },5000);
									// }

									return false;
								}
								function deleteOne(type_c, div_counter, div_weight, div_price) {
									var pos = 0;
									for (var i = 0; i < div_types.length; i++) {
										pos = i;
										if (div_types[i] == type_c) {
											break;
										}
									}
									var counter_j = div_counter_values[pos];
									var weight_j = div_weights_values[pos];
									var weight_final_j = div_finalWeight[pos];
									var price_j = div_prices_values[pos];
									var cart_to_add_j = div_cart_values[pos];
									if (counter_j > 0) {
										counter_j = counter_j - 1;
										div_counter_values[pos] = counter_j ;
									}
									else {
										counter_j = 0;
										div_counter_values[pos] = 0;
									}
									weight_final_j = counter_j * weight_j;
									div_finalWeight[pos] = weight_final_j ;
									cart_to_add_j = counter_j * price_j;
									div_cart_values[pos] = cart_to_add_j ;

									document.getElementById(div_counter).innerHTML = counter_j;
									document.getElementById(div_weight).innerHTML = weight_final_j;
									document.getElementById(div_price).innerHTML = cart_to_add_j;

									return false;
								}

								function add_to_cart(type_c, input_id, div_counter, div_weight, div_price) {
									document.getElementById(input_id).className = "btn-loading";
									
									var pos = 0;
									for (var i = 0; i < div_types.length; i++) {
										pos = i;
										if (div_types[i] == type_c) {
											break;
										}
									}

									if (div_counter_values[pos] > 0) {
							            // To read the cart:
							            var sessionCart = $.cookie("sessionCart");
							            // if (div_counter_values[pos] <= div_maxs[pos]) {
							            	if (sessionCart.length > 0) {
							            		var add_it = true;
							            		for (var i = 0; i < sessionCart.length; i++) {
							            			if (sessionCart[i].type == div_types[pos]) {
							            				sessionCart[i].qty = sessionCart[i].qty + div_counter_values[pos];
							            				add_it = false;
							            				break;
							            			}
							            		}
							            		if (add_it == true) {
						            				sessionCart[sessionCart.length] = {type: div_types[pos], qty: div_counter_values[pos]};
							            		}
							            	}
							            	else {
							            		var sessionCart = [];
							            		sessionCart[0] = {type: div_types[pos], qty: div_counter_values[pos]};
							            	}
										//   }
										//   else {
										//   // Flash message
										// 	document.getElementById("sessionFlash").style.display = "block";
										// 	document.getElementById("sessionFlash").innerHTML = '\
										// 	<div class="alert alert-danger alert-dismissible fade in" role="alert">\
										//       <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>\
										//       <strong>Careful!</strong> There aren\'t as many objects of that type. Please select a smaller number. Thank you.\
										//     </div>';
										//     setTimeout(function() {
										//     	$('.alert').fadeOut('fast');
										//     	document.getElementById("sessionFlash").style.display = "none";
										//     },5000);
										// }

							            // To write the cart:
							            $.cookie("sessionCart", sessionCart);

							            // To put button again normal, and update number_notif
										document.getElementById(input_id).className = "btn-add-to-cart";
										updateNotifNumber();
										updateNotifNumberXS();

										// Remise à zéro des compteurs pour cet élément
										div_counter_values[pos] = 0;
										div_finalWeight[pos] = 0;
										div_cart_values[pos] = 0;
										document.getElementById(div_counter).innerHTML = div_counter_values[pos];
										document.getElementById(div_weight).innerHTML = div_finalWeight[pos];
										document.getElementById(div_price).innerHTML = div_cart_values[pos];

										// Flash message
										document.getElementById("sessionFlash").style.display = "block";
										document.getElementById("sessionFlash").innerHTML = '\
										<div class="alert alert-success alert-dismissible fade in center" role="alert">\
									      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>\
									      <strong>\
									      	{{ "alert.title.congratulations" | trans }}\
									      </strong>\
									      {{ "alert.content.congratulations" | trans }}\
									      <button class="no_style_button cart_alert_button" onClick="addToSessionCart(); addToSessionCartXS();">\
									      	<strong>\
									      		{{ "header.titles.myCart" | trans }}\
									      	</strong>\
									      </button>\
									    </div>';
									    setTimeout(function() {
									    	$('.alert').fadeOut('fast');
									    	document.getElementById("sessionFlash").style.display = "none";
									    },5000);
									    
									}
									else {
										document.getElementById(input_id).className = "btn-add-to-cart";
									}

									return false;
								}

								$('#recipe_content a').click(function (e) {
								  e.preventDefault();
								  $(this).tab('show');
								});

							</script>

							<div class="tab-content" id="product_content">
								{% set index_general = 1 %}
								{% for category in allCategories %}
									{% set productsArray = allSortedProducts[index_general] %}
									<!-- BEGIN Tab pane {{ index_general }}  -->
									<div class="tab-pane fade 
										{% if index_general == 1 %} active in {% endif %}" id="tab_{{ index_general }}">
										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 menu_small_hidden">
												<ul class="ver-inline-menu tabbable list_no_style_li">
												{% set index_category = 1 %}
												{% for product in productsArray %}
													{% if product.active != 'inactive' %}
													<li class="tab_select {% if index_category == 1 %} active {% endif %}">
														{% if product.active == 'new' %}
															<div class="inline_div left">
																<img src="{{ asset('img/system/defaults/new_ES.png') }}" alt="" class="btn_right_arrow_spe_2"/>
															</div>
														{% endif %}
														<div class="inline_div hidden-lg hidden-md hidden-sm">
															<a href="" data-toggle="tab" data-target="#tab_{{ index_general }}-{{ index_category }}" class="btn btn-choice">
																{% if current_language %}
																	{% if current_language == 'fr' and product.nameFr|length > 0 %}
																		{{ product.nameFr | truncate(14, false, '...')  }}
																	{% elseif current_language == 'en' and product.nameEn|length > 0 %}
																		{{ product.nameEn | truncate(14, false, '...')  }}
																	{% else %}
																		{{ product.nameEs | truncate(14, false, '...')  }}
																	{% endif %}
																{% else %}
																		{{ product.nameEs | truncate(14, false, '...')  }}
																{% endif %}
																<div class="float-right inner_arrow hidden-xs">
																	<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
																</div>
															</a>
														</div>
														<div class="inline_div hidden-xs">
															<a href="" data-toggle="tab" data-target="#tab_{{ index_general }}-{{ index_category }}" class="btn btn-choice">
																{% if current_language %}
																	{% if current_language == 'fr' and product.nameFr|length > 0 %}
																		{{ product.nameFr }}
																	{% elseif current_language == 'en' and product.nameEn|length > 0 %}
																		{{ product.nameEn }}
																	{% else %}
																		{{ product.nameEs }}
																	{% endif %}
																{% else %}
																		{{ product.nameEs }}
																{% endif %}
																<div class="float-right inner_arrow hidden-xs">
																	<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
																</div>
															</a>
														</div>
													</li>
													{% endif %}
													{% set index_category = index_category + 1 %}
												{% endfor %}
												</ul>
											</div>
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
												<div class="tab-content">
													{% set index_category = 1 %}
													{% set naturalProductDef = false %}
													{% for product in productsArray %}
														{% if product.active != 'inactive' %}
														<div id="tab_{{ index_general }}-{{ index_category }}" class="tab-pane fade
															{% if index_category == 1 %} active in {% endif %}">
															<div class="row product_info_xs">
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
																	<div class="product_img_div">
																	{% if product.active == 'new' %}
																		<div class="float-right" style="width:36%; position:relative; top: -10px; right: -10px;">
																			<img src="{{ asset('img/system/defaults/new_ES.png') }}" alt="New" style="width:100%;"/>
																		</div>
																	{% endif %}
																	{% if product.alt|length > 0 and product.url|length > 0 %}
																		<div class="product_img" style="width: 100%; background-image: url('{{ asset(product.webPath) }}'); background-size: cover; background-position: 50%;">
																			<!-- onClick="showPhoto('{{ product.id }}')" -->
																		</div>
																	{% else %}
																		<img src="{{ asset('img/system/defaults/default_img.png') }}" alt="Default" class="product_img"/>
																	{% endif %}
																	<script type="text/javascript">
																		// Round images
																	    var widthImg = $('.product_img').width();
																	    $('.product_img').css({'height':widthImg+'px'});
																	</script>
																	</div>
																	<br class="hidden-xs"/>
																	<div class="center">
																		<strong>
																			{{ 'ourProducts.details.weight' | trans }}
																		</strong>
																		{{ product.weight }} g
																	</div>
																	<!-- <div class="center">
																		<div class="inline_div">
																			<strong>
																				Available:
																			</strong>
																		</div>
																		<div class="inline_div">
																			{{ product.quantity }}
																		</div>
																	</div> -->
																	<div class="center">
																		<strong>
																			{{ 'ourProducts.details.price' | trans }}
																		</strong>
																		S/. {{ product.price }} 
																		{% if product.unit > 0 %}
																			{{ 'ourProducts.details.for' | trans }}
																			{{ product.unit }}
																			{{ 'ourProducts.details.piece' | trans }}
																		{% endif %}
																	</div>
																</div>
																<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
																	<div class="row product_description">
																		<h4>
																			{% if current_language %}
																				{% if current_language == 'fr' and product.nameFr|length > 0 %}
																					{{ product.nameFr }}
																				{% elseif current_language == 'en' and product.nameEn|length > 0 %}
																					{{ product.nameEn }} 
																				{% else %}
																					{{ product.nameEs }}
																				{% endif %}
																			{% else %}
																				{{ product.nameEs }}
																			{% endif %}
																			{% if product.naturalProduct == true %} 
																				* 
																				{% set naturalProductDef = true %}
																			{% endif %} 
																		</h4>
																		<p class="center">
																			{% if current_language %}
																				{% if current_language == 'fr' and product.descriptionFr|length > 0 %}
																					{{ product.descriptionFr }}
																				{% elseif current_language == 'en' and product.descriptionEn|length > 0 %}
																					{{ product.descriptionEn }}
																				{% else %}
																					{{ product.descriptionEs }}
																				{% endif %}
																			{% else %}
																					{{ product.descriptionEs }}
																			{% endif %}
																		</p>
																		
																	</div>
																	<br/>
																	<div class="row">
																		{% if naturalProductDef == true %}
																			<div class="row small_quote">
																				* {{ 'ourProducts.details.naturalProducts' | trans }}
																			</div>
																		{% endif %} 
																	</div>
																	<br class="hidden-xs"/>
																	<div class="row center">
																		<button class="btn btn-login" onClick="goToRecipesFrom('{{ product.type }}')">
																			{{ 'ourProducts.actions.seeRecipes' | trans }}
																			<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
																		</button>

																		<script>
																			function goToRecipesFrom(product_type) {
																				var newID ;
																				for (var i = 0; i < list_types.length; i++) {
																					if (list_types[i] == product_type) {
												                  						document.getElementById('filter_for_'+list_types[i]).selected = true;
												                  						;
																					}
																				}
																				$('#btn_section3').trigger('click', '', displayFilteredElements());
																			}
																		</script>
																	</div>
																</div>
															</div>

															<br/>
															{% if product.active != 'soldOut' and product.active != 'toCome' %}
															<div class="row right">
																<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 inline_div margin_right_10">
																	<div class="row hidden-xs">
																		<button onClick="addOne('{{ product.type }}', 'counter_value_{{ product.type }}', 'weight_value_{{ product.type }}', 'price_value_{{ product.type }}')" class="add_buttons add_button_plus no_style_button" type="button" value="+" title="Add one more"></button>

																		<button onClick="deleteOne('{{ product.type }}', 'counter_value_{{ product.type }}', 'weight_value_{{ product.type }}', 'price_value_{{ product.type }}')" class="add_buttons add_button_minus no_style_button" type="button" value="-" title="Delete one"></button>

																	</div>
																	<div class="row hidden-lg hidden-md hidden-sm">

																		<button onClick="addOne('{{ product.type }}', 'counter_value_{{ product.type }}', 'weight_value_{{ product.type }}', 'price_value_{{ product.type }}')" class="add_buttons_XS add_button_plus no_style_button" type="button" value="+" title="Add one more"></button>

																		<button onClick="deleteOne('{{ product.type }}', 'counter_value_{{ product.type }}', 'weight_value_{{ product.type }}', 'price_value_{{ product.type }}')" class="add_buttons_XS add_button_minus no_style_button" type="button" value="-" title="Delete one"></button>
																	</div>
																</div>
																<div class="inline_div col-lg-3 col-md-3 col-sm-3 col-xs-2">
																	<div class="inline_div counter_info_divs">
																		<div id="counter_value_{{ product.type }}">
																			0
																		</div>
																	</div>
																	<div class="inline_div counter_info_divs margin_right_10 hidden-xs">
																		{{ 'ourProducts.details.pieces' | trans }}
																	</div>
																</div>
																<div class="inline_div col-lg-2 col-md-2 col-sm-2 hidden-xs">
																	<div class="inline_div counter_info_divs">
																		<div id="weight_value_{{ product.type }}">
																			0
																		</div>
																	</div>
																	<div class="inline_div counter_info_divs margin_right_10 hidden-xs">
																		g,
																	</div>
																</div>
																<div class="inline_div col-lg-2 col-md-2 col-sm-2 hidden-xs counter_price_divs">
																	<div class="inline_div float-left">
																		S/.
																	</div>
																	<div class="inline_div margin_right_10 hidden-xs">
																		<div id="price_value_{{ product.type }}">
																			0
																		</div>
																	</div>
																</div>
																<div class="inline_div col-lg-2 col-md-2 col-sm-2 col-xs-3">
																	<button class="btn-add-to-cart" value="" title="Add to cart" id="btn-add-to-cart_{{ product.type }}" 
																	onClick="javascript:add_to_cart('{{ product.type }}', 'btn-add-to-cart_{{ product.type }}', 'counter_value_{{ product.type }}', 'weight_value_{{ product.type }}', 'price_value_{{ product.type }}')">
																	</button>
																</div>
															</div>
															{% elseif product.active == "soldOut" %}
															<div class="row right">
																{{ 'ourProducts.announces.soldOut' | trans }}
															</div>
															{% elseif product.active == "toCome" %}
															<div class="row right">
																{{ 'ourProducts.announces.toCome' | trans }}
															</div>
															{% endif %}

														</div>
														{% endif %}
														{% set index_category = index_category + 1 %}
													{% endfor %}
												</div>
											</div>	
										</div>
									</div>
									<!-- END Tab pane {{ index_general }}  -->

									{% set index_general = index_general + 1 %}
								{% endfor %}
							</div>

						<!-- Otherwise .... -->
						{% else %}
							<p class="center">
								{{ 'ourProducts.warning.message' | trans }}
							</p>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="section section_padding row" id="ourRecipes">
				<div class="presentation_texte">
					<div class="row center">
		        		<div class="col-lg-4 col-md-4 col-sm-3 hidden-xs left" data-menuanchor="ourProducts">
		        			<a href="#ourProducts" class="btn btn-login">
								<img src="{{ asset('img/system/defaults/up_arrow.png') }}" alt="" class="btn_right_arrow"/>
								{{ 'ourRecipes.titles.products' | trans }}
							</a>
		        		</div>
		        		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<h2>
								{% set pageRecettesPrincipale = '' %}
								{% if pages|length > 0 %}
									{% for page in pages %}
										{% if page.dataBaseName == 'Page_Recettes' %}
											{% set pageRecettesPrincipale = page %}
										{% endif %}
									{% endfor %}
								{% endif %}
								{% if current_language %}
									{% if current_language == 'fr' and pageRecettesPrincipale.headerFr|length > 0 %}
										{{ pageRecettesPrincipale.headerFr }}
									{% elseif current_language == 'en' and pageRecettesPrincipale.headerEn|length > 0 %}
										{{ pageRecettesPrincipale.headerEn }} 
									{% else %}
										{{ pageRecettesPrincipale.headerEs }}
									{% endif %}
								{% else %}
									{{ pageRecettesPrincipale.headerEs }}
								{% endif %}
								<br/>
								<span>
									{% if current_language %}
										{% if current_language == 'fr' and pageRecettesPrincipale.descriptionFr|length > 0 %}
											{{ pageRecettesPrincipale.descriptionFr }}
										{% elseif current_language == 'en' and pageRecettesPrincipale.descriptionEn|length > 0 %}
											{{ pageRecettesPrincipale.descriptionEn }} 
										{% else %}
											{{ pageRecettesPrincipale.descriptionEs }}
										{% endif %}
									{% else %}
										{{ pageRecettesPrincipale.descriptionEs }}
									{% endif %}
								</span>
							</h2>
		        		</div>
						<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 right">
									{{ 'ourRecipes.titles.filteredBy' | trans }}
								</div>
								<script type="text/javascript">
									var list_types = [];
									var list_recipes = [];
				                </script>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 left">
									<select name="filter_by_product" id="filter_by_product" class="form-control placeholder-no-fix" onchange="displayFilteredElements()">
										<option value="NONE" id="filter_for_NONE">
											{{ 'ourRecipes.titles.nada' | trans }}
										</option>
										{% for product in allProducts %}
											{% set index_product_sorter = 'NO' %}
											{% for recipe in allRecipes %}
												{% if recipe.element == product and index_product_sorter == 'NO' %}
													<script type="text/javascript">
														list_types[list_types.length] = '{{ product.type }}';
									                </script>
													<option value="{{ product.type }}" id="filter_for_{{ product.type }}">
														{% if current_language %}
															{% if current_language == 'fr' and product.nameFr|length > 0 %}
																{{ product.nameFr }}
															{% elseif current_language == 'en' and product.nameEn|length > 0 %}
																{{ product.nameEn }} 
															{% else %}
																{{ product.nameEs }}
															{% endif %}
														{% else %}
															{{ product.nameEs }}
														{% endif %}
													</option>
													{% set index_product_sorter = 'YES' %}
												{% endif %}
											{% endfor %}
										{% endfor %}
									</select>
								</div>

								<script type="text/javascript">
				                  	function displayFilteredElements() {
				                  		var newID ;
				                  		if (document.getElementById('filter_for_NONE').selected) { 
				                  			for (var i = 0; i < list_types.length; i++) {
				                  				newID = '.recipe_for_'+list_types[i];
				                  				$(newID).css({'display':'block'});
				                  				// document.getElementById(newID).style.display = 'none';
					                  		}
				                  		}
					                  	else {
					                  		for (var i = 0; i < list_types.length; i++) {
					                  			if (document.getElementById('filter_for_'+list_types[i]).selected) { 
			                  						$('[class^=recipe_for_]').css({'display':'none'});
			                  						newID = '.recipe_for_'+list_types[i];
			                  						$(newID).css({'display':'block'});
					                  			}
					                  			else {
					                  				newID = '.recipe_for_'+list_types[i];
			                  						$(newID).css({'display':'none'});
					                  			}
					                  		}
					                  	}
				                  		return false;
				                    }
				                </script>
							</div>
						</div>
					</div>
					<br/>

					<div class="row90">

						
						<!-- Recipes content -->
						{% if allSortedRecipes|length > 0 %}
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<h4 class="center">
									{{ 'ourRecipes.titles.salted' | trans }}
								</h4>
								{% set recipeSalt = "NO" %}
								{% for recipe in allSortedRecipes %}
									{% if recipe.taste == 1 %}
										{% set recipeSalt = "YES" %}
										<div class="row bio product_info_xs recipe_for_{{ recipe.element.type }}">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sep_presentation"></div>
											{% if recipe.active != 'inactive' %}
												<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 center">
													{% if recipe.active == 'new' %}
														<div class="float-right" style="width:10%;">
															<img src="{{ asset('img/system/defaults/new_ES.png') }}" alt="New" style="width:100%;"/>
														</div>
													{% endif %}
													<h5>
														{{ recipe.title }}
													</h5>
													<h6>
														con 
														{% if current_language %}
															{% if current_language == 'fr' and recipe.element.nameFr|length > 0 %}
																{{ recipe.element.nameFr }}
															{% elseif current_language == 'en' and recipe.element.nameEn|length > 0 %}
																{{ recipe.element.nameEn }} 
															{% else %}
																{{ recipe.element.nameEs }}
															{% endif %}
														{% else %}
															{{ recipe.element.nameEs }}
														{% endif %}
													</h6>
													<br/>
													{% set descriptionForRecipe = '' %}
													{% if current_language %}
														{% if current_language == 'fr' and recipe.descriptionFr|length > 0 %}
															{% set descriptionForRecipe = recipe.descriptionFr %}
														{% elseif current_language == 'en' and recipe.descriptionEn|length > 0 %}
															{% set descriptionForRecipe = recipe.descriptionEn %}
														{% else %}
															{% set descriptionForRecipe = recipe.descriptionEs %}
														{% endif %}
													{% else %}
															{% set descriptionForRecipe = recipe.descriptionEs %}
													{% endif %}
													
													{{ descriptionForRecipe | truncate(120, false, '...')  }}

													<br/>
													{% set image_url_recipe = asset('img/system/defaults/default_recipe.jpg') %}
													{% if recipe.alt|length > 0 and recipe.url|length > 0 %}
														{% set image_url_recipe = asset(recipe.webPath) %}
													{% endif %}
													<div class="center">
														{% set ingredientsForRecipe = '' %}
														{% if current_language %}
															{% if current_language == 'fr' and recipe.ingredientsFr|length > 0 %}
																{% set ingredientsForRecipe = recipe.ingredientsFr %}
															{% elseif current_language == 'en' and recipe.ingredientsEn|length > 0 %}
																{% set ingredientsForRecipe = recipe.ingredientsEn %}
															{% else %}
																{% set ingredientsForRecipe = recipe.ingredientsEs %}
															{% endif %}
														{% else %}
																{% set ingredientsForRecipe = recipe.ingredientsEs %}
														{% endif %}
														{% set preparationForRecipe = '' %}
														{% if current_language %}
															{% if current_language == 'fr' and recipe.preparationFr|length > 0 %}
																{% set preparationForRecipe = recipe.preparationFr %}
															{% elseif current_language == 'en' and recipe.preparationEn|length > 0 %}
																{% set preparationForRecipe = recipe.preparationEn %}
															{% else %}
																{% set preparationForRecipe = recipe.preparationEs %}
															{% endif %}
														{% else %}
																{% set preparationForRecipe = recipe.preparationEs %}
														{% endif %}
														<p class="center">
															<button class="btn btn-login" type="button" data-toggle="modal" data-target="#recipe_{{ recipe.id }}_Modal">
																{{ 'ourRecipes.actions.discoverRecipe' | trans }}
																<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
															</button>	
														</p>
														<!-- Modal recipe {{ recipe.id }} -->
														<div class="modal bs-example-modal-lg fade" id="recipe_{{ recipe.id }}_Modal" tabindex="-1" role="dialog" aria-labelledby="recipe_{{ recipe.id }}_ModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
														  <div class="modal-dialog modal-lg">
														    <div class="modal-content">
														      <div class="modal-header">
														        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
														        <h2 class="modal-title center">
														        	{{ recipe.title }}
														        </h2>
														      </div>
														      <div class="modal-body" id="recipeModalContent">
														        <div class="modal-body-inner row">
														          
														          <div class="row">
														            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="recipeModalContent_LeftPart">
														              <div class="recipe_border">
														                <div class="left">
														                  <span>
														                    <strong>
														                      {{ 'modal.modalRecipe.origin' | trans }}
														                    </strong>
														                  </span> 
														                  <span>
														                  	{{ recipe.origin }}
														                  </span> 
														                  <br/>
														                  <span>
														                    <strong>
														                      {{ 'modal.modalRecipe.forHowMany' | trans }}
														                    </strong>
														                  </span> 
														                  <span>
														                  	{{ recipe.forHowMany }}
														                  </span> 
														                  <span>
														                    {{ 'modal.modalRecipe.people' | trans }}
														                  </span> 
														                  <br/>
														                  <span>
														                    <strong>
														                      {{ 'modal.modalRecipe.duration' | trans }}
														                    </strong>
														                  </span> 
														                  <span>
														                  	{{ recipe.duration }}
														                  </span> 
														                  <span>
														                    {{ 'modal.modalRecipe.min' | trans }}
														                  </span> 
														                  <br/>
														                  <span>
														                    <strong>
														                      {{ 'modal.modalRecipe.cooking' | trans }}
														                    </strong>
														                  </span> 
														                  <span>
														                  	{{ recipe.cooking }}
														                  </span> 
														                  <span>
														                    {{ 'modal.modalRecipe.min' | trans }}
														                  </span>
														                  <hr/>
														                  <strong class="text-decoration:underline;">
														                    {{ 'modal.modalRecipe.ingredients' | trans }}
														                  </strong>
														                  <div>
														                  	<ul class="margin0">
														                    {% for ingr in ingredientsForRecipe %}
														                    	<li>
														                    		{{ ingr }}
														                    	</li>
														                  	{% endfor %}
														                  	</ul>
														                  </div>
														                </div>
														              </div>
														            </div>
														            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="recipeModalContent_RightPart">
														              <div class="recipe_border">
														                <strong class="text-decoration:underline;">
														                  {{ 'modal.modalRecipe.preparation' | trans }}
														                </strong>
														                <div class="left">
														                  	<ul class="margin0">
														                    {% for ingr in preparationForRecipe %}
														                    	<li>
														                    		{{ ingr }}
														                    	</li>
														                  	{% endfor %}
														                  	</ul>
														                </div>
														              </div>
														            </div>
														          </div>

														          <br/><br/>
														          <div class="row">
														            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
														              <div class="center">
														                <span>
														                  {{ 'modal.modalRecipe.lastEdit' | trans }}
														                </span> 
														                <span>
														                	{{ recipe.updatedAt|date('d M Y') }}
														                </span> 
														                {{ 'modal.modalRecipe.atTime' | trans }}
														                <span>
														                	{{ recipe.updatedAt|date('H:i') }}
														                </span>
														              </div>
														              <div class="recipe_img_lg" style="width: 100%; background-size: cover; background-position: 50%; background-image: url({{ image_url_recipe }})">
														                <script type="text/javascript">
														                  var recipe_height_lg = $('.recipe_img_lg').width() * 0.8;
														                  $('.recipe_img_lg').css({'height':recipe_height_lg+'px'});
														                </script>
														              </div>
														            </div>
														          </div>
														        </div>
														      </div>
														      <div class="modal-footer">
														        <button type="button" class="btn btn-modal" data-dismiss="modal">
														          {{ 'modal.actions.close' | trans }}
														        </button>
														      </div>
														    </div>
														  </div>
														</div>		
													</div>

												</div>
												<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
													<div class="recipe_img_div">
													{% if recipe.alt|length > 0 and recipe.url|length > 0 %}
														<div class="recipe_img" style="width: 100%; background-image: url('{{ asset(recipe.webPath) }}'); background-size: cover; background-position: 50%;">
															<!-- onClick="showPhoto('{{ recipe.id }}')" -->
														</div>
													{% else %}
														<img src="{{ asset('img/system/defaults/default_recipe.jpg') }}" alt="Default" class="recipe_img"/>
													{% endif %}
														<script type="text/javascript">
															var widthRecipe = $('.recipe_img').width() * 0.7;
														    $('.recipe_img').css({'height':widthRecipe+'px'});
														</script>
													</div>
												</div>

												{% set empty_list = 'NO' %}
											{% endif %}
										</div>
									{% endif %}
								{% endfor %}
								{% if recipeSalt == "NO" %}
									<p class="center">
										{{ 'ourRecipes.warning.none' | trans }}
									</p>
								{% endif %}
							</div>


							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="hidden-lg hidden-md hidden-sm">
									<hr/>	
								</div>

								<h4 class="center">
									{{ 'ourRecipes.titles.sugared' | trans }}
								</h4>
								{% set recipeSugared = "NO" %}
								{% for recipe in allSortedRecipes %}
									{% if recipe.taste == 0 %}
										{% set recipeSugared = "YES" %}
										<div class="row bio product_info_xs recipe_for_{{ recipe.element.type }}">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sep_presentation"></div>
											{% if recipe.active != 'inactive' %}
												<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 center">
													{% if recipe.active == 'new' %}
														<div class="float-right" style="width:10%;">
															<img src="{{ asset('img/system/defaults/new_ES.png') }}" alt="New" style="width:100%;"/>
														</div>
													{% endif %}
													<h5>
														<strong>
															{{ recipe.title }}
														</strong>
													</h5>
													<h6>
														con 
														{% if current_language %}
															{% if current_language == 'fr' and recipe.element.nameFr|length > 0 %}
																{{ recipe.element.nameFr }}
															{% elseif current_language == 'en' and recipe.element.nameEn|length > 0 %}
																{{ recipe.element.nameEn }} 
															{% else %}
																{{ recipe.element.nameEs }}
															{% endif %}
														{% else %}
															{{ recipe.element.nameEs }}
														{% endif %}
													</h6>
													<br/>
													{% set descriptionForRecipe = '' %}
													{% if current_language %}
														{% if current_language == 'fr' and recipe.descriptionFr|length > 0 %}
															{% set descriptionForRecipe = recipe.descriptionFr %}
														{% elseif current_language == 'en' and recipe.descriptionEn|length > 0 %}
															{% set descriptionForRecipe = recipe.descriptionEn %}
														{% else %}
															{% set descriptionForRecipe = recipe.descriptionEs %}
														{% endif %}
													{% else %}
															{% set descriptionForRecipe = recipe.descriptionEs %}
													{% endif %}
													
													{{ descriptionForRecipe | truncate(120, false, '...')  }}

													<br/>
													{% set image_url_recipe = asset('img/system/defaults/default_recipe.jpg') %}
													{% if recipe.alt|length > 0 and recipe.url|length > 0 %}
														{% set image_url_recipe = asset(recipe.webPath) %}
													{% endif %}
													<div class="center">
														{% set ingredientsForRecipe = '' %}
														{% if current_language %}
															{% if current_language == 'fr' and recipe.ingredientsFr|length > 0 %}
																{% set ingredientsForRecipe = recipe.ingredientsFr %}
															{% elseif current_language == 'en' and recipe.ingredientsEn|length > 0 %}
																{% set ingredientsForRecipe = recipe.ingredientsEn %}
															{% else %}
																{% set ingredientsForRecipe = recipe.ingredientsEs %}
															{% endif %}
														{% else %}
																{% set ingredientsForRecipe = recipe.ingredientsEs %}
														{% endif %}
														{% set preparationForRecipe = '' %}
														{% if current_language %}
															{% if current_language == 'fr' and recipe.preparationFr|length > 0 %}
																{% set preparationForRecipe = recipe.preparationFr %}
															{% elseif current_language == 'en' and recipe.preparationEn|length > 0 %}
																{% set preparationForRecipe = recipe.preparationEn %}
															{% else %}
																{% set preparationForRecipe = recipe.preparationEs %}
															{% endif %}
														{% else %}
																{% set preparationForRecipe = recipe.preparationEs %}
														{% endif %}
														<button class="btn btn-login" type="button" data-toggle="modal" data-target="#recipe_{{ recipe.id }}_Modal">
															{{ 'ourRecipes.actions.discoverRecipe' | trans }}
															<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
														</button>	
														<!-- Modal recipe {{ recipe.id }} -->
														<div class="modal bs-example-modal-lg fade" id="recipe_{{ recipe.id }}_Modal" tabindex="-1" role="dialog" aria-labelledby="recipe_{{ recipe.id }}_ModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
														  <div class="modal-dialog modal-lg">
														    <div class="modal-content">
														      <div class="modal-header">
														        <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
														        <h2 class="modal-title center">
														        	{{ recipe.title }}
														        </h2>
														      </div>
														      <div class="modal-body" id="recipeModalContent">
														        <div class="modal-body-inner row">
														          
														          <div class="row">
														            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="recipeModalContent_LeftPart">
														              <div class="recipe_border">
														                <div class="left">
														                  <span>
														                    <strong>
														                      {{ 'modal.modalRecipe.origin' | trans }}
														                    </strong>
														                  </span> 
														                  <span>
														                  	{{ recipe.origin }}
														                  </span> 
														                  <br/>
														                  <span>
														                    <strong>
														                      {{ 'modal.modalRecipe.forHowMany' | trans }}
														                    </strong>
														                  </span> 
														                  <span>
														                  	{{ recipe.forHowMany }}
														                  </span> 
														                  <span>
														                    {{ 'modal.modalRecipe.people' | trans }}
														                  </span> 
														                  <br/>
														                  <span>
														                    <strong>
														                      {{ 'modal.modalRecipe.duration' | trans }}
														                    </strong>
														                  </span> 
														                  <span>
														                  	{{ recipe.duration }}
														                  </span> 
														                  <span>
														                    {{ 'modal.modalRecipe.min' | trans }}
														                  </span> 
														                  <br/>
														                  <span>
														                    <strong>
														                      {{ 'modal.modalRecipe.cooking' | trans }}
														                    </strong>
														                  </span> 
														                  <span>
														                  	{{ recipe.cooking }}
														                  </span> 
														                  <span>
														                    {{ 'modal.modalRecipe.min' | trans }}
														                  </span>
														                  <hr/>
														                  <strong class="text-decoration:underline;">
														                    {{ 'modal.modalRecipe.ingredients' | trans }}
														                  </strong>
														                  <div>
														                  	<ul class="margin0">
														                    {% for ingr in ingredientsForRecipe %}
														                    	<li>
														                    		{{ ingr }}
														                    	</li>
														                  	{% endfor %}
														                  	</ul>
														                  </div>
														                </div>
														              </div>
														            </div>
														            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="recipeModalContent_RightPart">
														              <div class="recipe_border left">
														                <strong class="text-decoration:underline;">
														                  {{ 'modal.modalRecipe.preparation' | trans }}
														                </strong>
														                <div class="left">
														                  	<ul class="margin0">
														                    {% for ingr in preparationForRecipe %}
														                    	<li>
														                    		{{ ingr }}
														                    	</li>
														                  	{% endfor %}
														                  	</ul>
														                </div>
														              </div>
														            </div>
														          </div>

														          <br/><br/>
														          <div class="row">
														            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
														              <div class="center">
														                <span>
														                  {{ 'modal.modalRecipe.lastEdit' | trans }}
														                </span> 
														                <span>
														                	{{ recipe.updatedAt|date('d M Y') }}
														                </span> 
														                {{ 'modal.modalRecipe.atTime' | trans }}
														                <span>
														                	{{ recipe.updatedAt|date('H:i') }}
														                </span>
														              </div>
														              <div class="recipe_img_lg" style="width: 100%; background-size: cover; background-position: 50%; background-image: url({{ image_url_recipe }})">
														                <script type="text/javascript">
														                  var recipe_height_lg = $('.recipe_img_lg').width() * 0.8;
														                  $('.recipe_img_lg').css({'height':recipe_height_lg+'px'});
														                </script>
														              </div>
														            </div>
														          </div>
														        </div>
														      </div>
														      <div class="modal-footer">
														        <button type="button" class="btn btn-modal" data-dismiss="modal">
														          {{ 'modal.actions.close' | trans }}
														        </button>
														      </div>
														    </div>
														  </div>
														</div>		
													</div>

												</div>
												<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
													<div class="recipe_img_div">
													{% if recipe.alt|length > 0 and recipe.url|length > 0 %}
														<div class="recipe_img" style="width: 100%; background-image: url('{{ asset(recipe.webPath) }}'); background-size: cover; background-position: 50%;">
															<!-- onClick="showPhoto('{{ recipe.id }}')" -->
														</div>
													{% else %}
														<img src="{{ asset('img/system/defaults/default_recipe.jpg') }}" alt="Default" class="recipe_img"/>
													{% endif %}
														<script type="text/javascript">
															var widthRecipe = $('.recipe_img').width() * 0.7;
														    $('.recipe_img').css({'height':widthRecipe+'px'});
														</script>
													</div>
												</div>

												{% set empty_list = 'NO' %}
											{% endif %}
										</div>
									{% endif %}
								{% endfor %}
								{% if recipeSugared == "NO" %}
									<p class="center">
										{{ 'ourRecipes.warning.none' | trans }}
									</p>
								{% endif %}
							</div>

						<!-- Otherwise .... -->
						{% else %}
							<p class="center">
								{{ 'ourRecipes.warning.message' | trans }}
							</p>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="section section_padding row" id="aboutUs">
				<div class="presentation_texte">
					<div class="row center">
		        		<div class="col-lg-2 col-md-2 col-sm-3 hidden-xs"></div>
		        		<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
							<h2>
								{% set pageAProposPrincipale = '' %}
								{% if pages|length > 0 %}
									{% for page in pages %}
										{% if page.dataBaseName == 'Page_A_Propos' %}
											{% set pageAProposPrincipale = page %}
										{% endif %}
									{% endfor %}
								{% endif %}
								{% if current_language %}
									{% if current_language == 'fr' and pageAProposPrincipale.headerFr|length > 0 %}
										{{ pageAProposPrincipale.headerFr }}
									{% elseif current_language == 'en' and pageAProposPrincipale.headerEn|length > 0 %}
										{{ pageAProposPrincipale.headerEn }} 
									{% else %}
										{{ pageAProposPrincipale.headerEs }}
									{% endif %}
								{% else %}
									{{ pageAProposPrincipale.headerEs }}
								{% endif %}
								<br/>
								<span>
									{% if current_language %}
										{% if current_language == 'fr' and pageAProposPrincipale.descriptionFr|length > 0 %}
											{{ pageAProposPrincipale.descriptionFr }}
										{% elseif current_language == 'en' and pageAProposPrincipale.descriptionEn|length > 0 %}
											{{ pageAProposPrincipale.descriptionEn }} 
										{% else %}
											{{ pageAProposPrincipale.descriptionEs }}
										{% endif %}
									{% else %}
										{{ pageAProposPrincipale.descriptionEs }}
									{% endif %}
								</span>
							</h2>
		        		</div>
						<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
							<a href="#footerSection" class="btn btn-login" id="btn_section4">
								{{ 'aboutUs.titles.contact' | trans }}
								<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
							</a>
						</div>
					</div>
					<br/>
					<div class="row bio">
						<div class="row90 hidden-xs">
							{% set index_creator = 1 %}
							{% set length_creators = creators|length %}
							{% for creator in creators %}
								<div class="col-lg-4 col-md-4 col-sm-4 {% if index_creator % 3 != 0 %}sep_dotted_right{% endif %}">
									{% set image_url_creator = asset('img/system/defaults/default_profile.png') %}
									{% if creator.alt|length > 0 and creator.url|length > 0 %}
										{% set image_url_creator = asset(creator.webPath) %}
									{% endif %}
									<img src="{{ image_url_creator }}" alt="{{ creator.name }}" class="creator_img"/>
									<h4>
										{{ creator.name }}
									</h4>
									{% set descriptionForCreator = '' %}
									{% if current_language %}
										{% if current_language == 'fr' and creator.descriptionFr|length > 0 %}
											{% set descriptionForCreator = creator.descriptionFr %}
										{% elseif current_language == 'en' and creator.descriptionEn|length > 0 %}
											{% set descriptionForCreator = creator.descriptionEn %}
										{% else %}
											{% set descriptionForCreator = creator.descriptionEs %}
										{% endif %}
									{% else %}
											{% set descriptionForCreator = creator.descriptionEs %}
									{% endif %}
									
									{{ descriptionForCreator }}
								</div>
								{% if index_creator % 3 == 0 and index_creator < length_creators %}
									<div class="col-lg-12 col-md-12 col-sm-12 sep_dotted_bottom">
										<br/>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<br/>
									</div>
								{% endif %}
								{% set index_creator = index_creator + 1 %}
							{% endfor %}
						</div>

						<div class="row bio hidden-lg hidden-md hidden-sm ">
							{% set index_creator = 1 %}
							{% set length_creators = creators|length %}
							{% for creator in creators %}
								<div class="col-xs-12 creator_padding {% if index_creator < length_creators %}sep_dotted_bottom{% endif %}">
									<div class="col-xs-4">
										{% set image_url_creator = asset('img/system/defaults/default_profile.png') %}
										{% if creator.alt|length > 0 and creator.url|length > 0 %}
											{% set image_url_creator = asset(creator.webPath) %}
										{% endif %}
										<img src="{{ image_url_creator }}" alt="{{ creator.name }}" class="creator_img"/>
									</div>
									<div class="col-xs-8">
										<h4>
											{{ creator.name }}
										</h4>
										{% set descriptionForCreator = '' %}
										{% if current_language %}
											{% if current_language == 'fr' and creator.descriptionFr|length > 0 %}
												{% set descriptionForCreator = creator.descriptionFr %}
											{% elseif current_language == 'en' and creator.descriptionEn|length > 0 %}
												{% set descriptionForCreator = creator.descriptionEn %}
											{% else %}
												{% set descriptionForCreator = creator.descriptionEs %}
											{% endif %}
										{% else %}
												{% set descriptionForCreator = creator.descriptionEs %}
										{% endif %}
										
										{{ descriptionForCreator }}
									</div>
								</div>
								{% set index_creator = index_creator + 1 %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<!-- BEGIN FOOTER -->
              {% include 'includes/footer.html.twig' %}
            <!-- END FOOTER -->
            <!-- BEGIN modals -->
	          {% include 'includes/modals.html.twig' %}
	        <!-- END modals -->
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Main_body %}