{# src/LBF/MainBundle/Resources/Main/indexMain.html.twig #}

{% extends "LBFMainBundle::main_general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block LBF_Main_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section row" id="mainSection">
				<div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
			      <div class="logo_welcome">
			        <img src="{{ asset('img/system/logo/final_site.png') }}" alt="Logo" class="logo_welcome_img"/>
			      </div>
			    </div>

				<div class="presentation_photos row">

					<div class="content_presentation row">
						
	    				<script>
					        jQuery(document).ready(function ($) {
					            //Reference http://www.jssor.com/development/slider-with-slideshow-jquery.html
					            //Reference http://www.jssor.com/development/tool-slideshow-transition-viewer.html

					            var _SlideshowTransitions = [
					            //Fade
					            { $Duration: 1400, $Opacity: 2 }
					            ];

					            var options = {
					                $SlideDuration: 3000,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
					                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
					                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
					                $AutoPlayInterval: 3000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
					                $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
					                    $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
					                    $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
					                    $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
					                    $ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
					                }
					            };

					            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

					        });
					    </script>
					    <!-- Jssor Slider Begin -->
					    <!-- You can move inline styles to css file or css block. -->
					    <div id="slider1_container" style="position: relative; top: 0px; right: 0px; width: 1200px;
					        height: 400px; margin:auto; overflow: hidden ; opacity: 1 !important; z-index: 1;">

					        <!-- Loading Screen -->
					        <div u="loading" style="position: absolute; top: 0px; right: 0px;">
					            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
					                background-color: #000; top: 0px; right: 0px; width: 1200px; height: 400px;">
					            </div>
					            <div style="position: absolute; display: block; background: url("{{ asset('img/system/slideshow/loader2.gif') }}") no-repeat center center;
					                top: 0px; right: 0px; width: 1200px; height: 400px;">
					            </div>
					        </div>
					        
					        <!-- Slides Container -->
					        <div id="slider1_container_content" u="slides" style="cursor: move; position: absolute; right: 0px; top: 0px; width: 1200px; height: 400px; overflow: hidden;">
					            
								<div>
									<img u=image src="{{ asset('img/presentation/1.jpg') }}" />
								</div>
					            <div>
					                <img u=image src="{{ asset('img/presentation/2.jpg') }}" />
					            </div>
					            <div>
					                <img u=image src="{{ asset('img/presentation/3.jpg') }}" />
					            </div>
					            <div>
					                <img u=image src="{{ asset('img/presentation/4.jpg') }}" />
					            </div>
					            <div>
					                <img u=image src="{{ asset('img/presentation/5.jpg') }}" />
					            </div>
					            <div>
					                <img u=image src="{{ asset('img/presentation/6.jpg') }}" />
					            </div>
					            <div>
					                <img u=image src="{{ asset('img/presentation/7.jpg') }}" />
					            </div>
					            <div>
					                <img u=image src="{{ asset('img/presentation/8.jpg') }}" />
					            </div>
					            <div>
					                <img u=image src="{{ asset('img/presentation/9.jpg') }}" />
					            </div>
					            <div>
					                <img u=image src="{{ asset('img/presentation/10.jpg') }}" />
					            </div>
					        </div>
					    </div>

					    <script>
		            		var slider_width = $('#page_container_gen').innerWidth;
		            		var slider_height = window.innerHeight * 0.45;
							$('#slider1_container').css({'width':slider_width+'px !important', 'height':slider_height+'px'});
					    	$(window).resize(function() {
					    		var slider_width = $('#page_container_gen').innerWidth;
			            		var slider_height = window.innerHeight * 0.45;
								$('#slider1_container').css({'width':slider_width+'px !important', 'height':slider_height+'px'});
				            });
						</script>
					</div>

					<div class="presentation_texte row">

						<div class="row center title_div">
							<div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
			        		<div class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
								<h2>
									{{ 'main.titles.title_meat' | trans }}
									<br/>
									<span>
										{{ 'main.titles.title_meat_s' | trans }}
									</span>
								</h2>
			        		</div>
							<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs right" >
								<a href="#ourProducts" class="no_style_a">
						          	<button class="btn btn-login uppercase">
										{{ 'main.actions.buy' | trans }}
						          		<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
						          	</button>
						        </a>
							</div>
							<div class="hidden-lg hidden-md hidden-sm col-xs-12 center" >
								<a href="#ourProducts" class="no_style_a">
						          	<button class="btn btn-login uppercase">
										{{ 'main.actions.buy' | trans }}
						          		<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
						          	</button>
						        </a>
							</div>
						</div>

						<div class="row">

							<div class="hidden-lg hidden-md hidden-sm col-xs-12 sep_presentation"></div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
								<button class="no_style_button" type="button" data-toggle="modal" data-target="#qualityModal">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<img alt="Quality" src="{{ asset('img/system/icons/quality.png') }}" class="icon_presentation"/>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h3> {{ 'main.titles.qualityProduct' | trans }} </h3>
										<p>
											{{ 'main.content.qualityProduct' | trans }}

											<!-- Button trigger modal -->
											<a class="read-more no_style_a" >
												{{ 'main.actions.learnMore' | trans }}
											</a> >
										</p>
									</div>
								</button>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
						        <a href="#ourProducts" class="no_style_a">
						        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<img alt="Products" src="{{ asset('img/system/icons/products.png') }}" class="icon_presentation"/>
						        	</div>
						        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h3> {{ 'main.titles.ourProducts' | trans }} </h3>
										<p>
											{{ 'main.content.ourProducts' | trans }}

								          	<a class="read-more no_style_a">
												{{ 'main.actions.discover' | trans }}
								          	</a> >
										</p>
						        	</div>
						        </a>
							</div>
							<div class="hidden-lg hidden-md hidden-sm col-xs-12 sep_presentation"></div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
								<a href="#ourRecipes" class="no_style_a">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<img alt="Recipe" src="{{ asset('img/system/icons/recipe.png') }}" class="icon_presentation"/>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h3> {{ 'main.titles.recipes' | trans }} </h3>
										<p>
											{{ 'main.content.recipes' | trans }}

											<!-- Button trigger modal -->
											<a class="read-more no_style_a" >
												{{ 'main.actions.discover' | trans }}
											</a> >
										</p>
									</div>
								</a>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
								<button type="button" class="no_style_button row" data-toggle="modal" data-target="#reservationModal">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<img alt="Reservation" src="{{ asset('img/system/icons/reservation.png') }}" class="icon_presentation"/>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h3> {{ 'main.titles.reservation' | trans }} </h3>
										<p>
											{{ 'main.content.reservation' | trans }}

											<!-- Button trigger modal -->
											<a class="read-more no_style_a" >
												{{ 'main.actions.learnMore' | trans }}
											</a> >
										</p>
									</div>
								</button>
							</div>
						</div>
					</div>

				</div>

				<br/><br/><br/>
			</div>


			<div class="section section_padding row" id="ourProducts">
				<div class="presentation_texte row">
		        	<div class="row center">
		        		<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs" data-menuanchor="ourRecipes">
		        			<a href="#ourRecipes" class="btn btn-login" id="btn_section3">
								<img src="{{ asset('img/system/defaults/down_arrow.png') }}" alt="" class="btn_right_arrow"/>
								{{ 'ourProducts.titles.recipes' | trans }}
							</a>
		        		</div>
		        		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
							<h2>
								{{ 'ourProducts.titles.title_ourProducts' | trans }}
							</h2>
		        		</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
							<button class="btn btn-login" onClick="addToSessionCart(); addToSessionCartXS();">
								{{ 'header.titles.myCart' | trans }}
								<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
							</button>
						</div>
					</div>
					<br/>

					<div class="row90">
						
						<!-- Product content -->
						{% if allProducts|length > 0 %}
							<ul class="nav nav-tabs nav-justified row">
								{% set index_general = 1 %}
								{% for category in allCategories %}
									{% set productsArray = allSortedProducts[index_general] %}
									<li class="{% if index_general == 1 %} active {% endif %}">
										<a data-target="#tab_{{ index_general }}" data-toggle="tab">
											{{ category }} 
											<span class="hidden-xs">
												({{ productsArray|length }})
											</span>
											<br class="hidden-lg hidden-md hidden-sm col-xs-12" />
										</a>
									</li>
									{% set index_general = index_general + 1 %}
								{% endfor %}
							</ul>
							<br/>

							<!-- Varying numbers -->
							<script>
								var div_types = [];
								// var div_maxs = [];
								var div_counter_values = [];
								var div_weights_values = [];
								var div_finalWeight = [];
								var div_prices_values = [];
								var div_cart_values = [];
							</script>
							{% for product in allProducts %}
								<script>
									div_types[div_types.length] = "{{ product.type }}";
									// div_maxs[div_maxs.length] = eval('{{ product.quantity }}');
									div_counter_values[div_counter_values.length] = 0;
									div_weights_values[div_weights_values.length] = eval('{{ product.weight }}');
									div_finalWeight[div_finalWeight.length] = 0;
									div_prices_values[div_prices_values.length] = eval('{{ product.price }}');
									div_cart_values[div_cart_values.length] = 0;
								</script>
							{% endfor %}
							<script>
								function addOne(type_c, div_counter, div_weight, div_price) {
									var pos = 0;
									for (var i = 0; i < div_types.length; i++) {
										pos = i;
										if (div_types[i] == type_c) {
											break;
										}
									}
									var counter_j = div_counter_values[pos];
									var weight_j = div_weights_values[pos];
									var weight_final_j = div_finalWeight[pos];
									var price_j = div_prices_values[pos];
									var cart_to_add_j = div_cart_values[pos];
									// if (counter_j < div_maxs[pos]) {
										counter_j = counter_j + 1;
										div_counter_values[pos] = counter_j ;
										weight_final_j = counter_j * weight_j;
										div_finalWeight[pos] = weight_final_j ;
										cart_to_add_j = counter_j * price_j;
										div_cart_values[pos] = cart_to_add_j ;

										document.getElementById(div_counter).innerHTML = counter_j;
										document.getElementById(div_weight).innerHTML = weight_final_j;
										document.getElementById(div_price).innerHTML = cart_to_add_j;

									// }
									// else {
									// 	// Flash message
									// 	document.getElementById("sessionFlash").style.display = "block";
									// 	document.getElementById("sessionFlash").innerHTML = '\
									// 	<div class="alert alert-danger alert-dismissible fade in" role="alert">\
									//       <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>\
									//       <strong>Careful!</strong> You\'ve reached the maximum availability.\
									//     </div>';
									//     setTimeout(function() {
									//     	$('.alert').fadeOut('fast');
									//     	document.getElementById("sessionFlash").style.display = "none";
									//     },5000);
									// }

									return false;
								}
								function deleteOne(type_c, div_counter, div_weight, div_price) {
									var pos = 0;
									for (var i = 0; i < div_types.length; i++) {
										pos = i;
										if (div_types[i] == type_c) {
											break;
										}
									}
									var counter_j = div_counter_values[pos];
									var weight_j = div_weights_values[pos];
									var weight_final_j = div_finalWeight[pos];
									var price_j = div_prices_values[pos];
									var cart_to_add_j = div_cart_values[pos];
									if (counter_j > 0) {
										counter_j = counter_j - 1;
										div_counter_values[pos] = counter_j ;
									}
									else {
										counter_j = 0;
										div_counter_values[pos] = 0;
									}
									weight_final_j = counter_j * weight_j;
									div_finalWeight[pos] = weight_final_j ;
									cart_to_add_j = counter_j * price_j;
									div_cart_values[pos] = cart_to_add_j ;

									document.getElementById(div_counter).innerHTML = counter_j;
									document.getElementById(div_weight).innerHTML = weight_final_j;
									document.getElementById(div_price).innerHTML = cart_to_add_j;

									return false;
								}

								function add_to_cart(type_c, input_id, div_counter, div_weight, div_price) {
									document.getElementById(input_id).className = "btn-loading";
									
									var pos = 0;
									for (var i = 0; i < div_types.length; i++) {
										pos = i;
										if (div_types[i] == type_c) {
											break;
										}
									}

									if (div_counter_values[pos] > 0) {
							            // To read the cart:
							            var sessionCart = $.cookie("sessionCart");
							            // if (div_counter_values[pos] <= div_maxs[pos]) {
							            	if (sessionCart.length > 0) {
							            		var add_it = true;
							            		for (var i = 0; i < sessionCart.length; i++) {
							            			if (sessionCart[i].type == div_types[pos]) {
							            				sessionCart[i].qty ++;
							            				add_it = false;
							            				break;
							            			}
							            		}
							            		if (add_it == true) {
						            				sessionCart[sessionCart.length] = {type: div_types[pos], qty: div_counter_values[pos]};
							            		}
							            	}
							            	else {
							            		var sessionCart = [];
							            		sessionCart[0] = {type: div_types[pos], qty: div_counter_values[pos]};
							            	}
										//   }
										//   else {
										//   // Flash message
										// 	document.getElementById("sessionFlash").style.display = "block";
										// 	document.getElementById("sessionFlash").innerHTML = '\
										// 	<div class="alert alert-danger alert-dismissible fade in" role="alert">\
										//       <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>\
										//       <strong>Careful!</strong> There aren\'t as many objects of that type. Please select a smaller number. Thank you.\
										//     </div>';
										//     setTimeout(function() {
										//     	$('.alert').fadeOut('fast');
										//     	document.getElementById("sessionFlash").style.display = "none";
										//     },5000);
										// }

							            // To write the cart:
							            $.cookie("sessionCart", sessionCart);

							            // To put button again normal, and update number_notif
										document.getElementById(input_id).className = "btn-add-to-cart";
										updateNotifNumber();
										updateNotifNumberXS();

										// Remise à zéro des compteurs pour cet élément
										div_counter_values[pos] = 0;
										div_finalWeight[pos] = 0;
										div_cart_values[pos] = 0;
										document.getElementById(div_counter).innerHTML = div_counter_values[pos];
										document.getElementById(div_weight).innerHTML = div_finalWeight[pos];
										document.getElementById(div_price).innerHTML = div_cart_values[pos];

										// Flash message
										document.getElementById("sessionFlash").style.display = "block";
										document.getElementById("sessionFlash").innerHTML = '\
										<div class="alert alert-success alert-dismissible fade in center" role="alert">\
									      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>\
									      <strong>\
									      	{{ "alert.title.congratulations" | trans }}\
									      </strong>\
									      {{ "alert.content.congratulations" | trans }}\
									      <button class="no_style_button" onClick="addToSessionCart()">\
									      	<a><strong>\
									      		{{ "header.titles.myCart" | trans }}\
									      	</strong></a>\
									      </button>\
									    </div>';
									    setTimeout(function() {
									    	$('.alert').fadeOut('fast');
									    	document.getElementById("sessionFlash").style.display = "none";
									    },5000);
									    
									}
									else {
										document.getElementById(input_id).className = "btn-add-to-cart";
									}

									return false;
								}

								$('#recipe_content a').click(function (e) {
								  e.preventDefault();
								  $(this).tab('show');
								});

							</script>

							<div class="tab-content row" id="product_content">
								{% set index_general = 1 %}
								{% for category in allCategories %}
									{% set productsArray = allSortedProducts[index_general] %}
									<!-- BEGIN Tab pane {{ index_general }}  -->
									<div class="tab-pane fade 
										{% if index_general == 1 %} active in {% endif %}" id="tab_{{ index_general }}">
										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
												<ul class="ver-inline-menu tabbable list_no_style_li">
												{% set index_category = 1 %}
												{% for product in productsArray %}
													<li class="tab_select {% if index_category == 1 %} active {% endif %}">
														<a data-toggle="tab" data-target="#tab_{{ index_general }}-{{ index_category }}" class="btn btn-choice hidden-xs">
															{{ product.name }}
															<div class="float-right inner_arrow">
																<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
															</div>
														</a>
														<a data-toggle="tab" data-target="#tab_{{ index_general }}-{{ index_category }}" class="btn btn-choice-xs hidden-lg hidden-md hidden-sm">
															{{ product.name }}
														</a>
													</li>
													{% set index_category = index_category + 1 %}
												{% endfor %}
												</ul>
											</div>
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
												<div class="tab-content">
													{% set index_category = 1 %}
													{% set naturalProductDef = false %}
													{% for product in productsArray %}
														<div id="tab_{{ index_general }}-{{ index_category }}" class="tab-pane fade
															{% if index_category == 1 %} active in {% endif %}">
															<div class="row product_info_xs">
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
																	<div class="product_img_div">
																	{% if product.webPath|length > 0 %}
																		<div class="product_img" style="width: 100%; background-image: url('{{ asset(product.webPath) }}'); background-size: cover; background-position: 50%;">
																			<!-- onClick="showPhoto('{{ product.id }}')" -->
																			<script>
																				var cw = $('.product_img').width();
																				$('.product_img').css({'height':cw+'px'});
																				$(window).resize(function() {
																				    		var cw = $('.product_img').width();
																				    		$('.product_img').css({'height':cw+'px'});
																			            });
																			</script>
																		</div>
																	{% else %}
																		<img src="{{ asset('img/system/defaults/default_img.png') }}" alt="Default" class="product_img"/>
																			<script>
																				var cw = $('.product_img').width();
																				$('.product_img').css({'height':cw+'px'});
																				$(window).resize(function() {
																				    		var cw = $('.product_img').width();
																				    		$('.product_img').css({'height':cw+'px'});
																			            });
																			</script>
																	{% endif %}
																	</div>
																	<br class="hidden-xs"/>
																	<div class="center">
																		<strong>
																			{{ 'ourProducts.details.weight' | trans }}
																		</strong>
																		{{ product.weight }} g
																	</div>
																	<!-- <div class="center">
																		<div class="inline_div">
																			<strong>
																				Available:
																			</strong>
																		</div>
																		<div class="inline_div">
																			{{ product.quantity }}
																		</div>
																	</div> -->
																	<div class="center">
																		<strong>
																			{{ 'ourProducts.details.price' | trans }}
																		</strong>
																		S/. {{ product.price }} 
																		{% if product.unit > 0 %}
																			{{ 'ourProducts.details.for' | trans }}
																			{{ product.unit }}
																			{{ 'ourProducts.details.piece' | trans }}
																		{% endif %}
																	</div>
																</div>
																<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
																	<div class="row">
																		<h4>
																			{{ product.name }}. 
																			{% if product.naturalProduct == true %} 
																				* 
																				{% set naturalProductDef = true %}
																			{% endif %} 
																		</h4>
																		{{ product.description }} 
																	</div>
																	<br/>
																	<div class="row">
																		{% if naturalProductDef == true %}
																			<div class="row small_quote">
																				* {{ 'ourProducts.details.naturalProducts' | trans }}
																			</div>
																		{% endif %} 
																	</div>
																	<br/>
																	<div class="row center">
																		<button class="btn btn-login" onClick="goToTab('#tab_recipe_{{ category |replace({' ': '_'}) }}', 'recipe_nav_ul_{{ category |replace({' ': '_'}) }}', '#tab_recipe_{{ category |replace({' ': '_'}) }}-{{ product.type }}')">
																			{{ 'ourProducts.actions.seeRecipes' | trans }}
																			<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
																		</button>

																		<script>
																			function goToTab(tab_gen_id, nav_id, tab_id) {
																				$('#btn_section3').trigger('click', '', showTab(tab_gen_id, nav_id, tab_id));
																			}
																			function showTab(tab_gen_id, nav_id, tab_id) {
																				tab_gen_loc = '#recipe_nav_ul a[data-target="'+tab_gen_id+'"]';
																				$(tab_gen_loc).tab('show');
																				tab_loc = '#'+nav_id+' a[data-target="'+tab_id+'"]';
																				$(tab_loc).tab('show');
																			}
																		</script>
																	</div>
																</div>
															</div>
															<br/>
															<div class="row right">
																<div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 inline_div margin_right_10">
																	<div class="row hidden-xs">
																		<button onClick="addOne('{{ product.type }}', 'counter_value_{{ product.type }}', 'weight_value_{{ product.type }}', 'price_value_{{ product.type }}')" class="add_buttons add_button_plus no_style_button" type="button" value="+" title="Add one more"></button>

																		<button onClick="deleteOne('{{ product.type }}', 'counter_value_{{ product.type }}', 'weight_value_{{ product.type }}', 'price_value_{{ product.type }}')" class="add_buttons add_button_minus no_style_button" type="button" value="-" title="Delete one"></button>

																	</div>
																	<div class="row hidden-lg hidden-md hidden-sm">

																		<button onClick="addOne('{{ product.type }}', 'counter_value_{{ product.type }}', 'weight_value_{{ product.type }}', 'price_value_{{ product.type }}')" class="add_buttons_XS add_button_plus no_style_button" type="button" value="+" title="Add one more"></button>

																		<button onClick="deleteOne('{{ product.type }}', 'counter_value_{{ product.type }}', 'weight_value_{{ product.type }}', 'price_value_{{ product.type }}')" class="add_buttons_XS add_button_minus no_style_button" type="button" value="-" title="Delete one"></button>
																	</div>
																</div>
																<div class="inline_div col-lg-3 col-md-3 col-sm-3 col-xs-3">
																	<div class="inline_div counter_info_divs">
																		<div id="counter_value_{{ product.type }}">
																			0
																		</div>
																	</div>
																	<div class="inline_div counter_info_divs margin_right_10 hidden-xs">
																		{{ 'ourProducts.details.pieces' | trans }}
																	</div>
																</div>
																<div class="inline_div col-lg-2 col-md-2 col-sm-2 hidden-xs">
																	<div class="inline_div counter_info_divs">
																		<div id="weight_value_{{ product.type }}">
																			0
																		</div>
																	</div>
																	<div class="inline_div counter_info_divs margin_right_10 hidden-xs">
																		g,
																	</div>
																</div>
																<div class="inline_div col-lg-2 col-md-2 col-sm-2 hidden-xs counter_price_divs">
																	<div class="inline_div float-left">
																		S/.
																	</div>
																	<div class="inline_div margin_right_10 hidden-xs">
																		<div id="price_value_{{ product.type }}">
																			0
																		</div>
																	</div>
																</div>
																<div class="inline_div col-lg-2 col-md-2 col-sm-2 col-xs-3">
																	<button class="btn-add-to-cart" value="" title="Add to cart" id="btn-add-to-cart_{{ product.type }}" 
																	onClick="javascript:add_to_cart('{{ product.type }}', 'btn-add-to-cart_{{ product.type }}', 'counter_value_{{ product.type }}', 'weight_value_{{ product.type }}', 'price_value_{{ product.type }}')">
																	</button>
																</div>
															</div>

														</div>
														{% set index_category = index_category + 1 %}
													{% endfor %}
												</div>
											</div>	
										</div>
									</div>
									<!-- END Tab pane {{ index_general }}  -->

									{% set index_general = index_general + 1 %}
								{% endfor %}
							</div>

						<!-- Otherwise .... -->
						{% else %}
							<p class="center">
								{{ 'ourProducts.warning.message' | trans }}
							</p>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="section section_padding row" id="ourRecipes">
				<div class="presentation_texte">
					<div class="row center">
		        		<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs" data-menuanchor="ourProducts">
		        			<a href="#ourProducts" class="btn btn-login">
								<img src="{{ asset('img/system/defaults/up_arrow.png') }}" alt="" class="btn_right_arrow"/>
								{{ 'ourRecipes.titles.products' | trans }}
							</a>
		        		</div>
		        		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
							<h2>
								{{ 'ourRecipes.titles.title_ourRecipes' | trans }}
								<br/>
								<span>
									{{ 'ourRecipes.titles.title_ourRecipes_s' | trans }}
								</span>
							</h2>
		        		</div>
						<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						</div>
					</div>
					<br/>

					<div class="row90">
						
						<!-- Recipes content -->
						{% if allRecipes|length > 0 %}
							<ul class="nav nav-tabs nav-justified" id="recipe_nav_ul">
								{% set index_general = 1 %}
								{% for category in allCategories %}
									{% set recipesArray = allSortedRecipes[index_general] %}
									<li class="{% if index_general == 1 %} active {% endif %}">
										<a data-target="#tab_recipe_{{ category |replace({' ': '_'}) }}">
											{{ category }} <span class="hidden-xs">({{ recipesArray|length }})</span>
											<br class="hidden-lg hidden-md hidden-sm col-xs-12" />
										</a>
									</li>
									{% set index_general = index_general + 1 %}
								{% endfor %}

								<script>
									$('#recipe_nav_ul a').click(function (e) {
										e.preventDefault();
										$(this).tab('show');
									});
								</script>
							</ul>
							<br/>

							<div class="tab-content row" id="recipe_content">
								{% set index_general = 1 %}
								{% for category in allCategories %}
									{% set productsArray = allSortedProducts[index_general] %}
									{% set recipesArray = allSortedRecipes[index_general] %}
									<!-- BEGIN Tab pane {{ index_general }}  -->
									<div class="tab-pane fade 
										{% if index_general == 1 %} active in {% endif %}" id="tab_recipe_{{ category |replace({' ': '_'}) }}">
										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
												<ul class="ver-inline-menu tabbable list_no_style_li" id="recipe_nav_ul_{{ category |replace({' ': '_'}) }}">
												{% set index_category = 1 %}
												{% for product in productsArray %}
													<li class="tab_select {% if index_category == 1 %} active {% endif %}">
														<a data-toggle="tab" data-target="#tab_recipe_{{ category |replace({' ': '_'}) }}-{{ product.type }}" class="btn btn-choice hidden-xs">
															{{ product.name }}
															<div class="float-right inner_arrow">
																<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
															</div>
														</a>
														<a data-toggle="tab" data-target="#tab_recipe_{{ category |replace({' ': '_'}) }}-{{ product.type }}" class="btn btn-choice-xs hidden-lg hidden-md hidden-sm">
															{{ product.name }}
														</a>
													</li>
													{% set index_category = index_category + 1 %}
												{% endfor %}
												<script>
													$('#recipe_nav_ul_{{ category |replace({' ': '_'}) }} a').click(function (e) {
														e.preventDefault();
														$(this).tab('show');
													});
												</script>
												</ul>
											</div>
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
												<div class="tab-content">
													{% set index_category = 1 %}
													{% for product in productsArray %}
														<div id="tab_recipe_{{ category |replace({' ': '_'}) }}-{{ product.type }}" class="tab-pane fade
															{% if index_category == 1 %} active in {% endif %}">
															<div class="row product_info_xs">
																<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
																	<h4>
																		{{ product.name }}. 
																	</h4>
																</div>
																<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sep_presentation"></div>
																{% set empty_list = 'YES' %}
																{% for recipe in recipesArray %}
																	{% if recipe.element == product %}
																		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
																			<h5>
																				{{ recipe.title }}
																			</h5>
																			<br/>
																			{{ recipe.description | truncate(120, false, '...') }}

																			<br/>
																			{% set image_url_recipe = asset('img/system/defaults/default_recipe.jpg') %}
																			{% if recipe.webPath|length > 0 %}
																				{% set image_url_recipe = asset(recipe.webPath) %}
																			{% endif %}
																			<div class="center">
																				<button class="btn btn-login" 
																					onClick="showFullRecipe('{{ recipe.title }}', '{{ recipe.description }}', '{{ recipe.duration }}', '{{ recipe.forHowMany }}', '{{ recipe.cooking }}', '{{ recipe.origin }}', '{{ image_url_recipe }}', '{{ recipe.ingredients|json_encode() }}', '{{ recipe.preparation|json_encode() }}', '{{ recipe.updatedAt|date('H:i d/M/Y') }}')">
																					Découvrir la recette
																					<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
																				</button>			
																			</div>

																			<script>
																				function showFullRecipe(title, description, duration, forHowMany, cooking, origin, photo_webPath, ingredients, preparation, updatedAt) {
																					document.getElementById('recipeModalTitle').innerHTML = title;
																					document.getElementById('recipeModalContent_ForHowMany').innerHTML = forHowMany;
																					document.getElementById('recipeModalContent_Duration').innerHTML = duration;
																					document.getElementById('recipeModalContent_Cooking').innerHTML = cooking;
																					document.getElementById('recipeModalContent_Origin').innerHTML = origin;
																					document.getElementById('recipeModalContent_UpdatedAt').innerHTML = updatedAt;
																					document.getElementById('recipeModalContent_PhotoRecipe').style.backgroundImage = 'url('+photo_webPath+')';
																					var ingredients_j = JSON.parse(ingredients);	
																					var ingredients_str = '<ul class="margin0">';
																					for (var i = 0; i < ingredients_j.length; i++) {
																						if (typeof ingredients_j[i] == 'string') {
																							ingredients_str = ingredients_str+'<li>'+ingredients_j[i]+'</li>';
																						}
																						else {
																							var ingredients_sub = ingredients_j[i];
																							ingredients_str = ingredients_str+'<li><strong>'+ingredients_sub['title']+'</strong></li>';
																							ingredients_str = ingredients_str+'<ul class="margin0">';
																							for (var k = 0; k < Object.keys(ingredients_sub).length; k++) {
																								ingredients_str = ingredients_str+'<li>'+ingredients_sub[k]+'</li>';
																							};
																							ingredients_str = ingredients_str+'</ul><br/>';
																						}
																					};
																					ingredients_str = ingredients_str+'</ul>';
																					document.getElementById('recipeModalContent_Ingredients').innerHTML = ingredients_str;

																					var preparation_j = JSON.parse(ingredients);	
																					var preparation_str = '<ul class="margin0">';
																					for (var i = 0; i < preparation_j.length; i++) {
																						if (typeof preparation_j[i] == 'string') {
																							preparation_str = preparation_str+'<li>'+preparation_j[i]+'</li>';
																						}
																						else {
																							var preparation_sub = preparation_j[i];
																							preparation_str = preparation_str+'<li><strong>'+preparation_sub['title']+'</strong></li>';
																							preparation_str = preparation_str+'<ul class="margin0">';
																							for (var k = 0; k < Object.keys(preparation_sub).length; k++) {
																								preparation_str = preparation_str+'<li>'+preparation_sub[k]+'</li>';
																							};
																							preparation_str = preparation_str+'</ul><br/>';
																						}
																					};
																					preparation_str = preparation_str+'</ul>';
																					document.getElementById('recipeModalContent_Preparation').innerHTML = preparation_str;

																					$('#recipeModal').modal('toggle');

																				}
																			</script>
																		</div>
																		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
																			<div class="recipe_img_div">
																			{% if recipe.webPath|length > 0 %}
																				<div class="recipe_img" style="width: 100%; background-image: url('{{ asset(recipe.webPath) }}'); background-size: cover; background-position: 50%;">
																					<!-- onClick="showPhoto('{{ recipe.id }}')" -->
																					<script>
																						var cw = $('.recipe_img').width() * 0.7;
																						$('.recipe_img').css({'height':cw+'px'});
																						$(window).resize(function() {
																				    		var cw = $('.recipe_img').width() * 0.7;
																				    		$('.recipe_img').css({'height':cw+'px'});
																			            });
																					</script>
																				</div>
																			{% else %}
																				<img src="{{ asset('img/system/defaults/default_recipe.jpg') }}" alt="Default" class="recipe_img"/>
																					<script>
																						var cw = $('.recipe_img').width() * 0.7;
																						$('.recipe_img').css({'height':cw+'px'});
																						$(window).resize(function() {
																				    		var cw = $('.recipe_img').width() * 0.7;
																				    		$('.recipe_img').css({'height':cw+'px'});
																			            });
																					</script>
																			{% endif %}
																			</div>
																		</div>
																		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sep_presentation"></div>

																		{% set empty_list = 'NO' %}
																	{% endif %}
																{% endfor %}

																{% if empty_list == 'YES' %}
																<div class="row center italic">
																	<br/>
																	Aucune recette pour l'instant
																</div>
																{% endif %}
															</div>

														</div>
														{% set index_category = index_category + 1 %}
													{% endfor %}
												</div>
											</div>	
										</div>
									</div>
									<!-- END Tab pane {{ index_general }}  -->

									{% set index_general = index_general + 1 %}
								{% endfor %}
							</div>

						<!-- Otherwise .... -->
						{% else %}
							<p class="center">
								{{ 'ourRecipes.warning.message' | trans }}
							</p>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="section section_padding row" id="aboutUs">
				<div class="presentation_texte">
					<div class="row center">
		        		<div class="col-lg-2 col-md-2 hidden-xs"></div>
		        		<div class="col-lg-8 col-md-8 col-xs-12">
							<h2>
								{{ 'aboutUs.titles.title_aboutUs' | trans }}
								<br/>
								<span>
									{{ 'aboutUs.titles.title_aboutUs_s' | trans }}
								</span>
							</h2>
		        		</div>
						<div class="col-lg-2 col-md-2 col-xs-12">
							<a href="#footerSection" class="btn btn-login" id="btn_section4">
								{{ 'aboutUs.titles.contact' | trans }}
								<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
							</a>
						</div>
					</div>
					<br/>
					<div class="row bio">
						<div class="row90 hidden-xs">
							<div class="col-lg-4 col-md-4 col-sm-4 sep_dotted_right">
								<img src="{{ asset('img/creators/aude.jpg') }}" alt="Aude" class="creator_img"/>
								<h4>Aude de Penfentenyo </h4>
								Originaire du sud-ouest de la France, région du foie gras. Le raffinement culinaire français n’a pas de secret pour elle. Grâce à son sens de l’accueil, vous voyagerez quelques instants à travers la France. Soif de découvertes et de rencontres, elle décide avec sa famille de tout lâcher pour réaliser leurs rêves à Cusco.
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 sep_dotted_right">
								<img src="{{ asset('img/creators/antoine.jpg') }}" alt="Antoine" class="creator_img"/>
								<h4>Antoine de Penfentenyo </h4>
								Français, originaire de Bretagne, une des premières régions productrices de porcs au monde. Il s’est fait la main dès l’enfance à la découpe et à la transformation de la viande. Soif de faire partager la culture culinaire française à son pays d’adoption, il décide avec sa famille de tout lâcher pour réaliser leurs rêves à Cusco.
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<img src="{{ asset('img/creators/pierre-arnaud.jpg') }}" alt="Pierre-Arnaud" class="creator_img"/>
								<h4>Pierre-Arnaud Destremau</h4>
								Ingénieur français,  il rejoint l’équipe en janvier 2015 pour mettre à profit ses compétences dans la communication. Passionné de voyages et de rencontres, il décide de casser sa routine pour découvrir le Pérou. Voyagez dans notre univers culinaire grâce à ses talents.
							</div>
						</div>

						<div class="row bio hidden-lg hidden-md hidden-sm ">
							<div class="col-xs-12 creator_padding sep_dotted_bottom">
								<div class="col-xs-5">
									<img src="{{ asset('img/creators/aude.jpg') }}" alt="Aude" class="creator_img_xs"/>
								</div>
								<div class="col-xs-7">
									<h4>Aude de Penfentenyo </h4>
									Originaire du sud-ouest de la France, région du foie gras. Le raffinement culinaire français n’a pas de secret pour elle. Grâce à son sens de l’accueil, vous voyagerez quelques instants à travers la France. Soif de découvertes et de rencontres, elle décide avec sa famille de tout lâcher pour réaliser leurs rêves à Cusco.
								</div>
							</div>
							<div class="col-xs-12 creator_padding sep_dotted_bottom">
								<div class="col-xs-5">
									<img src="{{ asset('img/creators/antoine.jpg') }}" alt="Antoine" class="creator_img_xs"/>
								</div>
								<div class="col-xs-7">
									<h4>Antoine de Penfentenyo </h4>
									Français, originaire de Bretagne, une des premières régions productrices de porcs au monde. Il s’est fait la main dès l’enfance à la découpe et à la transformation de la viande. Soif de faire partager la culture culinaire française à son pays d’adoption, il décide avec sa famille de tout lâcher pour réaliser leurs rêves à Cusco.
								</div>
							</div>
							<div class="col-xs-12 creator_padding">
								<div class="col-xs-5">
									<img src="{{ asset('img/creators/pierre-arnaud.jpg') }}" alt="Pierre-Arnaud" class="creator_img_xs"/>
								</div>
								<div class="col-xs-7">
									<h4>Pierre-Arnaud Destremau</h4>
									Ingénieur français,  il rejoint l’équipe en janvier 2015 pour mettre à profit ses compétences dans la communication. Passionné de voyages et de rencontres, il décide de casser sa routine pour découvrir le Pérou. Voyagez dans notre univers culinaire grâce à ses talents.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- BEGIN FOOTER -->
              {% include 'includes/footer.html.twig' %}
            <!-- END FOOTER -->
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Main_body %}