{# src/LBF/MainBundle/Resources/Main/order.html.twig #}

{% extends "LBFMainBundle::main_general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block LBF_Main_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_padding" id="orderSection">
				<br/><br/>

	            <div id="breadcrumb" class="center row">
			        <div class="row">
		              	<h2>
		                  	{{ 'header.titles.myCart' | trans }}
		              	</h2>
		            </div>
		            <div class="row">
	                  	<div class="inline_div">
	                  		<a href="javascript:loadContentCart('{{ path('lbf_main_cart') }}')" class="no_style_a">
			                  	1. {{ 'cart.titles.content' | trans }}
	                  		</a>
	                  	</div>
	                  	<div class="inline_div breadcrumb_active">
	                    	2. {{ 'cart.titles.order' | trans }}
	                  	</div>
	                  	<div class="inline_div">
	                    	3. {{ 'cart.titles.confirm' | trans }}
	                  	</div>
		            </div>
              		<hr/>
              	</div>


				<div id="sectionContentAjax">

					<div id="sessionFlash" class="sessionFlash">
					</div>

			        <div class="row left cart_content">
			        	{{ 'cart.orderContent.dear' | trans }} {% if app.user.firstName|length > 0 %}{{ app.user.firstName }}{% else %}{{ app.user.email }}{% endif %}, <br/>
		        		{% set cart = app.session.get('cart') %}
	                	{% if cart|length > 0 %}
	                		<div class="row">
					        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-7">
					        		{{ 'cart.orderContent.finalize' | trans }}
					        		<ul>
					        			{% set total_price_general = 0 %}
					        			{% for item_array in cart %}
			                            	{% set item = item_array['item'] %}
			                            	{% set qty = item_array['qty'] %}
			                            	<li>
			                            		{{ qty }} {{ item.name }},
			                            	</li>
					                    	{% set total_price_general = total_price_general + qty * item.price  %}
					        			{% endfor %}
					        		</ul>
					        	</div>
					        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-5 right">
					        		<div class="border_white hidden-xs">
						        		{{ 'cart.orderContent.ofaTotal' | trans }} <strong>S/. {{ total_price_general }}</strong>
					        		</div>
					        		<div class="border_white_xs hidden-lg hidden-md hidden-sm">
						        		{{ 'cart.orderContent.ofaTotal' | trans }} <strong>S/. {{ total_price_general }}</strong>
					        		</div>
					        	</div>
	                		</div>
	                		<br/>
		                    <div class="row">
		                    	{{ 'cart.orderContent.requisites' | trans }} 
				        		<ol>
				        			<li>
				        				{{ 'cart.orderContent.conditions1' | trans }}
				        			</li>
				        			<li>
				        				{{ 'cart.orderContent.conditions2' | trans }}
				        				<br/>
				        				<br class="hidden-xs"/>
				        				<div class="address_box">
				        					<span style="font-size:1.2em; font-weight: 500;">
					        					<strong>Le Buffet Francés</strong> 
				        					</span>
				        					<br/>
				        					<span style="font-size:0.9em; font-weight: 200;">
						        				Avenida Las Sauces <br/>
						        				Larapa, San Sebastian, Cusco <br/>
								                <strong>
								                  Perú
								                </strong>
				        					</span>
				        				</div>
				        			</li>
				        		</ol>
		                    </div>
			        		<br class="hidden-xs"/>
			        		<div class="row">
				        		<form method="post" {{ form_enctype(formNewOrder) }}>
				        		{% if form_errors(formNewOrder) %}
				                    <div class="error_message">
				                      <span class="warning_word">
				                        {{ 'user.warning.warning'|trans }}
				                      </span>
				                      <span class="warning_message">
				                        {{ form_errors(formNewOrder) }}
				                      </span>
				                    </div>
				                    <br/>
				                  {% endif %}
								<div class="choose_date_order">
									<div class="left">
										{{ 'cart.orderContent.shopOpen' | trans }}
										{{ 'cart.orderContent.minimumOpen' | trans }}
									</div>
									<div class="form-group center">
								        {% if form_errors(formNewOrder.deliveryAt) %}
						                    <div class="error_message">
						                      	<span class="warning_word">
						                        	{{ 'user.warning.warning'|trans }}
						                      	</span>
						                      	<span class="warning_message">
						                        	{{ form_errors(formNewOrder.deliveryAt) }}
						                      	</span>
						                    </div>
						                    <br/>
						                {% endif %}
										<div class="input-icon">
								        	<i class="fa fa-user"></i>
								        	{% set opt_deliveryAt = {'attr': {'class': 'form-control placeholder-no-fix',
								        		'type':'datetime', 'id':'deliveryAt', 'name':'_deliveryAt'}} %}
								        		<div class="inline_div">
										        	{{ form_widget(formNewOrder.deliveryAt.time, opt_deliveryAt) }}
								        		</div>
								        		<div class="inline_div">
										        	{{ form_widget(formNewOrder.deliveryAt.date, opt_deliveryAt) }}
								        		</div>
								        </div>
									</div>
									
									<!-- Et pour le reste du formulaire ... ;) -->
									{{ form_widget(formNewOrder) }}

									<div class="row80">
					                	<a href="javascript:loadContentCart('{{ path('lbf_main_cart') }}')" class="no_style_a btn btn-login float-left">
					                		<img src="{{ asset('img/system/defaults/left_arrow.png') }}" alt="" class="btn_right_arrow"/>
					                		{{ 'cart.actions.previous' | trans }}
								        </a>
								        <button type="submit" class="btn btn-login float-right" id="submit_button_order">
								            {{ 'ourProducts.actions.order' | trans }}
								            <img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt="" class="btn_right_arrow"/>
								        </button>
					                </div>
								</div>
							</form>
			        		</div>
	                	{% else %}
	                	{% endif %}

	                	<br/><br/><br/><br/>
		        	</div>
	            </div>
			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Main_body %}