{# src/LBF/UserBundle/Resources/views/User/emailConfirmation.html.twig #}

{% block body_html %}
{#
    You can of course render the html directly here.
    Including a template as done here allows keeping things DRY by using
    the template inheritance in it
#}

<!-- <img src="{# asset('img/system/banniere.jpg') #}" style="width:90%; margin-left:5%;"/> -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

	<head>

		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>
			Le Buffet Francés - New order on hold
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body >
		<table border="0" cellpadding="0" cellspacing="0" width="100%" >
			<tr >
				<td style="padding:0 0 20px 0; " bgcolor="#D4D5D1" >
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; " >
						<tr >
							<td align="center" style="padding:10px 0 10px 0; color:#4D5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:300; font-size:12px; " >
								<div style="width:100%; " id="pre-header-text" >
									This is a letter from Le Buffet Francés.
								</div>
							</td>
						</tr>
						<tr>
							<td bgcolor="#4D5259" width="600" valign="top" style="border-bottom-width: 5px; border-bottom-style: solid; border-bottom-color: #4D5259;">
								<a href="#" target="_blank">
									<img src="#" alt="Buy SketchUp Pro" border="0" width="600" height="95" style="display:block;">
								</a>
							</td>
						</tr>
						<tr >
							<td bgcolor="#FFFFFF" style="padding:20px 15px 40px 15px; " >
								<table border="0" cellpadding="0" cellspacing="0" width="100%" >
									<tr >
										<td width="270" valign="top" >
											<div style="width:100%; " id="image_one_half" >
												<a href="#" target="_blank">
													<img style="display: block;" src="#" border="0" alt="Simplified vs Detailed Film Light" width="270" height="180">
												</a>
											</div>
										</td>
										<td style="font-size: 0; line-height: 0;" width="30">&nbsp;</td>
										<td width="270" valign="top" >
											<table border="0" cellpadding="0" cellspacing="0" width="100%" >
												<tr >
													<td style="color:#4D5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:800; font-size:22px; " >
														<div style="width:100%; " id="title_one_half" >
															<a style="text-decoration: none; color: #4d5259;" href="#" target="_blank">
																THANK YOU FOR YOUR ORDER
															</a>
														</div>
													</td>
												</tr>
												<!-- <tr >
													<td style="padding:5PX 0 5px 0; color:#4D5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:300italic; font-size:14px; " >
														<div style="width:100%; " id="byline_text_feature" >
															<span style="color: #bcbcbc;">
																By Ryan Ghere
															</span>
														</div>
													</td>
												</tr> -->
												<tr >
													<td style="color:#4D5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:300; font-size:14px; " >
														<div style="width:100%; " id="body_text_one_half" >
															<span id="docs-internal-guid-eaccee5d-31a6-a46d-22e5-613384bf833a">
																<span>
																	This is a confirmation email regarding your recent order on <strong><a href="www.lebuffetfrances.com">Le Buffet Francés</a></strong>. Your order is saved, and is on hold to be validated by a Manager for your order to be processed. You should receive an email once your order is ready.
																</span>
															</span>
														</div>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr >
							<td style="padding:0 15px 0 15px; " bgcolor="#FFFFFF" >
								<table style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#4D5259; " border="0" cellpadding="0" cellspacing="0" width="100%" >
									<tr >
										<td style="color:#4D5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:800; font-size:14px; " >
											<div style="width:100%; " id="header_text_01" >
												ORDER CONTENT
											</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr >
							<td bgcolor="#FFFFFF" style="padding:20px 15px 40px 15px; " >
								<table border="0" cellpadding="0" cellspacing="0" width="100%" >
									<tr >
										<td >
											<table border="0" cellpadding="0" cellspacing="0" width="100%" >
												<tr >
													<table border="0" cellpadding="0" cellspacing="0" width="100%" >
														<tr >
															<td style="padding:0 0 5px 0; color:#4D5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:700; font-size:14px; " >
																<div style="width:100%; " id="title_three_fourth_01" >
																	<a style="text-decoration: none; color: #4d5259;" href="#" target="_blank">
																		VETERANS MEMORIAL TUNNELS
																	</a>
																</div>
															</td>
														</tr>
														<tr >
															<td style="color:#4D5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:300; font-size:14px; " >
																{% if newOrder.elements|length > 0 %}
																	<div style="width:100%; text-align:justify;">
																		Thank you again for ordering the following elements : <br/><br/>
																        <div class="table-responsive">
																          <table class="table">
																            <thead>
																              <tr>
																                <th>
																                  Item
																                </th>
																                <th class="center">
																                  Quantity
																                </th>
																                <th class="center">
																                  Weight
																                </th>
																                <th class="center">
																                  Price
																                </th>
																              </tr>
																            </thead>
																            <tbody>
																              {% set total_weight_general = 0 %}
																              {% set total_price_general = 0 %}
																              {% for item_array in newOrder.elements %}
																                {% set item = item_array['item'] %}
																                {% set qty = item_array['qty'] %}
																                <tr>
																                  <th>
																                    {{ item.name }}
																                  </th>
																                  <td class="center">
																                  	<div id="counter_value_{{ item.type }}">
																                        {{ qty }}
																                      </div>
																                  </td>
																                  <td class="center">
																                  	<div id="weight_value_{{ item.type }}" style="opacity1">
																                        {% set total_weight = qty * item.weight %}
																                        {% set total_weight_general = total_weight_general + total_weight %}
																                        {% if total_weight > 999 %}
																                          {{ (total_weight / 1000) | number_format(1, '.', ',') }} kg
																                        {% else %}
																                          {{ total_weight }} g
																                        {% endif %}
																                  	</div>
																                  </td>
																                  <td class="center">
																                  	<div id="price_value_{{ item.type }}" style="opacity1">
																                        {% set total_price = qty * item.price %}
																                        {% set total_price_general = total_price_general + total_price %}
																                        S/. {{ total_price }}
																                	</div>
																                  </td>
																                </tr>
																              {% endfor %}
																            </tbody>
																          </table>
																        </div>
																        <div class="row">
																          <div class="col-md-4 col-xs-4"></div>
																          <div class="col-md-4 col-xs-4 modal_price">
																            <div class="row">
																              <div class="inline_div left col-md-4 col-xs-4">
																                TOTAL:
																              </div>
																              <div class="inline_div center col-md-4 col-xs-4">
																                {% if total_weight_general > 999 %}
																                  {{ (total_weight_general / 1000) | number_format(1, '.', ',') }} kg
																                {% else %}
																                  {{ total_weight_general }} g
																                {% endif %}
																              </div>
																              <div class="inline_div right col-md-4 col-xs-4">
																                S/. {{ total_price_general }} 
																              </div>
																            </div>
																          </div>
																          <div class="col-md-4 col-xs-4"></div>
																        </div>


																        <br/><br/>

																        You should a receive an email shortly once the Managers have confirmed your order.

																        <br/><br/>

																        Please note that you asked the order to be ready for: <strong> {{ newOrder.deliveryAt|date("H:i d M Y") }} </strong>
																    </div>
															    {% else %}
															        <div style="width:100%; text-align:justify;">
															          Sorry, nothing here for now ... <br/>
															          Please <a href="mailto:contact@lebuffetfrances.com">contact the administration</a>.
															        </div>
															    {% endif %}
															</td>
														</tr>
													</table>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
							<td>
								<div style="width: 100%; text-align:center;">
									<a href="#" style="
										font-size:12px;
										text-decoration:none;
										background-color: rgba(120,30,20,0.99);
										border-radius: 0;
										color: white;">
										Access my profile
									</a>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<table border="0" cellspacing="0" cellpadding="0" width="600">
									<tbody>
										<tr>
											<td>
												<table class="full-width" style="background-color: #4D5259; border-top: 2px solid rgba(120,30,20,0.99);" border="0" cellspacing="0" cellpadding="0" width="100%">
													<tbody>
														<tr>
															<td style="padding-top: 20px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; font-size: 14px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 400; color: #ffffff;" align="left">
																<strong><a href="www.lebuffetfrances.com">Le Buffet Francés</a></strong> is new shop in Cusco, selling Embutidos made with local meat but French technique.
															</td>
														</tr>
														<tr>
															<td style="padding-top: 20px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; font-size: 10px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; color: #ffffff;" align="left">
																Keep in touch:
															</td>
														</tr>
														<tr>
															<td style="padding-left: 20px; padding-top: 5px; padding-bottom: 15px;" align="left">
																<table border="0" cellspacing="0" cellpadding="0" width="180">
																	<tbody>
																		<tr>
																			<td>
																				<a href="#" target="_blank">
																					<img style="border: none; display: block;" src="http://get.sketchup.com/rs/sketchup/images/blogger-01.jpg" border="0" alt="Blogger" width="40" height="40">
																				</a>
																			</td>
																			<td>
																				<a href="#" target="_blank">
																					<img style="border: none; display: block;" src="http://get.sketchup.com/rs/sketchup/images/facebook-01.jpg" border="0" alt="Facebook" width="40" height="40">
																				</a>
																			</td>
																			<td>
																				<a href="#" target="_blank">
																					<img style="border: none; display: block;" src="http://get.sketchup.com/rs/sketchup/images/google%2B-01.jpg" border="0" alt="Google+" width="40" height="40">
																				</a>
																			</td>
																			<td>
																				<a href="#" target="_blank">
																					<img style="border: none; display: block;" src="http://get.sketchup.com/rs/sketchup/images/twitter-01.jpg" border="0" alt="Twitter" width="40" height="40">
																				</a>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td style="padding-top: 10px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; font-size: 10px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; color: #ffffff;" align="left">
																If someone sent you this newsletter and you'd like to join our mailing list, you can sign up 
																<a style="text-decoration: none; color: rgba(120,30,20,0.99);" href="#" target="_blank">
																	here
																</a>
																.
															</td>
														</tr>
														<tr>
															<td style="padding-top: 15px; padding-right: 0px; padding-bottom: 15px; padding-left: 20px; font-size: 10px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; color: #ffffff;" align="left">
																You&rsquo;re receiving this email as a result of downloading SketchUp Make or SketchUp Pro and opting-in to receive the SketchUpdate Newsletter. If you would like to unsubscribe from all emails from us, please 
																<a style="text-decoration: none; color: rgba(120,30,20,0.99);" href="#" target="_blank">
																	click here
																</a>
																.
															</td>
														</tr>
														<tr>
															<td style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; font-size: 10px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; color: #ffffff;" align="left">
																<strong><a href="www.lebuffetfrances.com">Le Buffet Francés</a></strong>
															</td>

														</tr>
														<tr>
															<td style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; font-size: 10px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; color: #ffffff;" align="left">
																C-19, Calle de las Orquideas
															</td>
														</tr>
														<tr>
															<td style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; font-size: 10px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; color: #ffffff;" align="left">
																08056 Cusco - Perú
															</td>
														</tr>
														<tr>
															<td style="padding-top: 0px; padding-right: 0px; padding-bottom: 20px; padding-left: 20px;" align="left">
																<a style="font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; font-size: 10px; color: rgba(120,30,20,0.99); text-decoration: none;" href="#" target="_blank">
																	www.lebuffetfrances.com
																</a>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		
		<script type="text/javascript" src="/js/public/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="/js/forwardemail.js"></script>
		<link rel="stylesheet" href="/css/forwardemail.css" type="text/css" />
	</body>
</html>

{% endblock %}


{# block subject %}
{% autoescape false %}
[LBF Administration] Message : 
{% endautoescape %}
{% endblock %}

{% block body_text %}
{% autoescape false %}

Hello !

De la part de l'administration:


Cordialement,
La Team de la Grande Boucle Etudiante

{% endautoescape %}
{% endblock #}
