{# src/LBF/UserBundle/Resources/views/User/emailConfirmation.html.twig #}

{# block subject %}
{% autoescape false %}
{{ "emailSummary.titles.general" | trans }}.
{% endautoescape %}
{% endblock #}


{% block body_html %}
{#
    You can of course render the html directly here.
    Including a template as done here allows keeping things DRY by using
    the template inheritance in it
#}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

  <head>

    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
      Le Buffet Francés - {{ 'emailSummary.titles.general' | trans }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body >
    <table border="0" cellpadding="0" cellspacing="0" width="100%" >
      <tr >
        <td style="padding:0 0 20px 0; " bgcolor="#D4D5D1" >
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; " >
            <tr >
              <td align="center" style="padding:10px 0 10px 0; color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:300; font-size:12px; " >
                <div style="width:100%; " class="" id="pre-header-text" >
                  {{ 'emailSummary.notes.topSentence' | trans }} <strong> Le Buffet Francés.</strong>
                </div>
              </td>
            </tr>
            <tr>
              <td bgcolor="rgba(100,100,100,0.8)" width="600" valign="top" style="border-bottom-width: 5px; border-bottom-style: solid; border-bottom-color: #4d5259;">
                <a href="http://www.lebuffetfrances.com" target="_blank">
                  <img src="http://www.lebuffetfrances.com/img/system/email/email_header.png" alt="Banière Le Buffet Francés" border="0" width="600" height="95" style="display:block; color: white; text-align:center;"/>
                </a>
              </td>
            </tr>
            <tr >
              <td bgcolor="#FFFFFF" style="padding:20px 15px 20px 15px; " >
                <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                  <tr >
                    <td width="100%" valign="top" >
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                        <tr >
                          <td style="color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:800; font-size:16px; " >
                            <div style="width:100%; " class="" id="title_one_half" >
                              {{ 'emailSummary.titles.thankYouForYourOrder' | trans }}
                            </div>
                          </td>
                        </tr>
                        <tr >
                          <td style="color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:300; font-size:12px; " >
                            <div style="width:100%; text-align:justify;">
                              {{ 'emailSummary.content.summaryEmailRegarding' | trans }} <strong><a href="http://www.lebuffetfrances.com" target="_blank" style="color: #4d5259; text-decoration:none;">Le Buffet Francés</a></strong>. 
                              <br/>
                              {{ 'emailSummary.content.orderIs' | trans }} <strong> {{ 'emailSummary.content.onHold' | trans }} </strong>
                              {{ 'emailSummary.content.shouldReceive' | trans }}
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr >
              <td style="padding:0 15px 0 15px; " bgcolor="#FFFFFF" >
                <table style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:rgba(100,100,100,0.5); " border="0" cellpadding="0" cellspacing="0" width="100%" >
                  <tr >
                    <td style="color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:800; font-size:14px; " >
                      <div style="width:100%; " class="" id="header_text_01" >
                        {{ 'emailSummary.titles.orderContent' | trans }}
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr >
              <td bgcolor="#FFFFFF" style="padding:20px 15px 20px 15px; " >
                <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                  <tr >
                    <td >
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                        <tr >
                          <td width="100%" valign="top" >
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                              <tr >
                                <td style="padding:0 0 5px 0; color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:700; font-size:14px; " >
                                  <div style="width:100%; ">
                                    {{ 'emailSummary.content.thankYouAgain' | trans }}
                                  </div>
                                </td>
                              </tr>
                              <tr >
                                <td style="color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:300;" >
                                  {% if newOrder.elements|length > 0 %}
                                    <div style="width:100%; text-align:justify;">
                                      <div>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:12px;">
                                          <thead>
                                            <tr>
                                              <th>
                                                {{ 'emailSummary.tableTitles.item' | trans }}
                                              </th>
                                              <th style="text-align:center;">
                                                {{ 'emailSummary.tableTitles.quantity' | trans }}
                                              </th>
                                              <th style="text-align:center;">
                                                {{ 'emailSummary.tableTitles.weight' | trans }}
                                              </th>
                                              <th style="text-align:center;">
                                                {{ 'emailSummary.tableTitles.price' | trans }}
                                              </th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% set total_weight_general = 0 %}
                                            {% set total_price_general = 0 %}
                                            {% for item_array in newOrder.elements %}
                                              {% set item = item_array['item'] %}
                                              {% set qty = item_array['qty'] %}
                                              <tr>
                                                <td>
                                                  {{ item.name }}
                                                </td>
                                                <td style="text-align:center;">
                                                  <div id="counter_value_{{ item.type }}">
                                                      {{ qty }}
                                                    </div>
                                                </td>
                                                <td style="text-align:center;">
                                                  <div id="weight_value_{{ item.type }}" style="opacity1">
                                                      {% set total_weight = qty * item.weight %}
                                                      {% set total_weight_general = total_weight_general + total_weight %}
                                                      {% if total_weight > 999 %}
                                                        {{ (total_weight / 1000) | number_format(1, '.', ',') }} kg
                                                      {% else %}
                                                        {{ total_weight }} g
                                                      {% endif %}
                                                  </div>
                                                </td>
                                                <td style="text-align:center;">
                                                  <div id="price_value_{{ item.type }}" style="opacity1">
                                                      {% set total_price = qty * item.price %}
                                                      {% set total_price_general = total_price_general + total_price %}
                                                      S/. {{ total_price }}
                                                </div>
                                                </td>
                                              </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                      </div>
                                      <br/>
                                      <div style="width:100%; text-align:center; font-size:15px;">
                                        <strong>
                                          {{ 'emailSummary.tableTitles.total' | trans }}
                                        </strong>
                                        {% if total_weight_general > 999 %}
                                          {{ (total_weight_general / 1000) | number_format(1, '.', ',') }} kg
                                        {% else %}
                                          {{ total_weight_general }} g
                                        {% endif %}
                                        , 
                                        <strong>
                                          S/. {{ total_price_general }} 
                                        </strong>
                                      </div>

                                      <br/>
                                      {{ 'emailSummary.content.shouldReceiveShortly' | trans }}
                                      <br/><br/>

                                      {{ 'emailSummary.content.delivery' | trans }} <strong> {{ newOrder.deliveryAt|date("d M Y") }} </strong> {{ 'emailSummary.content.at' | trans }} <strong> {{ newOrder.deliveryAt|date("H:i") }} </strong>.

                                      <br/><br/>

                                      <div style="width: 100%; text-align:center;">
                                        <a href="http://www.lebuffetfrances.com/es/user" style="
                                          padding: 6px 10px;
                                          font-size:12px;
                                          text-decoration:none;
                                          background-color: rgba(120,30,20,0.99);
                                          border-radius: 0;
                                          color: white;">
                                          {{ 'emailSummary.actions.accessProfile' | trans }}
                                        </a>
                                      </div>
                                  </div>
                                {% else %}
                                    <div style="width:100%; text-align:justify;">
                                      {{ 'emailSummary.errors.nothingHere' | trans }}
                                      <br/>
                                      {{ 'emailSummary.errors.please' | trans }}
                                      <a href="mailto:webmaster@lebuffetfrances.com">
                                        {{ 'emailSummary.errors.contactAdministration' | trans }}
                                      </a>.
                                    </div>
                                {% endif %}
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table border="0" cellspacing="0" cellpadding="0" width="600">
                  <tbody>
                    <tr>
                      <td>
                        <table class="full-width" style="background-color: rgba(100,100,100,0.68); border-top: 2px solid rgba(120,30,20,0.99);" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tbody>
                            <tr>
                              <td style="padding-top: 20px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; font-size: 10px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 400; color: #ffffff;" align="left">
                                <strong><a href="http://www.lebuffetfrances.com" target="_blank" style="color:rgba(120,30,20,0.99); text-decoration:none; font-size: 12px;">Le Buffet Francés</a></strong> 
                                {{ 'emailSummary.footer.anecdote' | trans }}
                              </td>
                            </tr>
                            <tr>
                              <td style="padding-left: 20px; font-size: 10px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; color: #ffffff;" align="left">
                                <div style="display:inline-block; margin-right : 10px;">
                                  {{ 'emailSummary.footer.keepInTouch' | trans }}
                                </div>
                                <div style="display:inline-block;">
                                  <a href="https://www.facebook.com/pages/Epicerie-de-Cusco/928893590468462" style="position:relative; top:4px;">
                                    <img src="http://www.lebuffetfrances.com/img/system/email/fb.png" alt="FB" border="0"  width="16" height="16" style="display:block; font-size:8px; color:white;">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td style="padding-top: 10px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; font-size: 10px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; color: #ffffff;" align="left">
                                {{ 'emailSummary.footer.ifWantToJoin' | trans }}
                                <a style="text-decoration: none; color: rgba(120,30,20,0.99);" href="http://www.lebuffetfrances.com#footerSection" target="_blank">
                                  {{ 'emailSummary.footer.here' | trans }}
                                </a>
                                .
                              </td>
                            </tr>
                            <tr>
                              <td style="padding-top: 15px; padding-right: 0px; padding-bottom: 15px; padding-left: 20px; font-size: 10px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; color: #ffffff;" align="left">
                                {{ 'emailSummary.footer.quitSubscription' | trans }}
                                <a style="text-decoration: none; color: rgba(120,30,20,0.99);" href="http://www.lebuffetfrances.com/es/newsletterEmailUndo/{{ newOrder.user.email }}" target="_blank">
                                  {{ 'emailSummary.footer.clickHere' | trans }}
                                </a>
                                .
                              </td>
                            </tr>
                            <tr>
                              <td style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; font-size: 10px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; color: #ffffff;" align="left">
                                <strong><a href="http://www.lebuffetfrances.com" target="_blank" style="color:rgba(120,30,20,0.99); text-decoration:none;">Le Buffet Francés</a></strong>
                              </td>

                            </tr>
                            <tr>
                              <td style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; font-size: 10px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; color: #ffffff;" align="left">
                                Calle las Sauces
                              </td>
                            </tr>
                            <tr>
                              <td style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; font-size: 10px; font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; color: #ffffff;" align="left">
                                Larapa, San Sebastian, Cusco - Perú
                              </td>
                            </tr>
                            <tr>
                              <td style="padding-top: 0px; padding-right: 0px; padding-bottom: 20px; padding-left: 20px;" align="left">
                                <a style="font-family: Open Sans, Arial, Helvetica, sans-serif; font-weight: 500; font-size: 10px; color: rgba(120,30,20,0.99); text-decoration: none;" href="http://www.lebuffetfrances.com" target="_blank">
                                  www.lebuffetfrances.com
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    
    <script type="text/javascript" src="/js/public/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/js/forwardemail.js"></script>
    <link rel="stylesheet" href="/css/forwardemail.css" type="text/css" />
  </body>
</html>

{% endblock %}