{# src/LBF/AdminBundle/Resources/User/answer.html.twig #}

{% extends "LBFAdminBundle::admin_general.html.twig" %}

{% block title %}
  {{ parent() }} - Administration
{% endblock %}

{% block LBF_Admin_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section" id="section9">
				<br/><br/>
				
				<div class="row">
					<div class="col-md-4"></div>

					<div class="col-md-4">
						<h2 class="center">
							Administration du site
						</h2>
					</div>

					<div class="col-md-4"></div>
				</div>
				<hr/>

					<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
		        	{% if is_granted("ROLE_ADMIN") %}
		        		<div class="row">
		        			<div class="row center">
		        				Commane effectuée par {% if order.user.firstName|length > 0 %} {{ order.user.firstName }} {% else %} {{ order.user.email }} {% endif %}, le {{ order.createdAt|date('d/M/Y') }} à {{ order.createdAt|date('H:i') }} : <br/><br/>
		        			</div>
		        			<div class="row80">
		        				
			        			{% if order.elements|length > 0 %}
									<div class="table-responsive">
				                      <table class="table">
				                        <thead>
				                          <tr>
				                            <th class="center">
				                              Ordre n°
				                            </th>
				                            <th class="left">
				                              Eléments
				                            </th>
				                            <th class="center">
				                              Créé le
				                            </th>
				                            <th class="center">
				                              Livraison le
				                            </th>
				                            <th class="center">
				                              Statut actuel
				                            </th>
				                          </tr>
				                        </thead>
				                        <tbody>
				                            <tr>
				                              <th class="center">
				                                {{ order.id }}
				                              </th>
				                              <td class="left">
				                              	{% if order.elements|length > 0 %}
				                              		<ul class="list_no_style_li item_list">
				                              			{% for single_element in order.elements %}
				                              				{% set item = single_element['item'] %}
			                            					{% set qty = single_element['qty'] %}
				                              				<li>
				                              					{{ item.name }} (x{{ qty }})
				                              				</li>
				                              			{% endfor %}
				                              		</ul>
				                              	{% else %}
				                              		(Commande vide)
				                              	{% endif %}
				                              </td>
				                              <td class="center">
				                              	{{ order.createdAt|date("H:i d M Y") }}
				                              </td>
				                              <td class="center">
				                              	{{ order.deliveryAt|date("H:i d M Y") }}
				                              </td>
				                              <td class="center">
				                              	{% if order.status == 'onHold' %}
				                              		En attente
					                              	<img src="{{ asset('img/system/orders/onHold.png') }}" alt="" class="btn_right_arrow"/>
				                              	{% elseif order.status == 'confirm' %}
				                              		Confirmé
				                              		<img src="{{ asset('img/system/orders/confirmed.png') }}" alt="" class="btn_right_arrow"/>
				                              	{% elseif order.status == 'refused' %}
				                              		Refusé
				                              		<img src="{{ asset('img/system/orders/refused.png') }}" alt="" class="btn_right_arrow"/>
				                              	{% endif %}
				                              </td>
				                            </tr>
				                        </tbody>
				                      </table>
				                    </div>
								{% else %}
									<div class="center row">
										Cette commande est vide. Si c'est une erreur, contactez le client : <br/><br/>

										<a href="mailto:{{ order.user.email }}">
											{{ order.user.email }}
										</a>

									</div>
								{% endif %}

								<hr/>
		        			</div>
		        			<div class="row80 center">
		        				<form id="form_admin" method="post" {{ form_enctype(formConfirmOrder) }}>
			        				<div class="row">
				        				<div class="col-md-6">
					        				Elements dans la commande : <br/><br/>

					        				<div class="row60">
						        				<div id="checkboxes_elements">
							        				{% if order.elements|length > 0 %}
							        					<!-- <input type="checkbox" name="_all_elements" id="all_elements"/>
							        					<label for="_all_elements">Tout sélectionner</label>
							        					<div class="sep_order_admin"></div> -->
					                              		<ul class="list_no_style_li item_list left">
					                              			{% for single_element in order.elements %}
					                              				{% set item = single_element['item'] %}
					                        					{% set qty = single_element['qty'] %}
					                        					<input type="checkbox" name="{{ item.type }}" id="checkbox-{{ item.type }}" value="YES" checked/>
					                        					<label for="{{ item.type }}">{{ item.name }} (x{{ qty }})</label> <br/>
					                              			{% endfor %}
					                              		</ul>
					                              	{% else %}
					                              		(Commande vide)
					                              	{% endif %}
						        				</div>
					        				</div>
				        				</div>
				        				<div class="col-md-6">
					        				Livraison le <strong>{{ order.deliveryAt|date("d M Y") }}</strong> à <strong>{{ order.deliveryAt|date("H:i") }}</strong>. Cela vous convient-il ? <br/><br/>

					        				<input type="radio" name="delivery" value="yes_delivery" id="yes_delivery" onClick="showDateSelect()" checked/>
					        				<label for="yes_delivery">Oui</label>
					        				<input type="radio" name="delivery" value="no_delivery" id="no_delivery" onClick="showDateSelect()"/>
					        				<label for="no_delivery">Non</label>

					        				<br/>

					        				<script type="text/javascript">
												function showDateSelect() {
												    if (document.getElementById('no_delivery').checked) {
												        document.getElementById('date_select').style.display = 'block';
												    }
												    else {
												        document.getElementById('date_select').style.display = 'none';
											    	}
											    }
											</script>

					        				<div style="display:none;" id="date_select">
					        					<span class="italic">
							        				Si non, choisissez l'heure qui vous convient le mieux :
						        				</span>
						        				<br/>
					        					<div class="form-group inline_div">
											        {% if form_errors(formConfirmOrder.deliveryAt) %}
									                    <div class="error_message">
									                      	<span class="warning_word">
									                        	{{ 'user.warning.warning'|trans }}
									                      	</span>
									                      	<span class="warning_message">
									                        	{{ form_errors(formConfirmOrder.deliveryAt) }}
									                      	</span>
									                    </div>
									                    <br/>
									                {% endif %}
													<div class="input-icon">
											        	<i class="fa fa-user"></i>
											        	{% set opt_deliveryAt = {'attr': {'class': 'form-control placeholder-no-fix',
											        		'type':'datetime', 'id':'deliveryAt', 'name':'_deliveryAt'}} %}
											        		<div class="inline_div">
													        	{{ form_widget(formConfirmOrder.deliveryAt.time, opt_deliveryAt) }}
											        		</div>
											        		<div class="inline_div">
													        	{{ form_widget(formConfirmOrder.deliveryAt.date, opt_deliveryAt) }}
											        		</div>
											        </div>
												</div>
												
											</div>
				        				</div>
			        				</div>

			        				<br/>

			        				<div class="row60">

			        					<div class="form-group">
									        {{ form_label(formConfirmOrder.message, 'Contenu', 
									        	{'label_attr': {'class': 'control-label'}}) }}
									        {% if form_errors(formConfirmOrder.message) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formConfirmOrder.message) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-icon">
									        	<i class="fa fa-user"></i>
									        	{% set opt_message = {'attr': { 'class': 'form-control select2',
									        		'placeholder':"Message (optionel) : ", 'id':'_message', 
									        		'name':'_message'}} %}
									        	{{ form_widget(formConfirmOrder.message, opt_message) }}
									        </div>

										</div>

			        				</div>

			        				<br/>

			        				Statut de la commande :

			        				<br/>	

			        				<div class="row">
			        					<div class="col-md-4"></div>
			        					<div class="col-md-4">
					        				<div class="form-group">
												{% if form_errors(formConfirmOrder.status) %}
								                    <div class="error_message">
								                      	<span class="warning_word">
								                        	{{ 'user.warning.warning'|trans }}
								                      	</span>
								                      	<span class="warning_message">
								                        	{{ form_errors(formConfirmOrder.status) }}
								                      	</span>
								                    </div>
								                    <br/>
								                {% endif %}
												<div class="input-icon">
													{% set opt_status = {'attr': {'class': 'form-control select2',
										        		'type':'text', 'id':'status', 'name':'_status' }} %}
										        	{{ form_widget(formConfirmOrder.status, opt_status) }}
												</div>
											</div>
			        					</div>
			        					<div class="col-md-4"></div>
			        				</div>

									<!-- Et pour le reste du formulaire ... ;) -->
									{{ form_widget(formConfirmOrder) }}

			        				<div class="row center">
	                              		<button class="btn btn-admin" type="submit">
		                              		Enregistrer
	                              		</button>
			        				</div>
		        				</form>
		        			</div>
		        		</div>
		        	{% else %}
		        		<div>
		        			Vous n'etes pas autorisé à etre sur cette partie du site.
		        		</div>
		        	{% endif %}

			</div>

		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Admin_body %}