{# src/LBF/AdminBundle/Resources/Admin/elements.html.twig #}

{% extends "LBFAdminBundle::admin_general.html.twig" %}

{% block title %}
  {{ parent() }} - Produits
{% endblock %}

{% block LBF_Admin_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content_admin" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_padding" id="section9">

					<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
		        	{% if is_granted("ROLE_ADMIN") %}

		        		<!-- BEGIN nav admin -->
				          {% include 'includes/nav_admin.html.twig' %}
				        <!-- END nav admin -->

					  	<div id="section_admin" class="center">

					  		<div class="row">
					    		<div class="row90 left">
					    			<a href="{{ path('lbf_admin_new_element') }}" class="btn btn-admin">
					    				Nouveau produit
					    			</a>
					    		</div>
					    		{% if elements|length > 0 %}
									<div class="table-responsive">
				                      <table class="table">
				                        <thead>
				                          <tr>
				                            <th class="center">
				                              Id
				                            </th>
				                            <th class="center">
				                              Image
				                            </th>
				                            <th class="center">
				                              	Nom
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_elements_sorted', {'sortBy':'nameEs', 'order':'ASC'}) }}')" class="btn btn-action-admin">
					                            	<span class="glyphicon glyphicon-triangle-top"></span>
					                            </a>
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_elements_sorted', {'sortBy':'nameEs', 'order':'DESC'}) }}')" class="btn btn-action-admin">
						                            <span class="glyphicon glyphicon-triangle-bottom"></span>
					                            </a>
				                            </th>
				                            <th class="center">
				                              Description
				                            </th>
				                            <th class="center">
				                              Langues dispo
				                            </th>
				                            <th class="center">
				                              Créé le
				                            </th>
				                            <th class="center">
				                              Modifié le
				                            </th>
				                            <th class="center">
				                              	Category
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_elements_sorted', {'sortBy':'category', 'order':'ASC'}) }}')" class="btn btn-action-admin">
					                            	<span class="glyphicon glyphicon-triangle-top"></span>
					                            </a>
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_elements_sorted', {'sortBy':'category', 'order':'DESC'}) }}')" class="btn btn-action-admin">
						                            <span class="glyphicon glyphicon-triangle-bottom"></span>
					                            </a>
				                            </th>
				                            <th class="center">
				                              Prix (S/.)
				                            </th>
				                            <th class="center">
				                              Poids (g)
				                            </th>
				                            <th class="center">
				                              /lot
				                            </th>
				                            <th class="center">
				                              Naturel ?
				                            </th>
				                            <th class="center">
				                              #
				                            </th>
				                            <th class="center">
				                              	Statut
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_elements_sorted', {'sortBy':'active', 'order':'ASC'}) }}')" class="btn btn-action-admin">
					                            	<span class="glyphicon glyphicon-triangle-top"></span>
					                            </a>
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_elements_sorted', {'sortBy':'active', 'order':'DESC'}) }}')" class="btn btn-action-admin">
						                            <span class="glyphicon glyphicon-triangle-bottom"></span>
					                            </a>
				                            </th>
				                            <th class="center">
				                              Action
				                            </th>
				                          </tr>
				                        </thead>
				                        <tbody>
				                          {% for element in elements %}
				                            <tr>
				                            	<th class="center">
					                              {{ element.id }}
					                            </th>
					                            <td class="center">
					                              	{% if element.webPath|length > 0 %}
														<div class="product_img_admin" style="background-image: url('{{ asset(element.webPath) }}'); background-size: cover; background-position: 50%;">
														</div>
													{% else %}
														<img src="{{ asset('img/system/defaults/default_img.png') }}" alt="Default" class="product_img_admin"/>
													{% endif %}
					                            </td>
					                            <td class="center">
					                              	{% if element.nameEs|length > 0 %}
					                              		{{ element.nameEs }}
					                              	{% else %}
					                              		---
					                              	{% endif %}
					                            </td>
					                            <td class="center">
					                              	{% if element.descriptionEs|length > 0 %}
					                              		{{ element.descriptionEs }}
					                              	{% else %}
					                              		---
					                              	{% endif %}
					                            </td>
					                            <td class="center">
					                              	{% if element.nameEs|length > 0 and element.descriptionEs|length > 0 %}
					                              		<img src="{{ asset('img/system/language_flags/es.png') }}" alt="ES" class="language_flag_sm_admin"/>
					                              	{% endif %}
					                              	{% if element.nameFr|length > 0 and element.descriptionFr|length > 0 %}
					                              		<img src="{{ asset('img/system/language_flags/fr.png') }}" alt="FR" class="language_flag_sm_admin"/>
					                              	{% endif %}
					                              	{% if element.nameEn|length > 0 and element.descriptionEn|length > 0 %}
					                              		<img src="{{ asset('img/system/language_flags/en.png') }}" alt="EN" class="language_flag_sm_admin"/>
					                              	{% endif %}
					                            </td>
					                            <td class="center">
					                              	{% if element.createdAt|length > 0 %}
					                              		{{ element.createdAt|date("d/M/Y") }}
					                              	{% else %}
					                              		---
					                              	{% endif %}
					                            </td>
					                            <td class="center">
					                              	{% if element.updatedAt|length > 0 %}
					                              		{{ element.updatedAt|date("d/M/Y") }}
					                              	{% else %}
					                              		---
					                              	{% endif %}
					                            </td>
					                            <td class="center">
					                              	{% if element.category|length > 0 %}
					                              		{% if element.category == 1 %}
															{{ 'main.second_titles.category_1' | trans }}
														{% elseif element.category == 2 %}
															{{ 'main.second_titles.category_2' | trans }}
														{% elseif element.category == 3 %}
															{{ 'main.second_titles.category_3' | trans }}
														{% elseif element.category == 4 %}
															{{ 'main.second_titles.category_4' | trans }}
														{% elseif element.category == 5 %}
															{{ 'main.second_titles.category_5' | trans }}
														{% endif %}
					                              	{% else %}
					                              		---
					                              	{% endif %}
					                            </td>
					                            <td class="center">
					                              	{% if element.price|length > 0 %}
					                              		{{ element.price }}
					                              	{% else %}
					                              		-
					                              	{% endif %}
					                            </td>
					                            <td class="center">
					                              	{% if element.weight|length > 0 %}
					                              		{{ element.weight }}
					                              	{% else %}
					                              		-
					                              	{% endif %}
					                            </td>
					                            <td class="center">
					                              	{% if element.unit|length > 0 %}
					                              		{{ element.unit }}
					                              	{% else %}
					                              		-
					                              	{% endif %}
					                            </td>
					                            <td class="center">
					                              	{% if element.naturalProduct %}
					                              		Oui
					                              	{% else %}
					                              		Non
					                              	{% endif %}
					                            </td>
					                            <td class="center">
					                              	{% if element.orderList|length > 0 %}
					                              		{{ element.orderList }}
					                              	{% else %}
					                              		-
					                              	{% endif %}
					                            </td>
					                            <th class="center hover_popup">
					                            	{% if element.active %}
					                              		{% if element.active == "active" %}
					                              			Actif
					                              		{% elseif element.active == "new" %}
					                              			Nouveauté
					                              		{% elseif element.active == "toCome" %}
					                              			A venir
					                              		{% elseif element.active == "soldOut" %}
					                              			Epuisé
					                              		{% elseif element.active == "inactive" %}
					                              			Inactif
					                              		{% else %}
					                              			Erreur
					                              			<span class="italic">
					                              				Vous devez choisir parmi les statuts proposés
						                              		</span>
					                              		{% endif %}
					                              	{% else %}
					                              		Erreur
					                              		<span class="italic">
															Vous devez choisir parmi les statuts proposés
					                              		</span>
					                              	{% endif %}
					                            </th>
					                            <td class="center">
					                            	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_edit_element', {'elementId':element.id}) }}')" class="btn btn-action-admin">
						                            	<span class="glyphicon glyphicon-pencil"></span>
					                            	</a>
					                            	<a href="javascript:areYouSureDeleteElement('{{ path('lbf_admin_delete_element', {'elementId':element.id}) }}')" class="btn btn-action-admin">
						                            	<span class="glyphicon glyphicon-trash"></span>
					                            	</a>
					                            </td>
				                            </tr>
				                          {% endfor %}
				                        </tbody>
				                      </table>
				                    </div>
								{% else %}
									<div class="center col-md-9">
										Désolé, aucun "élément"...
									</div>
									<div class="col-md-3"></div>
								{% endif %}
					    	</div>

					  	</div>
		        	{% else %}
		        		<div>
		        			<br/><br/><br/><br/><br/>
		        			You're not allowed on this part of the website.
		        		</div>
		        	{% endif %}

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Admin_body %}