{# src/LBF/AdminBundle/Resources/views/Admin/emailConfirmAdmin.html.twig #}

{% block body_html %}
{#
    You can of course render the html directly here.
    Including a template as done here allows keeping things DRY by using
    the template inheritance in it
#}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

  <head>

    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
      Le Buffet Francés - Commande client confirmée
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body >
    <table border="0" cellpadding="0" cellspacing="0" width="100%" >
      <tr >
        <td style="padding:0 0 20px 0; " bgcolor="#D4D5D1" >
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; " >
            <tr >
              <td align="center" style="padding:10px 0 10px 0; color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:300; font-size:12px; " >
                <div style="width:100%; " class="" id="pre-header-text" >
                  Cet email provient de <strong>Le Buffet Francés.</strong>
                </div>
              </td>
            </tr>
            <tr>
              <td bgcolor="rgba(100,100,100,0.8)" width="600" valign="top" style="border-bottom-width: 5px; border-bottom-style: solid; border-bottom-color: #4d5259;">
                <a href="http://www.lebuffetfrances.com" target="_blank">
                  <img src="http://www.lebuffetfrances.com/img/system/email/email_header.png" alt="Banière Le Buffet Francés" border="0" width="600" height="95" style="display:block; color: white; text-align:center;"/>
                </a>
              </td>
            </tr>
            <tr >
              <td bgcolor="#FFFFFF" style="padding:20px 15px 20px 15px; " >
                <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                  <tr >
                    <td width="100%" valign="top" >
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                        <tr >
                          <td style="color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:800; font-size:16px; " >
                            <div style="width:100%; " class="" id="title_one_half" >
                              COMMANDE CONFIRMÉE
                            </div>
                          </td>
                        </tr>
                        <tr >
                          <td style="color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:300; font-size:12px; " >
                            <div style="width:100%; text-align:justify;">
                                Cet email provient de <strong><a href="www.lebuffetfrances.com" target="_blank" style="color: #4d5259; text-decoration:none;">Le Buffet Francés</a></strong> concernant un récent achat effectué en ligne par 
                                <strong style="text-decoration:underline;">
                                  {% if order.user.firstName|length > 0 %}
                                    {{ order.user.firstName }}
                                  {% else %}
                                    {{ order.user.email }}
                                  {% endif %}
                                </strong>. 
                                Vous venez de passer la commande en <strong>confirmée</strong>.
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr >
              <td style="padding:0 15px 0 15px; " bgcolor="#FFFFFF" >
                <table style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:rgba(100,100,100,0.5); " border="0" cellpadding="0" cellspacing="0" width="100%" >
                  <tr >
                    <td style="color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:800; font-size:14px; " >
                      <div style="width:100%; " class="" id="header_text_01" >
                        RAPPEL DU CONTENU DE LA COMMANDE 
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr >
              <td bgcolor="#FFFFFF" style="padding:20px 15px 20px 15px; " >
                <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                  <tr >
                    <td >
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                        <tr >
                          <td width="100%" valign="top" >
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                              <tr >
                                <td style="padding:0 0 5px 0; color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:700; font-size:14px; " >
                                  <div style="width:100%; ">
                                    Voici le contenu de la commande qui a récemment été passée par
                                    {% if order.user.gender %}
                                      {% if order.user.gender == true %}
                                        M.
                                      {% else %}
                                        Mme.
                                      {% endif %}
                                    {% endif %}
                                    {% if order.user.firstName|length > 0 %}
                                      {{ order.user.firstName }}
                                    {% else %}
                                      {{ order.user.email }}
                                    {% endif %}
                                  </div>
                                </td>
                              </tr>
                              <tr >
                                <td style="color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:300;" >
                                  {% if order.elements|length > 0 %}
                                    <div style="width:100%; text-align:justify;">
                                      <div>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:12px;">
                                          <thead>
                                            <tr>
                                              <th>
                                                Elément
                                              </th>
                                              <th style="text-align:center;">
                                                Quantité
                                              </th>
                                              <th style="text-align:center;">
                                                Poids
                                              </th>
                                              <th style="text-align:center;">
                                                Prix
                                              </th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% set total_weight_general = 0 %}
                                            {% set total_price_general = 0 %}
                                            {% for item_array in order.elements %}
                                              {% set item = item_array['item'] %}
                                              {% set qty = item_array['qty'] %}
                                              <tr>
                                                <td>
                                                  {{ item.name }}
                                                </td>
                                                <td style="text-align:center;">
                                                  <div id="counter_value_{{ item.type }}">
                                                      {{ qty }}
                                                    </div>
                                                </td>
                                                <td style="text-align:center;">
                                                  <div id="weight_value_{{ item.type }}" style="opacity1">
                                                      {% set total_weight = qty * item.weight %}
                                                      {% set total_weight_general = total_weight_general + total_weight %}
                                                      {% if total_weight > 999 %}
                                                        {{ (total_weight / 1000) | number_format(1, '.', ',') }} kg
                                                      {% else %}
                                                        {{ total_weight }} g
                                                      {% endif %}
                                                  </div>
                                                </td>
                                                <td style="text-align:center;">
                                                  <div id="price_value_{{ item.type }}" style="opacity1">
                                                      {% set total_price = qty * item.price %}
                                                      {% set total_price_general = total_price_general + total_price %}
                                                      S/. {{ total_price }}
                                                </div>
                                                </td>
                                              </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                      </div>
                                      <br/>
                                      <div style="width:100%; text-align:center; font-size:15px;">
                                        <strong>
                                          TOTAL: 
                                        </strong>
                                        {% if total_weight_general > 999 %}
                                          {{ (total_weight_general / 1000) | number_format(1, '.', ',') }} kg
                                        {% else %}
                                          {{ total_weight_general }} g
                                        {% endif %}
                                        , 
                                        <strong>
                                          S/. {{ total_price_general }} 
                                        </strong>
                                      </div>

                                      <br/>

                                      Le client a reçu validation de la commande et se rendra en magasin récupérer sa commande à <strong> {{ order.deliveryAt|date("H:i") }} </strong> le  <strong> {{ order.deliveryAt|date("d M Y") }} </strong>

                                      <br/><br/>

                                      <div style="width: 100%; text-align:center;">
                                        <a href="http://www.lebuffetfrances.com/admin" style="
                                          padding: 6px 10px;
                                          font-size:12px;
                                          text-decoration:none;
                                          background-color: rgba(120,30,20,0.99);
                                          border-radius: 0;
                                          color: white;">
                                          Accéder à la commande
                                        </a>
                                      </div>
                                  </div>
                                {% else %}
                                    <div style="width:100%; text-align:justify;">
                                      Cete commande est vide ... <br/>
                                      <a href="mailto:p.a.destremau@gmail.com">Contactez le webmaster</a> de ce site s'il vous plaît.
                                    </div>
                                {% endif %}
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            {% if messageAdminContent|length > 0 %}
              <tr >
                <td style="padding:0 15px 0 15px; " bgcolor="#FFFFFF" >
                  <table style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:rgba(100,100,100,0.5); " border="0" cellpadding="0" cellspacing="0" width="100%" >
                    <tr >
                      <td style="color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:800; font-size:14px; " >
                        <div style="width:100%; " class="" id="header_text_01" >
                          MESSAGE AJOUTÉ
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr >
                <td bgcolor="#FFFFFF" style="padding:20px 15px 20px 15px; " >
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                    <tr >
                      <td >
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                          <tr >
                            <td width="100%" valign="top" >
                              <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                                <tr >
                                  <td style="padding:0 0 5px 0; color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:700; font-size:14px; " >
                                    <div style="width:100%; ">
                                      Vous ajouté le message suivant :
                                    </div>
                                  </td>
                                </tr>
                                <tr >
                                  <td style="color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:300;" >
                                    {{ messageAdminContent|raw|nl2br }}
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            {% endif %}
          </table>
        </td>
      </tr>
    </table>
    
    <script type="text/javascript" src="/js/public/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/js/forwardemail.js"></script>
    <link rel="stylesheet" href="/css/forwardemail.css" type="text/css" />
  </body>
</html>

{% endblock %}


{# block body_text %}
{% autoescape false %}

Hello !

De la part de l'administration:


Cordialement,
La Team de la Grande Boucle Etudiante

{% endautoescape %}
{% endblock #}
