{# src/LBF/AdminBundle/Resources/Admin/elements.html.twig #}

{% extends "LBFAdminBundle::admin_general.html.twig" %}

{% block title %}
  {{ parent() }} - Produits
{% endblock %}

{% block LBF_Admin_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content_admin" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_padding" id="section9">

					<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
		        	{% if is_granted("ROLE_ADMIN") %}

		        		<!-- BEGIN nav admin -->
				          {% include 'includes/nav_admin.html.twig' %}
				        <!-- END nav admin -->

					  	<div id="section_admin" class="left">

					  		<div class="row90">
		        				<div class="row left">
					    			<a href="javascript:loadContentAdmin('{{ path('lbf_admin_elements') }}')" class="btn btn-admin">
					    				Retour
					    			</a>
					    		</div>
		        			</div>

					  		<div class="row80">
					  			<form method="post" {{ form_enctype(formRecipe) }}>
					        		{% if form_errors(formRecipe) %}
					                    <div class="error_message">
					                      <span class="warning_word">
					                        {{ 'user.warning.warning'|trans }}
					                      </span>
					                      <span class="warning_message">
					                        {{ form_errors(formRecipe) }}
					                      </span>
					                    </div>
					                    <br/>
					                {% endif %}

					                <div class="row">
					                	
						  				<strong>
						  					Informations sur la recette :
						  				</strong>
						  				<hr/>
										<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									        {% if form_errors(formRecipe.title) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.title) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-icon">
									        	{% set opt_title = {'attr': {'class': 'form-control placeholder-no-fix',
									        		'type':'text', 'placeholder':'Titre (Ex: Roulés au jambon)', 'id':'title', 
									        		'name':'_title'}} %}
									        	{{ form_widget(formRecipe.title, opt_title) }}
									        </div>
										</div>

										<div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
									        {% if form_errors(formRecipe.duration) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.duration) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-group">
									        	{% set opt_duration = {'attr': {'class': 'form-control',
									        		'type':'text', 'placeholder':"Temps de préparation (Ex: 20)", 'id':'duration', 
									        		'name':'_duration', 'aria-describedby':'duration_unit'}} %}
									        	{{ form_widget(formRecipe.duration, opt_duration) }}
											  	<span class="input-group-addon" id="duration_unit">min</span>
									        </div>
										</div>

										<div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
									        {% if form_errors(formRecipe.cooking) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.cooking) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-group">
									        	{% set opt_cooking = {'attr': {'class': 'form-control',
									        		'type':'text', 'placeholder':"Temps de cuisson (Ex: 60)", 'id':'cooking', 
									        		'name':'_cooking', 'aria-describedby':'cooking_unit'}} %}
									        	{{ form_widget(formRecipe.cooking, opt_cooking) }}
											  	<span class="input-group-addon" id="cooking_unit">min</span>
									        </div>
										</div>

										<div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
									        {% if form_errors(formRecipe.forHowMany) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.forHowMany) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-group">
									        	{% set opt_forHowMany = {'attr': {'class': 'form-control',
									        		'type':'text', 'placeholder':"Pour combien ? (Ex:4)", 'id':'forHowMany', 
									        		'name':'_forHowMany', 'aria-describedby':'forHowMany_unit'}} %}
									        	{{ form_widget(formRecipe.forHowMany, opt_forHowMany) }}
											  	<span class="input-group-addon" id="forHowMany_unit">personnes</span>
									        </div>
										</div>
										
										<div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
									        {% if form_errors(formRecipe.origin) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.origin) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-icon">
									        	{% set opt_origin = {'attr': {'class': 'form-control placeholder-no-fix',
									        		'origin':'text', 'placeholder':"Origine de la recette (ex: France)", 'id':'origin', 
									        		'name':'_origin'}} %}
									        	{{ form_widget(formRecipe.origin, opt_origin) }}
									        </div>
										</div>

										<hr/>

										<ul class="nav nav-tabs">
											{% set index_general = 1 %}
											{% for lang in 1..3 %}
												<li class="{% if index_general == 1 %} active {% endif %}">
													<a data-target="#tab_{{ index_general }}" data-toggle="tab">
														{% if lang == 1 %}
															<img src="{{ asset('img/system/language_flags/es.png') }}" alt="ES" class="language_flag"/>
														{% elseif lang == 2 %}
															<img src="{{ asset('img/system/language_flags/fr.png') }}" alt="FR" class="language_flag"/>
														{% elseif lang == 3 %}
															<img src="{{ asset('img/system/language_flags/en.png') }}" alt="EN" class="language_flag"/>
														{% endif %}
													</a>
												</li>
												{% set index_general = index_general + 1 %}
											{% endfor %}
										</ul>

										<div class="tab-content" id="product_content">
											<div class="tab-pane fade active in" id="tab_1">
												<div class="row">
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.descriptionEs) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.descriptionEs) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_descriptionEs = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'type':'text', 'placeholder':'Descripción (5 lineas)', 'id':'descriptionEs', 
												        		'name':'_descriptionEs'}} %}
												        	{{ form_widget(formRecipe.descriptionEs, opt_descriptionEs) }}
												        </div>
													</div>

													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.ingredientsEs) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.ingredientsEs) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_ingredientsEs = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'type':'text', 'placeholder':'Ingredientes de la receta', 'id':'ingredientsEs', 
												        		'name':'_ingredientsEs'}} %}
												        	{{ form_widget(formRecipe.ingredientsEs, opt_ingredientsEs) }}
												        </div>
													</div>

													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.preparationEs) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.preparationEs) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_preparationEs = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'type':'text', 'placeholder':'Preparación de la receta', 'id':'preparationEs', 
												        		'name':'_preparationEs'}} %}
												        	{{ form_widget(formRecipe.preparationEs, opt_preparationEs) }}
												        </div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="tab_2">
												<div class="row">
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.descriptionFr) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.descriptionFr) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_descriptionFr = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'type':'text', 'placeholder':'Courte description (5 lineas)', 'id':'descriptionFr', 
												        		'name':'_descriptionFr'}} %}
												        	{{ form_widget(formRecipe.descriptionFr, opt_descriptionFr) }}
												        </div>
													</div>

													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.ingredientsFr) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.ingredientsFr) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_ingredientsFr = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'type':'text', 'placeholder':'Ingredients de la recette', 'id':'ingredientsFr', 
												        		'name':'_ingredientsFr'}} %}
												        	{{ form_widget(formRecipe.ingredientsFr, opt_ingredientsFr) }}
												        </div>
													</div>

													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.preparationFr) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.preparationFr) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_preparationFr = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'type':'text', 'placeholder':'Preparation de la recette', 'id':'preparationFr', 
												        		'name':'_preparationFr'}} %}
												        	{{ form_widget(formRecipe.preparationFr, opt_preparationFr) }}
												        </div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="tab_3">
												<div class="row">
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.descriptionEn) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.descriptionEn) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_descriptionEn = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'type':'text', 'placeholder':'Short description (5 lines)', 'id':'descriptionEn', 
												        		'name':'_descriptionEn'}} %}
												        	{{ form_widget(formRecipe.descriptionEn, opt_descriptionEn) }}
												        </div>
													</div>

													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.ingredientsEn) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.ingredientsEn) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_ingredientsEn = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'type':'text', 'placeholder':'Ingredients of the recipe', 'id':'ingredientsEn', 
												        		'name':'_ingredientsEn'}} %}
												        	{{ form_widget(formRecipe.ingredientsEn, opt_ingredientsEn) }}
												        </div>
													</div>

													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.preparationEn) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.preparationEn) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_preparationEn = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'type':'text', 'placeholder':'Recipe preparation', 'id':'preparationEn', 
												        		'name':'_preparationEn'}} %}
												        	{{ form_widget(formRecipe.preparationEn, opt_preparationEn) }}
												        </div>
													</div>
												</div>
											</div>
										</div>

										<hr/>

										<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 right">
											Recette liée au produit(s) suivant(s) :
										</div>
										<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
									        {% if form_errors(formRecipe.element) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.element) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-icon">
									        	{% set opt_element = {'attr': {'class': 'form-control placeholder-no-fix',
									        		'element':'text', 'id':'element', 
									        		'name':'_element'}} %}
									        	{{ form_widget(formRecipe.element, opt_element) }}
									        </div>
										</div>
										
										<div class="form-group col-lg-6 col-md-8 col-sm-12 col-xs-12 row">
											{{ form_errors(formRecipe) }}
											<div class="input-icon left">
									        	Image de la recette (recommandé): {{ form_widget(formRecipe.file) }}
									        </div>
										</div>
					                </div>

									<br/><br/>

									<div class="row">
										<strong>
						  					Informations d'affichage :
						  				</strong>
						  				<hr/>
										
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right">
											Le produit est:
										</div>
										<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
									        {% if form_errors(formRecipe.active) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.active) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-icon">
									        	{% set opt_active = {'attr': {'class': 'form-control placeholder-no-fix',
									        		'id':'active', 'name':'_active'}} %}
									        	{{ form_widget(formRecipe.active, opt_active) }}
									        </div>
										</div>
									</div>

									
									<!-- Et pour le reste du formulaire ... ;) -->
									{{ form_widget(formRecipe) }}

									<div class="center">
										<input type="submit" class="btn btn-login" value="Enregistrer"/>
									</div>
									<br/><br/><br/>
								</form>
					  		</div>

					  	</div>
		        	{% else %}
		        		<div>
		        			<br/><br/><br/><br/><br/>
		        			You're not allowed on this part of the website.
		        		</div>
		        	{% endif %}

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Admin_body %}