{# src/LBF/AdminBundle/Resources/Admin/elements.html.twig #}

{% extends "LBFAdminBundle::admin_general.html.twig" %}

{% block title %}
  {{ parent() }} - Nouvelle recette
{% endblock %}

{% block LBF_Admin_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content_admin" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_padding" id="section9">

					<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
		        	{% if is_granted("ROLE_ADMIN") %}

		        		<!-- BEGIN nav admin -->
				          {% include 'includes/nav_admin.html.twig' %}
				        <!-- END nav admin -->

					  	<div id="section_admin" class="left">

					  		<div class="row90">
		        				<div class="row left">
					    			<a href="javascript:loadContentAdmin('{{ path('lbf_admin_recipes') }}')" class="btn btn-admin">
					    				Retour
					    			</a>
					    		</div>
		        			</div>

					  		<div class="row80">
					  			<form method="post" {{ form_enctype(formRecipe) }}>
					        		{% if form_errors(formRecipe) %}
					                    <div class="error_message">
					                      <span class="warning_word">
					                        {{ 'user.warning.warning'|trans }}
					                      </span>
					                      <span class="warning_message">
					                        {{ form_errors(formRecipe) }}
					                      </span>
					                    </div>
					                    <br/>
					                {% endif %}

					                <div class="row">
					                	
						  				<strong>
						  					Informations sur la recette :
						  				</strong>
						  				<hr/>
										<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									        {% if form_errors(formRecipe.title) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.title) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-icon">
									        	{% set opt_title = {'attr': {'class': 'form-control placeholder-no-fix',
									        		'type':'text', 'placeholder':'Titre (Ex: Roulés au jambon)', 'id':'title', 
									        		'name':'_title'}} %}
									        	{{ form_widget(formRecipe.title, opt_title) }}
									        </div>
										</div>

										<div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
									        {% if form_errors(formRecipe.duration) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.duration) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-group">
									        	{% set opt_duration = {'attr': {'class': 'form-control',
									        		'type':'text', 'placeholder':"Temps de préparation (Ex: 20)", 'id':'duration', 
									        		'name':'_duration', 'aria-describedby':'duration_unit'}} %}
									        	{{ form_widget(formRecipe.duration, opt_duration) }}
											  	<span class="input-group-addon" id="duration_unit">min</span>
									        </div>
										</div>

										<div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
									        {% if form_errors(formRecipe.cooking) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.cooking) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-group">
									        	{% set opt_cooking = {'attr': {'class': 'form-control',
									        		'type':'text', 'placeholder':"Temps de cuisson (Ex: 60)", 'id':'cooking', 
									        		'name':'_cooking', 'aria-describedby':'cooking_unit'}} %}
									        	{{ form_widget(formRecipe.cooking, opt_cooking) }}
											  	<span class="input-group-addon" id="cooking_unit">min</span>
									        </div>
										</div>

										<div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
									        {% if form_errors(formRecipe.forHowMany) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.forHowMany) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-group">
									        	{% set opt_forHowMany = {'attr': {'class': 'form-control',
									        		'type':'text', 'placeholder':"Pour combien ? (Ex:4)", 'id':'forHowMany', 
									        		'name':'_forHowMany', 'aria-describedby':'forHowMany_unit'}} %}
									        	{{ form_widget(formRecipe.forHowMany, opt_forHowMany) }}
											  	<span class="input-group-addon" id="forHowMany_unit">personnes</span>
									        </div>
										</div>
										
										<div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
									        {% if form_errors(formRecipe.origin) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.origin) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-icon">
									        	{% set opt_origin = {'attr': {'class': 'form-control placeholder-no-fix',
									        		'origin':'text', 'placeholder':"Origine de la recette (ex: France)", 'id':'origin', 
									        		'name':'_origin'}} %}
									        	{{ form_widget(formRecipe.origin, opt_origin) }}
									        </div>
										</div>

										<hr/>

										<ul class="nav nav-tabs">
											{% set index_general = 1 %}
											{% for lang in 1..3 %}
												<li class="{% if index_general == 1 %} active {% endif %}">
													<a data-target="#tab_{{ index_general }}" data-toggle="tab">
														{% if lang == 1 %}
															<img src="{{ asset('img/system/language_flags/es.png') }}" alt="ES" class="language_flag"/>
														{% elseif lang == 2 %}
															<img src="{{ asset('img/system/language_flags/fr.png') }}" alt="FR" class="language_flag"/>
														{% elseif lang == 3 %}
															<img src="{{ asset('img/system/language_flags/en.png') }}" alt="EN" class="language_flag"/>
														{% endif %}
													</a>
												</li>
												{% set index_general = index_general + 1 %}
											{% endfor %}
										</ul>

										<div class="tab-content" id="product_content">
											<div class="tab-pane fade active in" id="tab_1">
												<div class="row">
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<strong>
															Descripción:
														</strong>
													</div>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.descriptionEs) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.descriptionEs) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_descriptionEs = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'placeholder':'Descripción (5 lineas)', 'id':'descriptionEs', 'type':'text',
												        		'name':'_descriptionEs'}} %}
												        	{{ form_widget(formRecipe.descriptionEs, opt_descriptionEs) }}
												        </div>
													</div>

												    {% macro widget_prototype(widget) %}
													    {% if widget.vars.prototype is defined %}
														    {% set form = widget.vars.prototype %}
														    {% set name = widget.vars.prototype.vars.name %}
														{% else %}
														    {% set form = widget %}
														    {% set name = widget.vars.full_name %}
														{% endif %}

													    <div class="input-group" data-content="{{ name }}">
														  	<span class="input-group-addon" id="prototype_delete">
														  		<a href="" class="btn-remove float-left" data-related="{{ name }}">
														        	<span class="glyphicon glyphicon-trash"></span>
														        </a>
														  	</span>
												        	{% set opt_ingredientsEs = {'attr': {'class': 'form-control', 'aria-describedby':'prototype_delete'}} %}
												        	{{ form_widget(form, opt_ingredientsEs) }}
												        </div>
													{% endmacro %}

											        <script type="text/javascript">
											        	jQuery(function($) {
														    $(document).on('click', '.btn-add[data-target]', function(event) {
														        var collectionHolder = $('#' + $(this).attr('data-target'));

														        if (!collectionHolder.attr('data-counter')) {
														            collectionHolder.attr('data-counter', collectionHolder.children().length);
														        }

														        var prototype = collectionHolder.attr('data-prototype');
														        var form = prototype.replace(/__name__/g, collectionHolder.attr('data-counter'));

														        collectionHolder.attr('data-counter', Number(collectionHolder.attr('data-counter')) + 1);
														        collectionHolder.append(form);

														        event && event.preventDefault();
														    });

														    $(document).on('click', '.btn-remove[data-related]', function(event) {
														        var name = $(this).attr('data-related');
														        $('*[data-content="'+name+'"]').remove();

														        event && event.preventDefault();
														    });
														});  
											        </script>

													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<strong>
															Ingredientes:
														</strong>
													</div>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.ingredientsEs) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.ingredientsEs) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
												        <div class="input-icon" id="_ingredientsEs" data-prototype="{{ _self.widget_prototype(formRecipe.ingredientsEs)|escape }}">
												            {% for widget in formRecipe.ingredientsEs.children %}
												                {{ _self.widget_prototype(widget) }}
												            {% endfor %}
												        </div>
												        
												        <a href="" class="btn btn-default btn-add" data-target="_ingredientsEs">
												        	<span class="glyphicon glyphicon-plus"></span>
												        </a>
													</div>

													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<strong>
															Preparación:
														</strong>
													</div>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.preparationEs) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.preparationEs) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
												        <div class="input-icon" id="_preparationEs" data-prototype="{{ _self.widget_prototype(formRecipe.preparationEs)|escape }}">
												            {% for widget in formRecipe.preparationEs.children %}
												                {{ _self.widget_prototype(widget) }}
												            {% endfor %}
												        </div>
												        
												        <a href="" class="btn btn-default btn-add" data-target="_preparationEs">
												        	<span class="glyphicon glyphicon-plus"></span>
												        </a>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="tab_2">
												<div class="row">
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<strong>
															Description:
														</strong>
													</div>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.descriptionFr) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.descriptionFr) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_descriptionFr = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'placeholder':'Courte description (5 lineas)', 'id':'descriptionFr', 'type':'text',
												        		'name':'_descriptionFr'}} %}
												        	{{ form_widget(formRecipe.descriptionFr, opt_descriptionFr) }}
												        </div>
													</div>

													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<strong>
															Ingrédients:
														</strong>
													</div>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.ingredientsFr) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.ingredientsFr) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
												        <div class="input-icon" id="_ingredientsFr" data-prototype="{{ _self.widget_prototype(formRecipe.ingredientsFr)|escape }}">
												            {% for widget in formRecipe.ingredientsFr.children %}
												                {{ _self.widget_prototype(widget) }}
												            {% endfor %}
												        </div>
												        
												        <a href="" class="btn btn-default btn-add" data-target="_ingredientsFr">
												        	<span class="glyphicon glyphicon-plus"></span>
												        </a>
													</div>

													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<strong>
															Préparation:
														</strong>
													</div>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.preparationFr) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.preparationFr) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
												        <div class="input-icon" id="_preparationFr" data-prototype="{{ _self.widget_prototype(formRecipe.preparationFr)|escape }}">
												            {% for widget in formRecipe.preparationFr.children %}
												                {{ _self.widget_prototype(widget) }}
												            {% endfor %}
												        </div>
												        
												        <a href="" class="btn btn-default btn-add" data-target="_preparationFr">
												        	<span class="glyphicon glyphicon-plus"></span>
												        </a>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="tab_3">
												<div class="row">
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<strong>
															Description:
														</strong>
													</div>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.descriptionEn) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.descriptionEn) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
														<div class="input-icon">
												        	{% set opt_descriptionEn = {'attr': {'class': 'form-control placeholder-no-fix',
												        		'placeholder':'Short description (5 lines)', 'id':'descriptionEn', 'type':'text',
												        		'name':'_descriptionEn'}} %}
												        	{{ form_widget(formRecipe.descriptionEn, opt_descriptionEn) }}
												        </div>
													</div>

													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<strong>
															Ingredients:
														</strong>
													</div>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.ingredientsEn) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.ingredientsEn) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
												        <div class="input-icon" id="_ingredientsEn" data-prototype="{{ _self.widget_prototype(formRecipe.ingredientsEn)|escape }}">
												            {% for widget in formRecipe.ingredientsEn.children %}
												                {{ _self.widget_prototype(widget) }}
												            {% endfor %}
												        </div>
												        
												        <a href="" class="btn btn-default btn-add" data-target="_ingredientsEn">
												        	<span class="glyphicon glyphicon-plus"></span>
												        </a>
													</div>

													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<strong>
															Preparation:
														</strong>
													</div>
													<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
												        {% if form_errors(formRecipe.preparationEn) %}
										                    <div class="error_message">
										                      	<span class="warning_word">
										                        	{{ 'user.warning.warning'|trans }}
										                      	</span>
										                      	<span class="warning_message">
										                        	{{ form_errors(formRecipe.preparationEn) }}
										                      	</span>
										                    </div>
										                    <br/>
										                {% endif %}
												        <div class="input-icon" id="_preparationEn" data-prototype="{{ _self.widget_prototype(formRecipe.preparationEn)|escape }}">
												            {% for widget in formRecipe.preparationEn.children %}
												                {{ _self.widget_prototype(widget) }}
												            {% endfor %}
												        </div>
												        
												        <a href="" class="btn btn-default btn-add" data-target="_preparationEn">
												        	<span class="glyphicon glyphicon-plus"></span>
												        </a>
													</div>
												</div>
											</div>
										</div>

										<hr/>

										<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 right">
											Recette liée au produit(s) suivant(s) :
										</div>
										<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
									        {% if form_errors(formRecipe.element) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.element) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-icon">
									        	{% set opt_element = {'attr': {'class': 'form-control placeholder-no-fix',
									        		'element':'text', 'id':'element', 
									        		'name':'_element'}} %}
									        	{{ form_widget(formRecipe.element, opt_element) }}
									        </div>
										</div>
										
										<div class="form-group col-lg-6 col-md-8 col-sm-12 col-xs-12 row">
											{{ form_errors(formRecipe) }}
											<div class="input-icon left">
									        	Image de la recette (recommandé): 
									        	{{ form_widget(formRecipe.file) }}
									        </div>
										</div>
					                </div>

									<br/><br/>

									<div class="row">
										<strong>
						  					Informations d'affichage :
						  				</strong>
						  				<hr/>
										
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right">
											La recette est:
										</div>
										<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
									        {% if form_errors(formRecipe.active) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.active) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-icon">
									        	{% set opt_active = {'attr': {'class': 'form-control placeholder-no-fix',
									        		'id':'active', 'name':'_active'}} %}
									        	{{ form_widget(formRecipe.active, opt_active) }}
									        </div>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right">
											Elle est plutôt :
										</div>
										<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
									        {% if form_errors(formRecipe.taste) %}
							                    <div class="error_message">
							                      	<span class="warning_word">
							                        	{{ 'user.warning.warning'|trans }}
							                      	</span>
							                      	<span class="warning_message">
							                        	{{ form_errors(formRecipe.taste) }}
							                      	</span>
							                    </div>
							                    <br/>
							                {% endif %}
											<div class="input-icon">
									        	{% set opt_taste = {'attr': {'class': 'form-control placeholder-no-fix',
									        		'id':'taste', 'name':'_taste'}} %}
									        	{{ form_widget(formRecipe.taste, opt_taste) }}
									        </div>
										</div>
									</div>

									
									<!-- Et pour le reste du formulaire ... ;) -->
									{{ form_widget(formRecipe) }}

									<div class="center">
										<input type="submit" class="btn btn-login" value="Enregistrer"/>
									</div>
									<br/><br/><br/>
								</form>
					  		</div>

					  	</div>
		        	{% else %}
		        		<div>
		        			<br/><br/><br/><br/><br/>
		        			You're not allowed on this part of the website.
		        		</div>
		        	{% endif %}

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Admin_body %}