{# src/LBF/AdminBundle/Resources/Admin/users.html.twig #}

{% extends "LBFAdminBundle::admin_general.html.twig" %}

{% block title %}
  {{ parent() }} - Newsletter emails
{% endblock %}

{% block LBF_Admin_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content_admin" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_padding" id="section9">

					<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
		        	{% if is_granted("ROLE_ADMIN") %}

		        		<!-- BEGIN nav admin -->
				          {% include 'includes/nav_admin.html.twig' %}
				        <!-- END nav admin -->

					  	<div id="section_admin" class="center">

					  		<div class="row">
					  			<div class="row left">
					    			<a href="javascript:loadContentAdmin('{{ path('lbf_admin_newsletterEmailsSpe', {'emailType':'user'}) }}')" class="btn btn-login">
					    				Emails particuliers
					    			</a>
					    			<a href="javascript:loadContentAdmin('{{ path('lbf_admin_newsletterEmailsSpe', {'emailType':'company'}) }}')" class="btn btn-login">
					    				Emails entreprises
					    			</a>
					    			<a href="javascript:loadContentAdmin('{{ path('lbf_admin_newsletterEmails') }}')" class="btn btn-login">
					    				Tous les emails
					    			</a>
					    		</div>
					    		{% if newsletterEmails|length > 0 %}
									<div class="table-responsive">
				                      <table class="table">
				                        <thead>
				                          <tr>
				                            <th class="center">
				                              Id
				                            </th>
				                            <th class="left">
				                              	Email
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_emails_sorted', {'sortBy':'email', 'order':'ASC'}) }}')" class="btn btn-action-admin">
					                            	<span class="glyphicon glyphicon-triangle-top"></span>
					                            </a>
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_emails_sorted', {'sortBy':'email', 'order':'DESC'}) }}')" class="btn btn-action-admin">
						                            <span class="glyphicon glyphicon-triangle-bottom"></span>
					                            </a>
				                            </th>
				                            <th class="center">
				                              	Inscrit le
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_emails_sorted', {'sortBy':'createdAt', 'order':'ASC'}) }}')" class="btn btn-action-admin">
					                            	<span class="glyphicon glyphicon-triangle-top"></span>
					                            </a>
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_emails_sorted', {'sortBy':'createdAt', 'order':'DESC'}) }}')" class="btn btn-action-admin">
						                            <span class="glyphicon glyphicon-triangle-bottom"></span>
					                            </a>
				                            </th>
				                            <th class="center">
				                              	Type
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_emails_sorted', {'sortBy':'category', 'order':'ASC'}) }}')" class="btn btn-action-admin">
					                            	<span class="glyphicon glyphicon-triangle-top"></span>
					                            </a>
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_emails_sorted', {'sortBy':'category', 'order':'DESC'}) }}')" class="btn btn-action-admin">
						                            <span class="glyphicon glyphicon-triangle-bottom"></span>
					                            </a>
				                            </th>
				                            <th class="center">
				                              	Action
				                            </th>
				                          </tr>
				                        </thead>
				                        <tbody>
				                          {% for email in newsletterEmails %}
				                            <tr>
				                              	<th class="center">
				                                	{{ email.id }}
				                              	</th>
				                              	<td class="left">
				                              		{{ email.email }}
				                              	</td>
				                              	<td class="center">
				                              		{{ email.createdAt|date("H:i d/M/Y") }}
				                              	</td>
				                              	<td class="center">
				                                	{% if email.category == "user" %}
				                                		Particulier
				                                	{% elseif email.category == "company"  %}
				                                		Entreprise
				                                	{% else %}
				                                		ERREUR
				                                	{% endif %}
				                              	</td>
				                              	<td class="center">
				                              		<a href="javascript:loadContentAdmin('{{ path('lbf_admin_edit_email', {'emailId':email.id}) }}')" class="btn btn-action-admin">
						                            	<span class="glyphicon glyphicon-pencil"></span>
					                            	</a>
					                            	<a href="javascript:areYouSureDeleteNewsletter('{{ path('lbf_admin_delete_email', {'emailId':email.id}) }}')" class="btn btn-action-admin">
						                            	<span class="glyphicon glyphicon-trash"></span>
					                            	</a>
					                            </td>
				                            </tr>
				                          {% endfor %}
				                        </tbody>
				                      </table>
				                    </div>
								{% else %}
									<div class="center col-md-9">
										Désolé, aucun email par ici...
									</div>
									<div class="col-md-3"></div>
								{% endif %}
					    	</div>

					  	</div>
		        	{% else %}
		        		<div>
		        			<br/><br/><br/><br/><br/>
		        			You're not allowed on this part of the website.
		        		</div>
		        	{% endif %}

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Admin_body %}