{# src/LBF/AdminBundle/Resources/Admin/recipes.html.twig #}

{% extends "LBFAdminBundle::admin_general.html.twig" %}

{% block title %}
  {{ parent() }} - Recettes
{% endblock %}

{% block LBF_Admin_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content_admin" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_padding" id="section9">

					<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
		        	{% if is_granted("ROLE_ADMIN") %}

		        		<!-- BEGIN nav admin -->
				          {% include 'includes/nav_admin.html.twig' %}
				        <!-- END nav admin -->

					  	<div id="section_admin" class="center">

					  		<div class="row">
					  			<div class="row90 left">
					    			<a href="{{ path('lbf_admin_new_recipe') }}" class="btn btn-admin">
					    				Nouvelle recette
					    			</a>
					    		</div>
					    		{% if recipes|length > 0 %}
									<div class="table-responsive">
				                      <table class="table">
				                        <thead>
				                          <tr>
				                            <th class="center">
				                              Id
				                            </th>
				                            <th class="center">
				                              Image
				                            </th>
				                            <th class="center">
				                              Rattachée à
				                            </th>
				                            <th class="center">
				                              Titre
				                            </th>
				                            <th class="center">
				                              Tps prep (min)
				                            </th>
				                            <th class="center">
				                              Cuisson (min)
				                            </th>
				                            <th class="center">
				                              Pour
				                            </th>
				                            <th class="center">
				                              Origine
				                            </th>
				                            <th class="center">
				                              Description
				                            </th>
				                            <th class="center">
				                              Ingrédients
				                            </th>
				                            <th class="center">
				                              Préparation
				                            </th>
				                            <th class="center">
				                              Créée le
				                            </th>
				                            <th class="center">
				                              Modifiée le
				                            </th>
				                            <th class="center">
				                              Statut
				                            </th>
				                            <th class="center">
				                              Action
				                            </th>
				                          </tr>
				                        </thead>
				                        <tbody>
				                          {% for recipe in recipes %}
				                            <tr>
				                            	<th class="center">
				                            		{{ recipe.id }}
					                            </th>
					                            <td class="center">
					                              	{% if recipe.webPath|length > 0 %}
														<div class="product_img_admin" style="background-image: url('{{ asset(recipe.webPath) }}'); background-size: cover; background-position: 50%;">
														</div>
													{% else %}
														<img src="{{ asset('img/system/defaults/default_img.png') }}" alt="Default" class="product_img_admin"/>
													{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.element|length > 0 %}
					                            		{{ recipe.element.nameFr }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.title|length > 0 %}
					                            		{{ recipe.title }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.duration|length > 0 %}
					                            		{{ recipe.duration }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.cooking|length > 0 %}
					                            		{{ recipe.cooking }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.forHowMany|length > 0 %}
					                            		{{ recipe.forHowMany }}p
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.origin|length > 0 %}
					                            		{{ recipe.origin }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	Description
					                            	{% if recipe.description|length > 0 %}
					                            		{{ recipe.description }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.ingredients|length > 0 %}
					                            		<ul class="left">
					                            		{% for ing in recipe.ingredients %}
					                            			{# evaluates to true if the variable is iterable #}
															{% if ing is iterable %}
																<ul class="left">
																{% set index_ing = 0 %}
															    {% for sub_ing in ing %}
															        <li>
															        	{% if index_ing == 0 %}
															        	<strong>
															        		{{ sub_ing }}
															        	</strong>
															        	{% else %}
															        	{{ sub_ing }}
															        	{% endif %}
															        </li>
															        {% set index_ing = index_ing + 1 %}
															    {% endfor %}
																</ul>
															{% else %}
															    {# ing is probably a string #}
						                            			<li>
						                            				{{ ing }}
						                            			</li>
															{% endif %}
					                            		{% endfor %}
					                            		</ul>
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.preparation|length > 0 %}
					                            		<ul class="left">
					                            		{% for prep in recipe.preparation %}
					                            			{# evaluates to true if the variable is iterable #}
															{% if prep is iterable %}
																<ul class="left">
																{% set index_prep = 0 %}
															    {% for sub_prep in prep %}
															        <li>
															        	{% if index_prep == 0 %}
															        	<strong>
															        		{{ sub_prep }}
															        	</strong>
															        	{% else %}
															        	{{ sub_prep }}
															        	{% endif %}
															        </li>
															        {% set index_prep = index_prep + 1 %}
															    {% endfor %}
																</ul>
															{% else %}
															    {# prep is probably a string #}
						                            			<li>
						                            				{{ prep }}
						                            			</li>
															{% endif %}
					                            		{% endfor %}
					                            		</ul>
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.createdAt|length > 0 %}
					                            		{{ recipe.createdAt|date('d/M/Y') }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.updatedAt|length > 0 %}
					                            		{{ recipe.updatedAt|date('d/M/Y') }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <th class="center hover_popup">
					                            	{% if recipe.active %}
					                              		{% if recipe.active == "active" %}
					                              			Actif
					                              		{% elseif recipe.active == "toCome" %}
					                              			A venir
					                              		{% elseif recipe.active == "soldOut" %}
					                              			Epuisé
					                              		{% elseif recipe.active == "inactive" %}
					                              			Inactif
					                              		{% else %}
					                              			Erreur
					                              			<span class="italic">
					                              				Vous devez choisir parmi les statuts proposés
						                              		</span>
					                              		{% endif %}
					                              	{% else %}
					                              		Erreur
					                              		<span class="italic">
															Vous devez choisir parmi les statuts proposés
					                              		</span>
					                              	{% endif %}
					                            </th>
					                            <td class="center">
					                            	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_edit_recipe', {'recipeId':recipe.id}) }}')" class="btn btn-action-admin">
						                            	<span class="glyphicon glyphicon-pencil"></span>
					                            	</a>
					                            	<a href="javascript:areYouSureDeleteRecipe('{{ path('lbf_admin_delete_recipe', {'recipeId':recipe.id}) }}')" class="btn btn-action-admin">
						                            	<span class="glyphicon glyphicon-trash"></span>
					                            	</a>
					                            </td>
				                            </tr>
				                          {% endfor %}
				                        </tbody>
				                      </table>
				                    </div>
								{% else %}
									<div class="center col-md-9">
										Désolé, aucune recette...
									</div>
									<div class="col-md-3"></div>
								{% endif %}
					    	</div>

					  	</div>
		        	{% else %}
		        		<div>
		        			<br/><br/><br/><br/><br/>
		        			You're not allowed on this part of the website.
		        		</div>
		        	{% endif %}

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Admin_body %}