{# src/LBF/AdminBundle/Resources/Admin/recipes.html.twig #}

{% extends "LBFAdminBundle::admin_general.html.twig" %}

{% block title %}
  {{ parent() }} - Recettes
{% endblock %}

{% block LBF_Admin_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content_admin" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_padding" id="section9">

					<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
		        	{% if is_granted("ROLE_ADMIN") %}

		        		<!-- BEGIN nav admin -->
				          {% include 'includes/nav_admin.html.twig' %}
				        <!-- END nav admin -->

					  	<div id="section_admin" class="center">

					  		<div class="row">
					  			<div class="row90 left">
					    			<a href="{{ path('lbf_admin_new_recipe') }}" class="btn btn-admin">
					    				Nouvelle recette
					    			</a>
					    		</div>
					    		{% if recipes|length > 0 %}
									<div class="table-responsive">
				                      <table class="table">
				                        <thead>
				                          <tr>
				                            <th class="center">
				                              Id
				                            </th>
				                            <th class="center">
				                              Image
				                            </th>
				                            <th class="center">
				                              Rattachée à
				                            </th>
				                            <th class="center">
				                              Titre
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_recipes_sorted', {'sortBy':'title', 'order':'ASC'}) }}')" class="btn btn-action-admin">
					                            	<span class="glyphicon glyphicon-triangle-top"></span>
					                            </a>
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_recipes_sorted', {'sortBy':'title', 'order':'DESC'}) }}')" class="btn btn-action-admin">
						                            <span class="glyphicon glyphicon-triangle-bottom"></span>
						                        </a>
				                            </th>
				                            <th class="center">
				                              Tps prep (min)
				                            </th>
				                            <th class="center">
				                              Cuisson (min)
				                            </th>
				                            <th class="center">
				                              Pour
				                            </th>
				                            <th class="center">
				                              Origine
				                            </th>
				                            <th class="center">
				                              Description
				                            </th>
				                            <th class="center">
				                              Ingrédients
				                            </th>
				                            <th class="center">
				                              Préparation
				                            </th>
				                            <th class="center">
				                              Langues dispo
				                            </th>
				                            <th class="center">
				                              Créée le
				                            </th>
				                            <th class="center">
				                              Modifiée le
				                            </th>
				                            <th class="center">
				                              Goût
				                            </th>
				                            <th class="center">
				                              Statut
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_recipes_sorted', {'sortBy':'status', 'order':'ASC'}) }}')" class="btn btn-action-admin">
					                            	<span class="glyphicon glyphicon-triangle-top"></span>
					                            </a>
				                              	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_recipes_sorted', {'sortBy':'status', 'order':'DESC'}) }}')" class="btn btn-action-admin">
						                            <span class="glyphicon glyphicon-triangle-bottom"></span>
						                        </a>
				                            </th>
				                            <th class="center">
				                              Action
				                            </th>
				                          </tr>
				                        </thead>
				                        <tbody>
				                          {% for recipe in recipes %}
				                            <tr>
				                            	<th class="center">
				                            		{{ recipe.id }}
					                            </th>
					                            <td class="center">
					                              	{% if recipe.alt|length > 0 and recipe.url|length > 0 %}
														<div class="product_img_admin" style="background-image: url('{{ asset(recipe.webPath) }}'); background-size: cover; background-position: 50%;">
														</div>
													{% else %}
														<img src="{{ asset('img/system/defaults/default_img.png') }}" alt="Default" class="product_img_admin"/>
													{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.element|length > 0 %}
					                            		{{ recipe.element.nameEs }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.title|length > 0 %}
					                            		{{ recipe.title }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.duration|length > 0 %}
					                            		{{ recipe.duration }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.cooking|length > 0 %}
					                            		{{ recipe.cooking }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.forHowMany|length > 0 %}
					                            		{{ recipe.forHowMany }}p
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.origin|length > 0 %}
					                            		{{ recipe.origin }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	Description
					                            	{% if recipe.descriptionEs|length > 0 %}
					                            		{{ recipe.descriptionEs | truncate(50, false, '...')  }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.ingredientsEs|length > 0 %}
					                            		<ul class="left">
				                            			{% set ing_index = 0 %}
					                            		{% for ing in recipe.ingredientsEs %}
					                            			{% if ing_index < 2 %}
					                            			<li>
					                            				{{ ing | truncate(50, false, '...')  }}
					                            			</li>
					                            			{% elseif ing_index == 2 %}
					                            			...
					                            			{% endif %}
					                            			{% set ing_index = ing_index + 1 %}
					                            		{% endfor %}
					                            		</ul>
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.preparationEs|length > 0 %}
					                            		<ul class="left">
					                            		{% set prep_index = 0 %}
					                            		{% for prep in recipe.preparationEs %}
					                            			{% if prep_index < 2 %}
					                            			<li>
					                            				{{ prep | truncate(50, false, '...')  }}
					                            			</li>
					                            			{% elseif prep_index == 2 %}
					                            			...
					                            			{% endif %}
					                            			{% set prep_index = prep_index + 1 %}
					                            		{% endfor %}
					                            		</ul>
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                              	{% if recipe.descriptionEs|length > 0 and recipe.ingredientsEs|length > 0 and recipe.preparationEs|length > 0 %}
					                              		<img src="{{ asset('img/system/language_flags/es.png') }}" alt="ES" class="language_flag_sm_admin"/>
					                              	{% endif %}
					                              	{% if recipe.descriptionFr|length > 0 and recipe.ingredientsFr|length > 0 and recipe.preparationFr|length > 0 %}
					                              		<img src="{{ asset('img/system/language_flags/fr.png') }}" alt="FR" class="language_flag_sm_admin"/>
					                              	{% endif %}
					                              	{% if recipe.descriptionEn|length > 0 and recipe.ingredientsEn|length > 0 and recipe.preparationEn|length > 0 %}
					                              		<img src="{{ asset('img/system/language_flags/en.png') }}" alt="EN" class="language_flag_sm_admin"/>
					                              	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.createdAt|length > 0 %}
					                            		{{ recipe.createdAt|date('d/M/Y') }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <td class="center">
					                            	{% if recipe.updatedAt|length > 0 %}
					                            		{{ recipe.updatedAt|date('d/M/Y') }}
					                            	{% else %}
					                            		---
					                            	{% endif %}
					                            </td>
					                            <th class="center hover_popup">
					                            	{% if recipe.taste %}
					                              		{% if recipe.taste == 1 %}
					                              			Salée
					                              		{% elseif recipe.taste == 0 %}
					                              			Sucrée
					                              		{% else %}
					                              			Erreur
					                              			<span class="italic">
					                              				Vous devez choisir parmi les statuts proposés
						                              		</span>
					                              		{% endif %}
					                              	{% else %}
					                              		Erreur
					                              		<span class="italic">
															Vous devez choisir parmi les statuts proposés
					                              		</span>
					                              	{% endif %}
					                            </th>
					                            <th class="center hover_popup">
					                            	{% if recipe.active %}
					                              		{% if recipe.active == "active" %}
					                              			Actif
					                              		{% elseif recipe.active == "new" %}
					                              			Nouveauté
					                              		{% elseif recipe.active == "toCome" %}
					                              			A venir
					                              		{% else %}
					                              			Erreur
					                              			<span class="italic">
					                              				Vous devez choisir parmi les statuts proposés
						                              		</span>
					                              		{% endif %}
					                              	{% else %}
					                              		Erreur
					                              		<span class="italic">
															Vous devez choisir parmi les statuts proposés
					                              		</span>
					                              	{% endif %}
					                            </th>
					                            <td class="center">
					                            	<a href="javascript:loadContentAdmin('{{ path('lbf_admin_edit_recipe', {'recipeId':recipe.id}) }}')" class="btn btn-action-admin">
						                            	<span class="glyphicon glyphicon-pencil"></span>
					                            	</a>
					                            	<a href="javascript:areYouSureDeleteRecipe('{{ path('lbf_admin_delete_recipe', {'recipeId':recipe.id}) }}')" class="btn btn-action-admin">
						                            	<span class="glyphicon glyphicon-trash"></span>
					                            	</a>
					                            </td>
				                            </tr>
				                          {% endfor %}
				                        </tbody>
				                      </table>
				                    </div>
								{% else %}
									<div class="center col-md-9">
										Désolé, aucune recette...
									</div>
									<div class="col-md-3"></div>
								{% endif %}
					    	</div>

					  	</div>
		        	{% else %}
		        		<div>
		        			<br/><br/><br/><br/><br/>
		        			You're not allowed on this part of the website.
		        		</div>
		        	{% endif %}

			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Admin_body %}